<div ng-if="!$ctrl.isMerging">
    <a class="btn btn-primary" ng-click="$ctrl.newPerson()">
        <i class="fas fa-plus-circle"></i>
        <translate>Add New Person</translate>
    </a>
    <button class="btn btn-reverse" ng-click="$ctrl.isMerging = true" ng-disabled="$ctrl.data.length < 2">
        <i class="fas fa-code-fork"></i>
        <translate>Merge People</translate>
    </button>
    <button type="button" class="btn btn-reverse" ng-click="$ctrl.emailAll()">
        <i class="far fa-envelope"></i> <translate>Email All</translate>
    </button>
</div>
<div ng-if="$ctrl.isMerging">
    <a class="btn btn-link" ng-click="$ctrl.cancelMerge()" translate>
        Cancel
    </a>
    <a class="btn btn-primary" ng-click="$ctrl.openMergeModal()">
        <i class="fas fa-code-fork"></i>
        <translate>Merge Selected People</translate>
    </a>
    &nbsp;
    <a class="tip ng-scope"
       data-trigger="hover"
       data-content="{{ 'Select people to merge by tapping on the person.' | translate }}"
       data-placement="top"
       bs-popover="">
        <i class="fas fa-question-circle"></i>
    </a>
</div>
<div class="blankslate mt-2" ng-if="$ctrl.data.length === 0 && !$ctrl.loading">
    <i class="fas fa-users blankslate-icon"></i>
    <h3 translate>No people associated with this contact</h3>
    <a ng-click="$ctrl.newPerson()" class="btn btn-default" translate>Add New Person</a>
</div>
<div class="row people-row mb-2">
    <div class="col-sm-6" ng-repeat="remainder in [0,1]">
        <contact-person is-merging="$ctrl.isMerging"
                        ng-repeat="person in $ctrl.data track by person.id"
                        ng-if="$index % 2 == remainder"
                        contact="$ctrl.contacts.current"
                        person="person"
                        on-select-person="$ctrl.selectPerson(person)">
        </contact-person>
    </div>
</div>
