tasks-list-item {
    div.item {
        display: grid;
        grid-template-columns: 14px 30px auto auto 45px 52px 20px 20px;
        padding: 10px 15px;
        height: 45px;
        white-space: nowrap;
        font-size: 14px;
        line-height: 25px;
        background-color: $cru-white;
        transition: background-color 0.2s;
        cursor: pointer;
        > .select-box {
            grid-column: 1;
            display: block;
            height: 11px;
            border-radius: 3px;
            line-height: 22px;
            align-self: center;
            &.selected {
                background-color: $cru-blue;
            }
        }
        &:hover {
            > div.trash {
                @extend .fade-in.ng-enter;
                opacity: 1;
            }
            div.select-box {
                @extend .fade-in.ng-enter;
                border: 1px solid $tag-bgcolor;
            }
        }
        > a.complete {
            text-align: center;
            grid-column: 2;
            line-height: 29px;
            &:hover {
                > i {
                    font-weight: 900;
                }
                color: $color-success;
            }
        }
        > div.content {
            grid-column: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            > span.contacts {
                margin-left: 5px;
            }
        }
        > div.tags {
            padding-right: 5px;
            text-align: right;
            grid-column: 4;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        > div.date {
            grid-column: 5;
        }
        > div.comments {
            text-align: center;
            grid-column: 6;
            .btn {
                width: 51px;
            }
        }
        > a.star {
            text-align: center;
            grid-column: 7;
            &:hover {
                > i {
                    font-weight: 900;
                }
            }
        }
        > div.trash {
            text-align: center;
            grid-column: 8;
            @extend .fade-in.ng-leave;
            opacity: 0;
            &:hover {
                > a > i {
                    font-weight: 900;
                    color: $color-danger;
                }
            }
        }
        .item-text {
            color: $cru-blue;
            > a a:visited {
                color: $cru-blue;
            }
        }

        .tag {
            margin-top: -2px;
            line-height: 20px;
            height: 20px;
        }
        &:hover {
            background-color: $hover_bg;
        }
        &--selected {
            background-color: $selected_bg;
            &:hover {
                background-color: $selected_hover_bg;
            }
        }
    }
}
