tasks-list-item {
    .item {
        padding: 10px 15px;
        min-height: 26px;
        .item-title {
            margin-left: 60px;
            line-height: 26px;
            .tag {
                margin-top: -2px;
                line-height: 20px;
                height: 20px;
            }
        }
        &--selected {
            background-color: #ddd;
        }
    }
    .comments, .contacts {
        border-top: 1px solid #eee;
        padding-bottom: 15px;
        .comment {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            .content {
                white-space: pre-wrap;
            }
            textarea {
                margin-bottom: 15px;
            }
        }
        .links {
            padding: 10px 15px;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
        }
    }
}
