tasks-list-item {
    .item {
        padding: 10px 15px;
        min-height: 26px;
        .item-title {
            margin-left: 60px;
            line-height: 26px;
            .tag {
                margin-top: -2px;
                line-height: 20px;
                height: 20px;
            }
        }
        &--selected {
            background-color: #ddd;
        }
    }
}
