<div class="item"
     ng-class="{ 'item--selected' : $ctrl.selected }"
     ng-click="$ctrl.select($event)">
     <div class="select-box icon-fixed-width" ng-class="{ 'selected': $ctrl.selected }"></div>
    <a ng-click="$ctrl.complete(); $event.stopPropagation();"
       class="complete"
       title="{{::'Completed' | translate}}"
       ng-disabled="::$ctrl.task.completed">
        <i class="far" ng-class="::$ctrl.task.completed ? 'fa-check-circle text-success' : 'fa-circle'" ></i>
    </a>
    <div class="content">
        <a ng-click="$ctrl.edit(); $event.stopPropagation();" class="subject">
            <strong>{{ ::$ctrl.getTranslatedActivity($ctrl.task.activity_type) }}</strong>
            {{ ::$ctrl.task.subject }}
        </a>
        <span ng-if="::$ctrl.task.completed" translate-params-result="::$ctrl.task.result" class="result" translate>
            ({{ result }})
        </span>
        <span class="contacts">
            <strong ng-repeat="activityContact in ::$ctrl.task.activity_contacts | limitTo : 10">
                <a ng-click="$ctrl.openContacts(); $event.stopPropagation();" ng-if="!$ctrl.contact">
                    {{ ::activityContact.contact.name }}
                </a>
            </strong>
            <strong ng-repeat="activityContact in ::$ctrl.task.activity_contacts | limitTo : 10"
                    ng-if="$ctrl.contact && !$ctrl.inDrawer">
                    {{ ::activityContact.contact.name }}
            </strong>
        </span>
    </div>
    <div class="tags">
        <span class="tag" ng-repeat="tag in $ctrl.task.tag_list" ng-if="!$ctrl.inDrawer">{{ ::tag |limitTo: 15 }}</span>
    </div>
    <div class="date">
        <span ng-if="::!$ctrl.task.no_date && $ctrl.task.start_at && !$ctrl.task.completed">
            {{ ::$ctrl.task.start_at | localizeShort }}
        </span>
        <span ng-if="::!$ctrl.task.no_date && $ctrl.task.start_at && $ctrl.task.completed">
            {{ ::$ctrl.task.completed_at | localizeShortWYear }}
        </span>
    </div>
    <div class="btn-group comments">
        <a class="btn btn-xs btn-default"
           ng-click="$ctrl.openComments(); $event.stopPropagation();"
           title="{{ ::'View Comments' | translate }}" ng-if="!$ctrl.inDrawer">
            <i class="far fa-comment"></i>
            &nbsp;
            {{ $ctrl.task.comments.length || $ctrl.task.comments_count }}
        </a>
    </div>
    <a ng-click="$ctrl.star(); $event.stopPropagation();" title="{{::'Starred' | translate}}" class="star">
        <i class="fa-star" ng-class="$ctrl.task.starred ? 'fas ' : 'far'" ></i>
    </a>
    <div class="trash">
        <a ng-click="$ctrl.delete(); $event.stopPropagation();"
           title="{{ ::'Delete Task' | translate }}">
            <i class="far fa-trash"></i>
        </a>
    </div>
</div>
