.modal.center {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    .modal-dialog {
        position: relative;
        top: auto;
        left: auto;
        margin: 0 auto;
        transform: none;
        .modal-content {
            position: relative;
            margin: 3pc 0 5pc;
            border-radius: 0;
            .alerts {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
            }
            .alert-padding {
                display: none;
            }
            .modal-body {
                small {
                    font-size: 11px;
                    font-weight: normal;
                }
                .empty-map {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 200px;
                    background-color: color-gray(25);
                    color: $color-white;
                    font-size: 75px;
                    line-height: 200px;
                    text-align: center;
                    z-index: 10;
                }
                ng-map {
                    margin: -15px -15px 15px;
                    > div {
                        min-height: 200px;
                    }
                    &:first-child {
                        margin-top: -15px;
                    }
                }
                .modal-footer {
                    margin: 0 -15px -15px;
                }
            }
        }
        .modal-header {
            padding: 0;
            .modal-title {
                letter-spacing: 0.025em;
                line-height: 56px;
                text-align: center;
                text-transform: uppercase;
            }
            a.close {
                margin: 0;
                padding: 0 20px;
                transition: color 0.2s;
                border-left: 1px solid color-gray(90);
                color: color-gray(90);
                font-size: 25px;
                letter-spacing: 0.025em;
                line-height: 56px;
                opacity: 1;
                i.fa-angle-left {
                    margin-left: -5px;
                }
                &:hover {
                    color: color-gray(35);
                }
            }
        }
        .modal-footer {
            .btn-link {
                color: color-gray(35);
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .row {
            margin: 0 0 5px;
            [class*='col-'] {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
        .checkbox-label {
            display: inline-block;
        }
        .modal-panel-container {
            margin: -15px;
            .modal-panel-title {
                border-bottom: 1px solid color-gray(90);
                background-color: $color-white;
                font-size: 1.25rem;
                letter-spacing: 0.025em;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
            }
            .modal-panel-left {
                padding: 0;
                border-right: 1px solid color-gray(90);
            }
            .modal-panel-right {
                padding: 0;
                background-color: color-gray(95);
            }
            .modal-panel-content {
                padding: 15px;
                ul.nav.nav-tabs {
                    margin: -15px;
                    margin-bottom: 15px;
                    > li {
                        &:first-child {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
    >.modal-size-lg {
        width: 80% !important;
        max-width: 80% !important;
    }
}
.fade {
    transition: opacity 0.15s linear;
    opacity: 0;
}
.fade.in {
    opacity: 1;
}
.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    overflow: hidden;
    z-index: 1050;
    .modal-dialog {
        .modal-content {
            border-radius: 0;
            .modal-body {
                position: relative;
                .empty-map {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 200px;
                    background-color: color-gray(25);
                    color: $color-white;
                    font-size: 75px;
                    line-height: 200px;
                    text-align: center;
                    z-index: 10;
                }
                ng-map {
                    margin: -15px -15px 15px;
                    > div {
                        min-height: 200px;
                    }
                    &:first-child {
                        margin-top: -15px;
                    }
                }
            }
        }
        .modal-header {
            min-height: 56px;
            a.close {
                font-size: 25px;
                line-height: 25px;
            }
        }
        &.modal-small {
            max-width: 400px;
        }
        .row {
            margin: 0;
            [class*='col-'] {
                padding-right: 5px;
                padding-left: 5px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
.modal.fade .modal-dialog {
    transform: translate3d(0, -25%, 0);
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    border: 1px solid $color-black-alpha-20;
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    background-color: $color-white;
    box-shadow: 0 3px 9px $color-black-alpha-50;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-black;
    z-index: 1040;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid color-gray(90);
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    border-top: 1px solid color-gray(90);
    text-align: right;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        box-shadow: 0 5px 15px $color-black-alpha-50;
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
