<div class="modal-dialog" ng-class="'modal-size-' + $ctrl.size">
    <form name="modalForm" novalidate ng-submit="modalForm.$valid && $ctrl.saveAndBlock(); $event.preventDefault()">
        <div class="modal-content" block-ui="modalBlockUI_{{$ctrl.$scope.$id}}">
            <div class="modal-header">
                <div class="pull-right">
                    <a class="close" ng-click="$ctrl.cancel()">
                        <i class="fa fa-angle-right"></i><i class="fa fa-angle-left"></i>
                    </a>
                </div>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <alerts modal="true"></alerts>
            <div class="modal-body" ng-transclude></div>
            <div class="modal-footer" ng-if="!$ctrl.hideFooter">
                <div class="pull-left">
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteAndBlock()" ng-if="$ctrl.$attrs.delete && $ctrl.showDelete" ng-disabled="$ctrl.saving">
                        <i class="fa fa-trash"></i>
                        &nbsp;
                        <span translate>Remove</span>
                    </button>
                </div>
                <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()" ng-if="$ctrl.$attrs.cancel && $ctrl.$attrs.save">{{$ctrl.cancelText}}</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!modalForm.$valid || $ctrl.saving" ng-if="$ctrl.$attrs.save">{{$ctrl.saveText}}</button>
            </div>
        </div>
    </form>
</div>
