<impersonation-bar></impersonation-bar>
<menu class="menu-global"></menu>
<div id="body" bs-alert data-container="body" block-ui="root">
    <div id="content" class="container" ng-class="{fullscreen: $ctrl.session.fullScreen}">
        <notices></notices>
        <ui-view></ui-view>
        <a id="exit-fullscreen" ng-if="$ctrl.session.fullScreen" ng-click="$ctrl.session.fullScreen = false">
            <span class="icons">
                <i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i>
            </span>
        </a>
    </div>
    <bottom></bottom>
</div>
