<modal size="lg" title="{{'Add Referrals' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <div class="table-wrapper table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate>First Name</th>
                <th translate>Spouse</th>
                <th translate>Last Name</th>
                <th translate>Street Address</th>
                <th translate>City</th>
                <th translate>State</th>
                <th translate>Postal Code</th>
                <th translate>Phone</th>
                <th translate>Email</th>
                <th translate>Spouse Phone</th>
                <th translate>Spouse Email</th>
                <th translate>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row" ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].first_name">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].spouse_first_name">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].last_name">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].street">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].city">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].state">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].postal_code">
                </td>
                <td>
                    <input class="form-control" type="tel" ng-model="$ctrl.models[i].phone" pattern="[\d+\-\(\)]*">
                </td>
                <td>
                    <input class="form-control" type="email" ng-model="$ctrl.models[i].email">
                </td>
                <td>
                    <input class="form-control" type="tel" ng-model="$ctrl.models[i].spouse_phone" pattern="[\d+\-\(\)]*">
                </td>
                <td>
                    <input class="form-control" type="email" ng-model="$ctrl.models[i].spouse_email">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.models[i].notes">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</modal>
