<div class="row" ng-if="!$ctrl.deleted">
    <div class="col-sm-7">
        <collection-selector
            item-name="{{::'Person' | translate}}"
            display-text="$ctrl.familyRelationship.related_person.display_name"
            search-text="$ctrl.familyRelationship.related_person.display_name"
            search="$ctrl.search(text)"
            select="$ctrl.select(item)">
        </collection-selector>
    </div>
    <div class="col-sm-4">
        <select chosen class="form-control" ng-model="$ctrl.familyRelationship.relationship" data-placeholder="{{ 'Select an Option *' | translate }}"
                disable-search="true">
            <option translate>Husband</option>
            <option translate>Son</option>
            <option translate>Father</option>
            <option translate>Brother</option>
            <option translate>Uncle</option>
            <option translate>Nephew</option>
            <option translate>Cousin Male</option>
            <option translate>Grandfather</option>
            <option translate>Grandson</option>
            <option translate>Wife</option>
            <option translate>Daughter</option>
            <option translate>Mother</option>
            <option translate>Sister</option>
            <option translate>Aunt</option>
            <option translate>Niece</option>
            <option translate>Cousin Female</option>
            <option translate>Grandmother</option>
            <option translate>Granddaughter</option>
        </select>
    </div>
    <div class="col-sm-1">
        <button type="button" ng-click="$ctrl.remove()" class="btn btn-block btn-default"  title="{{'Delete' | translate}}">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
