<div class="row" ng-if="!$ctrl.deleted">
    <div class="col-sm-7">
        <select class="form-control" ng-model="$ctrl.familyRelationship.related_person.id" data-placeholder="{{ 'Select an Option *' | translate }}"
                chosen>
            <option ng-repeat="person in $ctrl.peopleForRelationship | orderBy: 'first_name' | orderBy: 'last_name' track by person.id" ng-value="person.id"
                ng-hide="person.id == $ctrl.person.id">
                {{person.last_name}}, {{person.first_name}}
            </option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" ng-model="$ctrl.familyRelationship.relationship" data-placeholder="{{ 'Select an Option *' | translate }}"
                disable-search="true"
                chosen>
            <option translate>Husband</option>
            <option translate>Son</option>
            <option translate>Father</option>
            <option translate>Brother</option>
            <option translate>Uncle</option>
            <option translate>Nephew</option>
            <option translate>Cousin Male</option>
            <option translate>Grandfather</option>
            <option translate>Grandson</option>
            <option translate>Wife</option>
            <option translate>Daughter</option>
            <option translate>Mother</option>
            <option translate>Sister</option>
            <option translate>Aunt</option>
            <option translate>Niece</option>
            <option translate>Cousin Female</option>
            <option translate>Grandmother</option>
            <option translate>Granddaughter</option>
        </select>
    </div>
    <div class="col-sm-1">
        <button type="button" ng-click="$ctrl.remove()" class="btn btn-block btn-default"  title="{{Delete | translate}}">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
