<div ng-if="$ctrl.preferencesMerges.data.mergeable_accounts.length == 0">
    <p>
        <i class="fa-warning fa"></i>
        <span translate>
            You only have access to this account, so you cannot merge it with another one yet.
            Share this account with someone else first. Once they accept your share, you will be
            able to merge your accounts together.
        </span>
    </p>
</div>
<div ng-if="$ctrl.accounts.data.length > 0">
    <div class="row">
        <div class="col-sm-6 well border-primary">
            <label for="from" translate>
                Merging From
            </label>
            <select id="from" ng-model="$ctrl.selected_account_id" chosen>
                <option style="display:none" value="" translate>Select an Account</option>
                <option value="{{account.id}}" ng-repeat="account in $ctrl.accounts.data" ng-if="account.id !== $ctrl.api.account_list_id">{{account.name}}</option>
            </select>
        </div>
        <div class="col-md-1" style="text-align: center; height: 140px; display: inline-block"><i class="fa fa-2x fa-arrow-right text-success" style="padding-top: 40px"></i></div>
        <div class="col-sm-5 well border-success">
            <label for="into" translate>
                Merging Into
            </label>
            <select type="text" id="into" ng-model="$ctrl.accounts.current.name" ng-disabled="true" chosen>
                <option>{{$ctrl.accounts.current.name}}</option>
            </select>
        </div>
    </div>
    <p>
    <label>
        <input type="checkbox" ng-model="accept"> This account merge cannot be undone, I accept.
    </label>
    </p>
    <button type="submit" ng-click="$ctrl.merge()" ng-disabled="$ctrl.saving || !accept" class="btn btn-primary btn-actionable">
        <span translate>Merge</span>&nbsp;
        <span class="btn-progress ng-hide" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
    </button>
</div>

