<div ng-if="$ctrl.preferencesMerges.data.mergeable_accounts.length == 0">
    <p>
        <i class="fa-warning fa"></i>
        <span translate>
            You only have access to this account, so you cannot merge it with another one yet.
            Share this account with someone else first. Once they accept your share, you will be
            able to merge your accounts together.
        </span>
    </p>
</div>
<div ng-if="$ctrl.accounts.data.length > 0">
    <p translate>
        You are merging the account below into your currently selected account. Merges are irreversible. We recommend that you are logged into the primary account.
    </p>
    <div class="form-group">
        <select ng-model="$ctrl.selected_account_id" chosen>
            <option style="display:none" value="" translate>Select an Account</option>
            <option value="{{account.id}}" ng-repeat="account in $ctrl.accounts.data" ng-if="account.id !== $ctrl.api.account_list_id">{{account.name}}</option>
        </select>
        <button type="submit" ng-click="$ctrl.merge()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
            <span translate>Merge</span>&nbsp;
            <span class="btn-progress ng-hide" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
        </button>
    </div>
</div>
