<div class="row">
    <div class="col-xs-10">
        <div class="panel" block-ui="fix-phone-numbers-item-{{$ctrl.person.id}}">
            <div class="panel-body">
                <avatar src="$ctrl.person.avatar"></avatar>
                <div class="avatar-on-left">
                    <a ng-click="$ctrl.openPersonModal()">
                        <h4>{{$ctrl.person.first_name}} {{$ctrl.person.last_name}}</h4>
                    </a>
                    <div class="row">
                        <div class="col-xs-4">
                            <label translate>Source</label>
                        </div>
                        <div class="col-xs-2 text-center">
                            <label translate>Primary</label>
                        </div>
                    </div>
                    <fix-phone-numbers-item-field
                        ng-repeat="phoneNumber in $ctrl.person.phone_numbers"
                        person="$ctrl.person"
                        phone-number="phoneNumber"></fix-phone-numbers-item-field>
                    <fix-phone-numbers-item-field
                        person="$ctrl.person"></fix-phone-numbers-item-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-gray btn-block confirm-item" ng-click="$ctrl.save()" ng-disabled="!$ctrl.hasPrimary()">
            <i class="fa fa-check-circle"></i> <translate>Confirm</translate>
        </button>
    </div>
</div>
