<div class="network_button network_connect">
    <p translate>
        Add or change the organizations that sync donation information with this mpdx account. Removing an organization will not remove past information, but will prevent future donations and contacts from syncing.
    </p>
    <div ng-show="$ctrl.page == 'org_list'">
        <div ng-show="$ctrl.users.organizationAccounts.length == 0">
            <h3 translate>Let's start by connecting to your organizations</h3>
            <div class="import_button">
                <a class="btn btn-primary" ng-click="$ctrl.page = 'select_org'" translate>Add Account</a>
            </div>
        </div>
        <div ng-show="$ctrl.users.organizationAccounts.length != 0">
            <div ng-repeat="account in $ctrl.users.organizationAccounts" class="network_connections">
                <div class="account_single">
                    <div class="actions">
                        <a class="inlineaction delete" ng-click="$ctrl.disconnect(account.id)" translate>Delete</a>
                    </div>
                    <span class="account_name">
                        <strong>{{account.organization.name}}</strong> {{account.username}}
                        <span ng-show="account.api_class == 'DataServer'">
                          <a class="edit ico ico_edit no-new-tab" ng-click="$ctrl.editAccount(account)" translate>Edit</a>
                        </span>
                    </span>
                    <div ng-show="account.api_class == 'OfflineOrg'" class="importoptions formstyles" data-behavior="org_import_options">
                        <a ng-click="account.tntImportToggle = !account.tntImportToggle" translate>Import TntConnect DataSync file</a>
                        <div ng-show="account.tntImportToggle">
                            <form ng-submit="$ctrl.save(f)">
                            <div class="field">
                                <div class="form-group btn btn-default" ng-model="f.file" ngf-select translate>
                                    Choose File
                                </div>
                            </div>
                            <div class="hint" translate>
                                Note: this file should be in a TntConnect DataSync file (.tntmpd) from your organization, not your local TntConnect database file (.mpddb). To import your local TntConnect database, click "Import Contacts" below next to the TntConnect logo.
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary" translate>Import</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="import_button">
                <a class="btn btn-primary" ng-click="$ctrl.page = 'select_org'" translate>Add another Account</a>
            </div>
        </div>
    </div>
    <div ng-show="$ctrl.page == 'select_org'">
        <h3 translate>Add Account</h3>
        <p>
            <select ng-model="$ctrl.selected" ng-disabled="$ctrl.saving" ng-options="key as value for (key, value) in $ctrl.serverConstants.data.organizations track by key" chosen>
            </select>
        </p>
        <div ng-show="$ctrl.selected.api_class === undefined">
            <a data-toggle="collapse" data-target="#org_not_found" aria-expanded="false" aria-controls="org_not_found" translate>Can't find your organization?</a>
            <br />
            <p>
                <div class="collapse" id="org_not_found">
                    <div class="well">
                        <h4 translate>You must select an organization to continue</h4>
            <p translate>
                MPDX is open
                to any missions organization or church. If your organization is listed in the dropdown
                box, you can just sign up. If not, we need to add your organization. There are two
                routes to go about this.
            </p>
            <p translate>
                The first is to create an offline organization which is a quick process. However, this
                means that you have to enter in your contacts and donations in manually. If you would
                like to go this route, please email us at <a href="mailto:support@mpdx.org">support@mpdx.org</a> with the name of your organization.
            </p>
            <p>
                <span translate>
                The second is to set up your organization to sync your donations with MPDX. This is
                actually not done by us, but here is where you can go to get started:
                </span>
                <a href="https://www.tntware.com/donorhub/">https://www.tntware.com/donorhub/</a>.
            </p>
        </div>
    </div>
    <a class="btn btn-default" ng-click="$ctrl.revert()" translate>Back</a>
</div>
<div ng-show="$ctrl.selected.api_class == 'Siebel'">
    <div class="well">
        <h4 translate>You must log into MPDX with your ministry email</h4>
        <p translate>This organization requires you to log into MPDX with your ministry email to access it.</p>
        <p translate>First you need to <a href="https://thekey.me/cas/logout" target="_blank" translate>click here to log out of your personal Key account</a></p>
        <p translate>Next, <a href="/logout" translate>click here to log out of MPDX</a> so you can log back in with your offical key account.</p>
    </div>
    <a class="btn btn-default" ng-click="$ctrl.revert()" translate>Back</a>
</div>
<div ng-show="$ctrl.selected.api_class == 'DataServer' || $ctrl.selected.api_class == 'DataServerPtc'">
    <form>
        <label for="organization_account_username" translate>Username</label>
        <input id="organization_account_username" ng-disabled="$ctrl.saving" name="organization_account[username]" type="text" ng-model="$ctrl.username">
        <label for="organization_account_password" translate>Password</label>
        <input id="organization_account_password" ng-disabled="$ctrl.saving" name="organization_account[password]" type="password" ng-model="$ctrl.password">
        <br />
        <br />
        <button type="submit" ng-click="$ctrl.createAccount()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
            <span translate>Add Account</span>&nbsp;<div class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
        </button>
        <a class="btn" ng-click="$ctrl.revert()" translate>Cancel</a>
    </form>
</div>
<div ng-show="$ctrl.selected.api_class == 'OfflineOrg'">
    <button type="submit" ng-click="$ctrl.createAccount()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
        <span translate>Add Account</span>&nbsp;<div class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
    <a class="btn" ng-click="$ctrl.revert()" translate>Cancel</a>
</div>
<div ng-show="$ctrl.page == 'edit_account'">
    <h3 translate>Edit Account</h3>
    <h4>{{$ctrl.selected.name}}</h4>
    <form>
        <label for="edit_organization_account_username" translate>Username</label>
        <input id="edit_organization_account_username" ng-disabled="$ctrl.saving" name="organization_account[username]" type="text" ng-model="$ctrl.username">
        <label for="edit_organization_account_password" translate>Password</label>
        <input id="edit_organization_account_password" ng-disabled="$ctrl.saving" name="organization_account[password]" type="password" ng-model="$ctrl.password">
        <br />
        <br />
        <button type="submit" ng-click="$ctrl.updateAccount()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
            <span translate>Update Account</span>&nbsp;<div class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
        <a class="btn" ng-click="$ctrl.revert()" translate>Cancel</a>
    </form>
</div>
