<p translate>
    Add or change the organizations that sync donation information with this MPDX account. Removing an organization will not remove past information, but will prevent future donations and contacts from syncing.
</p>
<div ng-if="$ctrl.page === 'org_list'">
    <div ng-if="$ctrl.users.organizationAccounts.length === 0">
        <h3 translate>Let's start by connecting to your first organization</h3>
    </div>
    <div ng-repeat="account in $ctrl.users.organizationAccounts track by account.id" class="panel panel-default panel-default--no-animate">
        <div class="panel-heading">
            <div class="pull-right">
                <a class="btn btn-default btn-xs" ng-click="$ctrl.editAccount(account)" ng-if="['DataServer', 'DataServerPtc', 'DataServerNavigators'].includes($ctrl.serverConstants.data.organizations_attributes[account.organization.id].api_class)">
                    <i class="fa fa-pencil"></i>
                    <translate>Edit</translate>
                </a>
                &nbsp;
                <a class="btn btn-danger btn-xs" ng-click="$ctrl.disconnect(account.id)">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            <strong>{{account.organization.name}}</strong> {{account.username}}
        </div>
        <form ng-submit="$ctrl.import(account)" ng-if="$ctrl.serverConstants.data.organizations_attributes[account.organization.id].api_class === 'OfflineOrg'">
            <div class="panel-body">
                <a ng-click="account.showTntDataSync = !account.showTntDataSync" translate>Import TntConnect DataSync file</a>
                <div ng-if="account.showTntDataSync">
                    <br>
                    <div class="alert alert-info">
                        <p translate>This file should be a TntConnect DataSync file (.tntdatasync or .tntmpd) from your organization, not your local TntConnect database file (.mpddb).</p>
                        <p translate>To import your TntConnect database, go to <a ui-sref="tools.importFromTNT">Import from TntConnect</a></p>
                    </div>
                    <div class="field">
                        <div class="form-group btn btn-default"
                             ngf-select
                             ngf-accept="'.tntmpd, .tntdatasync'"
                             ngf-max-size="100MB"
                             ng-model="account.file"
                             translate>
                            Choose File
                        </div>
                        {{account.file.name}}
                    </div>
                    <div ng-if="account.file.$error.maxSize" translate translate-params-size="100" class="text-danger">File too large, {{size}}MB max</div>
                </div>
            </div>
            <div ng-if="account.showTntDataSync" class="panel-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.importing || !account.file" translate>Import</button>
            </div>
        </form>
    </div>
    <a class="btn btn-primary" ng-click="$ctrl.page = 'select_org'" translate>Add Account</a>
</div>
<form  ng-if="$ctrl.page == 'select_org'" ng-submit="$ctrl.createAccount()" name="addOrganization" novalidate>
    <div class="panel panel-default panel-default--no-animate">
        <div class="panel-heading" translate>
            Add Account
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label translate>Organization</label>
                <select chosen
                        class="form-control"
                        required
                        ng-model="$ctrl.selectedKey"
                        ng-disabled="$ctrl.saving"
                        ng-change="$ctrl.select()"
                        ng-options="key as value.name for (key, value) in $ctrl.serverConstants.data.organizations_attributes track by key">
                </select>
            </div>
            <div ng-if="!$ctrl.selected">
                <a ng-click="$ctrl.showOrganizationHelp()" translate>Can't find your organization?</a>
            </div>
            <div ng-if="$ctrl.selected">
                <div ng-if="$ctrl.selected.api_class === 'Siebel'">
                    <h4 translate>You must log into MPDX with your ministry email address</h4>
                    <p translate>This organization requires you to log into MPDX with your ministry email address to access it.</p>
                    <p translate><a href="/logout" translate>Click here to log out of MPDX and The Key</a> so you can log back in with the Key account that is associated with your ministry email address.</p>
                </div>
                <div ng-if="['DataServer', 'DataServerPtc', 'DataServerNavigators'].includes($ctrl.selected.api_class)">
                    <div class="form-group">
                        <label translate>Username</label>
                        <input class="form-control" ng-disabled="$ctrl.saving" ng-model="$ctrl.username" required>
                    </div>
                    <div class="form-group">
                        <label translate>Password</label>
                        <input class="form-control" ng-disabled="$ctrl.saving" type="password" ng-model="$ctrl.password" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn" ng-click="$ctrl.revert()" translate>Cancel</a>
            <button ng-disabled="!addOrganization.$valid || $ctrl.saving" class="btn btn-primary btn-actionable">
                <translate>Save</translate>
                <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-if="$ctrl.saving"></i>
            </button>
        </div>
    </div>
</form>
<form ng-if="$ctrl.page === 'edit_account'" ng-submit="$ctrl.updateAccount()" name="editOrganization" novalidate>
    <div class="panel panel-default panel-default--no-animate">
        <div class="panel-heading">
            <translate>Edit Account</translate>
            |
            <strong>{{$ctrl.selected.organization.name}}</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label translate>Username</label>
                <input class="form-control" ng-disabled="$ctrl.saving" ng-model="$ctrl.username" required>
            </div>
            <div class="form-group">
                <label translate>Password</label>
                <input class="form-control" ng-disabled="$ctrl.saving" type="password" ng-model="$ctrl.password" required>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-link" ng-click="$ctrl.revert()" translate>Cancel</a>
            <button type="submit" ng-disabled="!editOrganization.$valid || $ctrl.saving" class="btn btn-primary btn-actionable">
                <translate>Save</translate>
                <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-if="$ctrl.saving"></i>
            </button>
        </div>
    </div>
</form>
