<div>
    <div class="inline-input header">
        <input type="text" ng-change="$ctrl.save()" ng-model="$ctrl.contact.name" ng-model-options="{ debounce: 1000 }" />
    </div>
    <div class="row fieldset">
        <div class="col-sm-6 spacing-below-xs">
            <h4 class="attribute-header" translate>Envelope Name Line</h4>
            <div class="inline-input">
                <input type="text" ng-model="$ctrl.contact.envelope_greeting" placeholder="{{ 'Mr. J Smith' | translate }}" ng-change="$ctrl.save()" ng-model-options="{ debounce: 1000 }" />
            </div>
        </div>
        <div class="col-sm-6 spacing-below-xs">
            <h4 class="attribute-header" translate>Greeting (used in export)</h4>
            <div class="inline-input">
                <input type="text" ng-model="$ctrl.contact.greeting" ng-change="$ctrl.save()" ng-model-options="{ debounce: 1000 }" />
            </div>
        </div>
    </div>

    <div class="row fieldset">
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Newsletter</h4>
            <div class="inline-input">
                <select chosen
                        required
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        disable-search="true"
                        allow-single-deselect="true"
                        class="form-control"
                        id="send_newsletter"
                        ng-model="$ctrl.contact.send_newsletter">
                    <option value=""></option>
                    <option>Physical</option>
                    <option>Email</option>
                    <option>Both</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Status</h4>
            <div class="inline-input">
                <select chosen
                        required
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        disable-search="true"
                        class="form-control"
                        id="status"
                        ng-model="$ctrl.contact.status">
                    <option value=""></option>
                        <option value="Never Contacted">Never Contacted</option>
                        <option value="Ask in Future">Ask in Future</option>
                        <option value="Cultivate Relationship">Cultivate Relationship</option>
                        <option value="Contact for Appointment">Contact for Appointment</option>
                        <option value="Appointment Scheduled">Appointment Scheduled</option>
                        <option value="Call for Decision">Call for Decision</option>
                        <option value="Partner - Financial">Partner - Financial</option>
                        <option value="Partner - Special">Partner - Special</option>
                        <option value="Partner - Pray">Partner - Pray</option>
                        <option value="Not Interested">Not Interested</option>
                        <option value="Unresponsive">Unresponsive</option>
                        <option value="Never Ask">Never Ask</option>
                        <option value="Research Abandoned">Research Abandoned</option>
                        <option value="Expired Referral">Expired Referral</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Likely to Give</h4>
            <div class="inline-input">
                <select chosen
                        required
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        disable-search="true"
                        class="form-control"
                        id="likely_to_give"
                        ng-model="$ctrl.contact.likely_to_give">
                    <option value=""></option>
                    <option value="Least Likely">Least Likely</option>
                    <option selected="selected" value="Likely">Likely</option>
                    <option value="Most Likely">Most Likely</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row fieldset">
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Commitment</h4>
            <div class="inline-input">
                <input type="text" ng-model="$ctrl.contact.pledge_amount" ng-change="$ctrl.save()" ng-model-options="{ debounce: 1000 }" />
            </div>
        </div>
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Currency</h4>
            <div class="inline-input">
                <select chosen
                        required
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        class="form-control"
                        allow-single-deselect="true"
                        id="pledge_currency"
                        ng-model="$ctrl.contact.pledge_currency">
                    <option value=""></option>
                    <option selected="selected" value="CAD">CAD ($)</option>
                    <option value="ADP">ADP (ADP)</option>
                    <option value="AED">AED (AED)</option>
                    <option value="AFA">AFA (AFA)</option>
                    <option value="AFN">AFN (؋)</option>
                    <option value="ALK">ALK (ALK)</option>
                    <option value="ALL">ALL (LEK)</option>
                    <option value="AMD">AMD (AMD)</option>
                    <option value="ANG">ANG (ƒ)</option>
                    <option value="AOA">AOA (AOA)</option>
                    <option value="AOK">AOK (AOK)</option>
                    <option value="AON">AON (AON)</option>
                    <option value="AOR">AOR (AOR)</option>
                    <option value="ARA">ARA (ARA)</option>
                    <option value="ARL">ARL (ARL)</option>
                    <option value="ARM">ARM (ARM)</option>
                    <option value="ARP">ARP (ARP)</option>
                    <option value="ARS">ARS ($)</option>
                    <option value="ATS">ATS (ATS)</option>
                    <option value="AUD">AUD ($)</option>
                    <option value="AWG">AWG (ƒ)</option>
                    <option value="AZM">AZM (AZM)</option>
                    <option value="AZN">AZN (ман)</option>
                    <option value="BAD">BAD (BAD)</option>
                    <option value="BAM">BAM (KM)</option>
                    <option value="BAN">BAN (BAN)</option>
                    <option value="BBD">BBD ($)</option>
                    <option value="BDT">BDT (BDT)</option>
                    <option value="BEC">BEC (BEC)</option>
                    <option value="BEF">BEF (BEF)</option>
                    <option value="BEL">BEL (BEL)</option>
                    <option value="BGL">BGL (BGL)</option>
                    <option value="BGM">BGM (BGM)</option>
                    <option value="BGN">BGN (лв)</option>
                    <option value="BGO">BGO (BGO)</option>
                    <option value="BHD">BHD (BHD)</option>
                    <option value="BIF">BIF (BIF)</option>
                    <option value="BMD">BMD ($)</option>
                    <option value="BND">BND ($)</option>
                    <option value="BOB">BOB ($b)</option>
                    <option value="BOL">BOL (BOL)</option>
                    <option value="BOP">BOP (BOP)</option>
                    <option value="BOV">BOV (BOV)</option>
                    <option value="BRB">BRB (BRB)</option>
                    <option value="BRC">BRC (BRC)</option>
                    <option value="BRE">BRE (BRE)</option>
                    <option value="BRL">BRL (R$)</option>
                    <option value="BRN">BRN (BRN)</option>
                    <option value="BRR">BRR (BRR)</option>
                    <option value="BRZ">BRZ (BRZ)</option>
                    <option value="BSD">BSD ($)</option>
                    <option value="BTN">BTN (BTN)</option>
                    <option value="BUK">BUK (BUK)</option>
                    <option value="BWP">BWP (P)</option>
                    <option value="BYB">BYB (BYB)</option>
                    <option value="BYR">BYR (p.)</option>
                    <option value="BZD">BZD (BZ$)</option>
                    <option value="CDF">CDF (CDF)</option>
                    <option value="CHE">CHE (CHE)</option>
                    <option value="CHF">CHF (CHF)</option>
                    <option value="CHW">CHW (CHW)</option>
                    <option value="CLE">CLE (CLE)</option>
                    <option value="CLF">CLF (CLF)</option>
                    <option value="CLP">CLP ($)</option>
                    <option value="CNX">CNX (CNX)</option>
                    <option value="CNY">CNY (¥)</option>
                    <option value="COP">COP ($)</option>
                    <option value="COU">COU (COU)</option>
                    <option value="CRC">CRC (₡)</option>
                    <option value="CSD">CSD (CSD)</option>
                    <option value="CSK">CSK (CSK)</option>
                    <option value="CUC">CUC (CUC)</option>
                    <option value="CUP">CUP (₱)</option>
                    <option value="CVE">CVE (CVE)</option>
                    <option value="CYP">CYP (CYP)</option>
                    <option value="CZK">CZK (Kč)</option>
                    <option value="DDM">DDM (DDM)</option>
                    <option value="DEM">DEM (DEM)</option>
                    <option value="DJF">DJF (DJF)</option>
                    <option value="DKK">DKK (kr)</option>
                    <option value="DOP">DOP (RD$)</option>
                    <option value="DZD">DZD (DZD)</option>
                    <option value="ECS">ECS (ECS)</option>
                    <option value="ECV">ECV (ECV)</option>
                    <option value="EEK">EEK (kr)</option>
                    <option value="EGP">EGP (£)</option>
                    <option value="ERN">ERN (ERN)</option>
                    <option value="ESA">ESA (ESA)</option>
                    <option value="ESB">ESB (ESB)</option>
                    <option value="ESP">ESP (ESP)</option>
                    <option value="ETB">ETB (ETB)</option>
                    <option value="EUR">EUR (€)</option>
                    <option value="FIM">FIM (FIM)</option>
                    <option value="FJD">FJD (FJD)</option>
                    <option value="FKP">FKP (£)</option>
                    <option value="FRF">FRF (FRF)</option>
                    <option value="GBP">GBP (£)</option>
                    <option value="GEK">GEK (GEK)</option>
                    <option value="GEL">GEL (GEL)</option>
                    <option value="GHC">GHC (GHC)</option>
                    <option value="GHS">GHS (¢)</option>
                    <option value="GIP">GIP (£)</option>
                    <option value="GMD">GMD (GMD)</option>
                    <option value="GNF">GNF (GNF)</option>
                    <option value="GNS">GNS (GNS)</option>
                    <option value="GQE">GQE (GQE)</option>
                    <option value="GRD">GRD (GRD)</option>
                    <option value="GTQ">GTQ (Q)</option>
                    <option value="GWE">GWE (GWE)</option>
                    <option value="GWP">GWP (GWP)</option>
                    <option value="GYD">GYD (GYD)</option>
                    <option value="HKD">HKD ($)</option>
                    <option value="HNL">HNL (L)</option>
                    <option value="HRD">HRD (HRD)</option>
                    <option value="HRK">HRK (kn)</option>
                    <option value="HTG">HTG (HTG)</option>
                    <option value="HUF">HUF (Ft)</option>
                    <option value="IDR">IDR (Rp)</option>
                    <option value="IEP">IEP (IEP)</option>
                    <option value="ILP">ILP (ILP)</option>
                    <option value="ILR">ILR (ILR)</option>
                    <option value="ILS">ILS (₪)</option>
                    <option value="INR">INR (₨)</option>
                    <option value="IQD">IQD (IQD)</option>
                    <option value="IRR">IRR (﷼)</option>
                    <option value="ISJ">ISJ (ISJ)</option>
                    <option value="ISK">ISK (kr)</option>
                    <option value="ITL">ITL (ITL)</option>
                    <option value="JMD">JMD (JMD)</option>
                    <option value="JOD">JOD (JOD)</option>
                    <option value="JPY">JPY (¥)</option>
                    <option value="KES">KES (KES)</option>
                    <option value="KGS">KGS (лв)</option>
                    <option value="KHR">KHR (KHR)</option>
                    <option value="KMF">KMF (KMF)</option>
                    <option value="KPW">KPW (₩)</option>
                    <option value="KRH">KRH (KRH)</option>
                    <option value="KRO">KRO (KRO)</option>
                    <option value="KRW">KRW (₩)</option>
                    <option value="KWD">KWD (KWD)</option>
                    <option value="KYD">KYD ($)</option>
                    <option value="KZT">KZT (лв)</option>
                    <option value="LAK">LAK (₭)</option>
                    <option value="LBP">LBP (£)</option>
                    <option value="LKR">LKR (₨)</option>
                    <option value="LRD">LRD ($)</option>
                    <option value="LSL">LSL (LSL)</option>
                    <option value="LTL">LTL (Lt)</option>
                    <option value="LTT">LTT (LTT)</option>
                    <option value="LUC">LUC (LUC)</option>
                    <option value="LUF">LUF (LUF)</option>
                    <option value="LUL">LUL (LUL)</option>
                    <option value="LVL">LVL (Ls)</option>
                    <option value="LVR">LVR (LVR)</option>
                    <option value="LYD">LYD (LYD)</option>
                    <option value="MAD">MAD (MAD)</option>
                    <option value="MAF">MAF (MAF)</option>
                    <option value="MCF">MCF (MCF)</option>
                    <option value="MDC">MDC (MDC)</option>
                    <option value="MDL">MDL (MDL)</option>
                    <option value="MGA">MGA (MGA)</option>
                    <option value="MGF">MGF (MGF)</option>
                    <option value="MKD">MKD (MKD)</option>
                    <option value="MKN">MKN (MKN)</option>
                    <option value="MLF">MLF (MLF)</option>
                    <option value="MMK">MMK (MMK)</option>
                    <option value="MNT">MNT (₮)</option>
                    <option value="MOP">MOP (MOP)</option>
                    <option value="MRO">MRO (MRO)</option>
                    <option value="MTL">MTL (MTL)</option>
                    <option value="MTP">MTP (MTP)</option>
                    <option value="MUR">MUR (₨)</option>
                    <option value="MVP">MVP (MVP)</option>
                    <option value="MVR">MVR (MVR)</option>
                    <option value="MWK">MWK (MWK)</option>
                    <option value="MXN">MXN ($)</option>
                    <option value="MXP">MXP (MXP)</option>
                    <option value="MXV">MXV (MXV)</option>
                    <option value="MYR">MYR (RM)</option>
                    <option value="MZE">MZE (MZE)</option>
                    <option value="MZM">MZM (MZM)</option>
                    <option value="MZN">MZN (MT)</option>
                    <option value="NAD">NAD ($)</option>
                    <option value="NGN">NGN (₦)</option>
                    <option value="NIC">NIC (NIC)</option>
                    <option value="NIO">NIO (C$)</option>
                    <option value="NLG">NLG (NLG)</option>
                    <option value="NOK">NOK (kr)</option>
                    <option value="NPR">NPR (₨)</option>
                    <option value="NZD">NZD ($)</option>
                    <option value="OMR">OMR (﷼)</option>
                    <option value="PAB">PAB (B/.)</option>
                    <option value="PEI">PEI (PEI)</option>
                    <option value="PEN">PEN (S/.)</option>
                    <option value="PES">PES (PES)</option>
                    <option value="PGK">PGK (PGK)</option>
                    <option value="PHP">PHP (Php)</option>
                    <option value="PKR">PKR (₨)</option>
                    <option value="PLN">PLN (zł)</option>
                    <option value="PLZ">PLZ (PLZ)</option>
                    <option value="PTE">PTE (PTE)</option>
                    <option value="PYG">PYG (Gs)</option>
                    <option value="QAR">QAR (﷼)</option>
                    <option value="RHD">RHD (RHD)</option>
                    <option value="ROL">ROL (ROL)</option>
                    <option value="RON">RON (lei)</option>
                    <option value="RSD">RSD (Дин.)</option>
                    <option value="RUB">RUB (руб)</option>
                    <option value="RUR">RUR (RUR)</option>
                    <option value="RWF">RWF (RWF)</option>
                    <option value="SAR">SAR (﷼)</option>
                    <option value="SBD">SBD ($)</option>
                    <option value="SCR">SCR (₨)</option>
                    <option value="SDD">SDD (SDD)</option>
                    <option value="SDG">SDG (SDG)</option>
                    <option value="SDP">SDP (SDP)</option>
                    <option value="SEK">SEK (kr)</option>
                    <option value="SGD">SGD ($)</option>
                    <option value="SHP">SHP (£)</option>
                    <option value="SIT">SIT (SIT)</option>
                    <option value="SKK">SKK (SKK)</option>
                    <option value="SLL">SLL (SLL)</option>
                    <option value="SOS">SOS (S)</option>
                    <option value="SRD">SRD ($)</option>
                    <option value="SRG">SRG (SRG)</option>
                    <option value="SSP">SSP (SSP)</option>
                    <option value="STD">STD (STD)</option>
                    <option value="SUR">SUR (SUR)</option>
                    <option value="SVC">SVC (SVC)</option>
                    <option value="SYP">SYP (£)</option>
                    <option value="SZL">SZL (SZL)</option>
                    <option value="THB">THB (฿)</option>
                    <option value="TJR">TJR (TJR)</option>
                    <option value="TJS">TJS (TJS)</option>
                    <option value="TMM">TMM (TMM)</option>
                    <option value="TMT">TMT (TMT)</option>
                    <option value="TND">TND (TND)</option>
                    <option value="TOP">TOP (TOP)</option>
                    <option value="TPE">TPE (TPE)</option>
                    <option value="TRL">TRL (TRL)</option>
                    <option value="TRY">TRY (TL)</option>
                    <option value="TTD">TTD ($)</option>
                    <option value="TWD">TWD (NT$)</option>
                    <option value="TZS">TZS (TZS)</option>
                    <option value="UAH">UAH (₴)</option>
                    <option value="UAK">UAK (UAK)</option>
                    <option value="UGS">UGS (UGS)</option>
                    <option value="UGX">UGX (UGX)</option>
                    <option value="USD">USD ($)</option>
                    <option value="USN">USN (USN)</option>
                    <option value="USS">USS (USS)</option>
                    <option value="UYI">UYI (UYI)</option>
                    <option value="UYP">UYP (UYP)</option>
                    <option value="UYU">UYU ($U)</option>
                    <option value="UZS">UZS (лв)</option>
                    <option value="VEB">VEB (VEB)</option>
                    <option value="VEF">VEF (Bs)</option>
                    <option value="VND">VND (₫)</option>
                    <option value="VNN">VNN (VNN)</option>
                    <option value="VUV">VUV (VUV)</option>
                    <option value="WST">WST (WST)</option>
                    <option value="XAF">XAF (FCFA)</option>
                    <option value="XAG">XAG (XAG)</option>
                    <option value="XAU">XAU (XAU)</option>
                    <option value="XBA">XBA (XBA)</option>
                    <option value="XBB">XBB (XBB)</option>
                    <option value="XBC">XBC (XBC)</option>
                    <option value="XBD">XBD (XBD)</option>
                    <option value="XCD">XCD ($)</option>
                    <option value="XDR">XDR (XDR)</option>
                    <option value="XEU">XEU (XEU)</option>
                    <option value="XFO">XFO (XFO)</option>
                    <option value="XFU">XFU (XFU)</option>
                    <option value="XOF">XOF (CFA)</option>
                    <option value="XPD">XPD (XPD)</option>
                    <option value="XPF">XPF (CFPF)</option>
                    <option value="XPT">XPT (XPT)</option>
                    <option value="XRE">XRE (XRE)</option>
                    <option value="XSU">XSU (XSU)</option>
                    <option value="XTS">XTS (XTS)</option>
                    <option value="XUA">XUA (XUA)</option>
                    <option value="XXX">XXX (XXX)</option>
                    <option value="YDD">YDD (YDD)</option>
                    <option value="YER">YER (﷼)</option>
                    <option value="YUD">YUD (YUD)</option>
                    <option value="YUM">YUM (YUM)</option>
                    <option value="YUN">YUN (YUN)</option>
                    <option value="YUR">YUR (YUR)</option>
                    <option value="ZAL">ZAL (ZAL)</option>
                    <option value="ZAR">ZAR (R)</option>
                    <option value="ZMK">ZMK (ZMK)</option>
                    <option value="ZMW">ZMW (ZMW)</option>
                    <option value="ZRN">ZRN (ZRN)</option>
                    <option value="ZRZ">ZRZ (ZRZ)</option>
                    <option value="ZWD">ZWD (Z$)</option>
                    <option value="ZWL">ZWL (ZWL)</option>
                    <option value="ZWR">ZWR (ZWR)</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 spacing-below-xs">
            <h4 class="attribute-header" translate>Freq.</h4>
            <div class="inline-input">
                <select chosen
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        disable-search="true"
                        class="form-control"
                        allow-single-deselect="true"
                        id="pledge_frequency"
                        ng-model="$ctrl.contact.pledge_frequency">
                    <option value=""></option>
                    <option value="0.23076923076923">Weekly</option>
                    <option value="0.46153846153846">Every 2 Weeks</option>
                    <option value="1.0">Monthly</option>
                    <option value="2.0">Every 2 Months</option>
                    <option value="3.0">Quarterly</option>
                    <option value="4.0">Every 4 Months</option>
                    <option value="6.0">Every 6 Months</option>
                    <option value="12.0">Annual</option>
                    <option value="24.0">Every 2 Years</option>
                </select>
            </div>
        </div>
    </div>
</div>
