//using view width for units here due to odd sub-component stretching behavior
@import 'addresses/addresses';
@import 'details/details';
@import 'info/info';
@import 'people/people';
@import 'referrals/referrals';
contact {
    $contact-drawer-width: 450px;
    $hide-drawer-width: 1386px;
    display: grid;
    height: 100%;
    overflow-y: auto;
    > div.contact-show {
        display: grid;
        background-color: $color-blue-deep-alpha-10;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 0;
        grid-column-gap: 0;
        @media(max-width: $hide-drawer-width) {
            grid-template-columns: 1fr 0;
        }
        &.drawer {
            grid-template-columns: auto $contact-drawer-width;
            @media(max-width: $hide-drawer-width) {
                grid-template-columns: 1fr 0;
            }
        }
        h5 {
            font-size: $font-size-md;
            font-weight: 600;
        }
        > contact-info {
            grid-column: 1;
            grid-row: 1;
            h4.attribute-header {
                margin-bottom: 3px;
                color: color-gray(60);
                font-size: $font-size-xs;
                font-weight: bold;
                text-transform: uppercase;
            }
            .btn-reverse {
                background-color: $color-text;
            }
        }
        .contacts-gray-line {
            width: 100%;
            height: 1px;
            margin: 15px 0;
            border-bottom: 1px solid $color-menu-border;
        }
        .contact-tabs {
            display: grid;
            grid-column: 1;
            grid-row: 2;
            grid-template-rows: 40px 1fr;
            div.active-drawer {
                @media(min-width: $hide-drawer-width) {
                    display: none;
                }
            }
            .expand-link {
                @media(max-width: $hide-drawer-width) {
                    display: none;
                }
            }
            .tabs-info {
                a {
                    color: color-gray(30);
                }
            }
            > .tab-content {
                padding: 10px $container-padding;
                background: $color-white;
            }
        }
        .see-notes {
            margin-bottom: 10px;
            text-align: right;
        }
        .add-partner-account {
            margin-top: 10px;
        }
        > div.contact-drawer {
            width: $contact-drawer-width;
            padding: $container-padding;
            border-left: 1px $color-menu-border solid;
            background: $color-white;
            overflow-x: hidden;
            grid-column: 2;
            grid-row: 1 / span 2;
            h3.contact-drawer-title {
                display: flex;
                align-items: center;
                margin: -$container-padding;
                margin-bottom: 10px;
                padding: 0;
                border-bottom: 1px color-gray(85) solid;
                line-height: 60px;
                span {
                    flex-grow: 1;
                    padding-left: $container-padding;
                }
                .contact-drawer-title-close {
                    width: 60px;
                    transition: color 0.2s;
                    border-left: 1px $color-menu-border solid;
                    color: color-gray(90);
                    text-align: center;
                    i {
                        cursor: pointer;
                    }
                    &:hover {
                        color: color-gray(35);
                    }
                }
            }
            @media(max-width: $hide-drawer-width) {
                display: none;
            }
            > * {
                @extend .am-fade-and-scale;
                display: block;
                &.ng-leave {
                    animation: slide-left 0 reverse;
                }
            }
        }
    }
}
