//using view width for units here due to odd sub-component stretching behavior

@import "addresses/addresses";
@import "details/details";
@import "info/info";
@import "people/people";

contact {
    $contact-drawer-width: 450px;
    $hide-drawer-width: 1386px;
    overflow-y: auto;
    display: grid;
    height: 100%;
    > div.contact-show {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: calc(100vw - #{$contact-sidebar-width + $contact-drawer-width}) $contact-drawer-width;
        grid-column-gap: 0;
        background-color: rgba(74,144,226,0.05);
        width: calc(100vw - #{$contact-sidebar-width});
        @media(max-width: $hide-drawer-width) {
            grid-template-columns: 1fr 0;
        }
        @media (max-width: $contact-menu-breakpoint) {
            width: 100%;
        }
        h5 {
            font-weight: 600;
            font-size: 16px;
        }
        > contact-info {
            grid-column: 1;
            grid-row: 1;
            h4.attribute-header {
                font-size: 12px;
                margin-bottom: 3px;
                text-transform: uppercase;
                font-weight: bold;
                color: #9B9B9B;
            }
            .btn-reverse {
                background-color: $color-text;
            }
        }
        .contacts-gray-line {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid $color-menu-border;
            margin: 15px 0 15px 0;
        }
        #contact-tabs {
            grid-column: 1;
            grid-row: 2;
            display: grid;
            grid-template-rows: 40px 1fr;
            .horizontal-tab-sortable div.active-drawer {
                @media(min-width: $hide-drawer-width) {
                    display: none;
                }
            }
            .tabs-info {
                a {
                    color: $icon_gray;
                }
            }
            > .tab-content {
                padding: 15px;
                background: $cru-white;
                width: calc(100vw - #{$contact-sidebar-width + $contact-drawer-width});
                @media(max-width: $hide-drawer-width) {
                    width: calc(100vw - #{$contact-sidebar-width});
                }
                @media (max-width: $contact-menu-breakpoint) {
                    width: 100vw;
                }
            }
            .expand-link {
                padding: 5px;
                @media(max-width: $hide-drawer-width) {
                    display: none;
                }
            }
        }
        .see-notes {
            text-align: right;
            margin-bottom: 10px;
        }
        .add-partner-account {
            margin-top: 10px;
        }
        > div.contact-drawer {
            background: $cru-white;
            grid-column: 2;
            grid-row: 1 / -1;
            padding: 15px;
            width: $contact-drawer-width;
            border-left: 1px $color-menu-border solid;
            overflow-x: hidden;
            @media(max-width: $hide-drawer-width) {
                display: none;
            }
            > * {
                @extend .am-fade-and-scale;
                &.ng-leave {
                    animation: slide-left 0 reverse;
                }
                display: block;
            }
        }
    }
}
