@import "addresses/address/address";
@import "details/details";
@import "info/info";
@import "people/people";

contact {
    $hide-sidebar-width: 1320px;
    overflow-y: auto;
    display: grid;
    height: 100%;
    > div.contact-show {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr auto;
        grid-column-gap: 0;
        background-color: rgba(74,144,226,0.05);
        h5 {
            font-weight: 600;
            font-size: 16px;
        }
        > contact-info {
            grid-column: 1;
            grid-row: 1;
            h4.attribute-header {
                font-size: 12px;
                margin-bottom: 3px;
                text-transform: uppercase;
                font-weight: bold;
                color: #9B9B9B;
            }
            .btn-reverse {
                background-color: $color-text;
            }
        }
        .tasks-tab, .history-tab {
            .tasks-table {
                border-bottom: 1px solid #ddd;
                .comments-section > td {
                    border-top: none;
                }
            }
            .comments-count, .starred, .complete_task, .trash {
                cursor: pointer;
            }
            .trash, .starred {
                &:hover {
                    color: #A8A8A8;
                }
            }
            .complete_task {
                &:hover {
                    &:before {
                        color: #A8A8A8;
                        content: "\f046";
                    }
                }
            }
            .comments-count:hover {
                color: #A8A8A8;
            }
            .comments-count-has-comments {
                color: #dd7d1b;
                &:hover {
                    color: #EBBB8A;
                }
            }
        }
        .contacts-gray-line {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid $color-menu-border;
            margin: 15px 0 15px 0;
        }
        #contact-tabs {
            grid-column: 1;
            grid-row: 2;
            display: grid;
            grid-template-rows: 40px 1fr;
            .horizontal-tab-sortable div.contact-tab-details {
                @media(min-width: $hide-sidebar-width) {
                    display: none;
                }
            }
            .tabs-info {
                a {
                    color: $icon_gray;
                }
            }
            > .tab-content {
                padding: 15px;
                background: $cru-white;
            }
        }
        .see-notes {
            text-align: right;
            margin-bottom: 10px;
        }
        .add-partner-account {
            margin-top: 10px;
        }
        contact-details {
            background: $cru-white;
            grid-column: 2;
            grid-row: 1 / -1;
            &.side-bar {
                padding: 15px;
                width: 450px;
                border-left: 1px $color-menu-border solid;
                .communication {
                    > div {
                        max-width: 194px;
                    }
                    > div.tags {
                        max-width: 408px;
                    }
                }
                @media(max-width: $hide-sidebar-width) {
                    display: none;
                }
            }
        }
    }
}
