<alerts></alerts>
<div class="row">
    <div class="col-md-9">
        <div class="contact-actions">
            <div class="pull-right">
                <a class="btn btn-secondary" ng-click="$ctrl.goLeft()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="btn btn-secondary" ng-click="$ctrl.goRight()">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
            <a class="btn btn-default" ng-click="$ctrl.openAddReferralsModal()">
                <i class="fa fa-users" aria-hidden="true"></i>
                <translate>Add Referrals</translate>
            </a>
            <a class="btn btn-default" ng-click="$ctrl.openLogTaskModal()">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <translate>Log Task</translate>
            </a>
            <a class="btn btn-default" ng-click="$ctrl.openAddTaskModal()">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <translate>Add Task</translate>
            </a>
            <a class="btn btn-default" ng-click="$ctrl.hideContact()">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                <translate>Hide Contact</translate>
            </a>
        </div>
        <div class="contact-card">
            <div class="row">
                <div class="col-md-8">
                    <div class="avatar" bg-img="{{$ctrl.contact.square_avatar}}"></div>
                    <div class="top-content">
                        <contact-info contact="$ctrl.contact" constants="$ctrl.constants"></contact-info>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="see_notes_box">
                        <a class="btn btn-secondary" ng-click="$ctrl.displayNotes()">
                            <i class="fa fa-sticky-note-o"></i>
                            <translate>See Notes</translate>
                        </a>
                    </div>
                    <div class="card" ng-repeat="address in $ctrl.contact.addresses" ng-if="address.id == $ctrl.contact.primary_address_id">
                        <contact-address address="address"></contact-address>
                    </div>
                </div>
            </div>
            <div class="contacts-gray-line"></div>
            <div>
                <contact-people contact="$ctrl.contact"></contact-people>
            </div>

            <div id="contact-tabs" class="horizontal-tab-sortable">
                <div class="sortable-row left-tabs" as-sortable="$ctrl.sortableOptions" data-ng-model="$ctrl.tabsLabels">
                    <div ng-repeat="item in $ctrl.tabsLabels" as-sortable-item ng-class="{'active-item': $ctrl.activeTab==item.key}">
                        <a as-sortable-item-handle ng-click="$ctrl.activeTab=item.key">{{ item.value }}</a>
                    </div>
                </div>

                <div class="tabs-info">
                    <a class="tip" data-trigger="hover" data-content="{{ 'You can reorder these tabs to your liking! Just Drag them left or right.' | translate }}" data-placement="top" bs-popover><i class="fa fa-lock"></i></a>
                </div>
            </div>

            <div ng-repeat="item in $ctrl.tabsLabels">
                <div ng-if="item['key']=='details'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-details contact="$ctrl.contact" constants="$ctrl.constants"></contact-details>
                </div>
                <div ng-if="item['key']=='donations'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-donations contact="$ctrl.contact"></contact-donations>
                </div>
                <div ng-if="item['key']=='tasks'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-tasks contact="$ctrl.contact"></contact-tasks>
                    <button ng-click="$ctrl.openAddTaskModal()" class="btn btn-primary" translate>Add Task</button>
                </div>
                <div ng-if="item['key']=='history'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-history contact="$ctrl.contact"
                    ></contact-history>
                    <button ng-click="$ctrl.openLogTaskModal()" class="btn btn-primary" translate>Log Task</button>
                </div>
                <div ng-if="item['key']=='referrals'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-referrals contact="$ctrl.contact"
                    ></contact-referrals>
                    <button ng-click="$ctrl.openAddReferralsModal()" class="btn btn-primary" translate>Add Referrals</button>
                </div>
                <div ng-if="item['key']=='notes'" ng-show="item['key']==$ctrl.activeTab">
                    <contact-notes contact="$ctrl.contact"></contact-notes>
                </div>
            </div>
        </div>
    </div>
    <div id="contact_drawer" class="col-md-3">
        <div class="contact_drawer_inner">
            <div class="edit-filters clearfix">
                {{$ctrl.filterCount()}} <translate>filter(s) applied</translate>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.showFilters = !$ctrl.showFilters">
                        <span ng-if="$ctrl.showFilters"><i class="fa fa-users"></i> <span translate>Contacts</span></span>
                        <span ng-if="!$ctrl.showFilters"><i class="fa fa-list"></i> <span translate>Filters</span></span>
                    </button>
                </div>
            </div>
            <div ng-if="$ctrl.showFilters">
                <contacts-filter></contacts-filter>
            </div>
            <div ng-if="!$ctrl.showFilters">
                <contacts-search></contacts-search>
                <contacts-list view="minimal" selected="$ctrl.selected"></contacts-list>
            </div>
        </div>
    </div>
</div>
