<modal title="{{'Add Task' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.task.subject" required>
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate></label>
        <select chosen
                disable-search="true"
                class="form-control"
                id="action"
                name="action"
                ng-options="opt as opt for opt in $ctrl.serverConstants.data.activities"
                ng-model="$ctrl.task.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="due-date" translate>Due Date</label>
        <div ng-hide="$ctrl.no_date">
            <datetimepicker ng-model="$ctrl.task.start_at" id="due-date"
                            hour-step="1"
                            minute-step="1">
            </datetimepicker>
        </div>
    </div>
    <div class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.no_date" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div>
        <label for="emailNotify">
            <input id="emailNotify" ng-model="$ctrl.task.notification_type" type="checkbox" ng-true-value="'email'" ng-false-value="null"/>
            <translate>Email Notification</translate>
        </label>
    </div>
    <div ng-if="$ctrl.task.notification_type">
        <label for="notification_type" translate>Notify in</label>
        <div class="row">
            <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="$ctrl.task.notification_time_before" id="notification_type" ng-required="$ctrl.task.notification_type" min="0">
            </div>
            <div class="col-sm-8">
                <select chosen ng-model="$ctrl.task.notification_time_unit" ng-required="$ctrl.task.notification_type">
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                </select>
            </div>
        </div>
    </div>
    <label translate>Contacts</label>
    <div  class="form-group" ng-repeat="contact in $ctrl.contactsList track by $index">
        <select chosen ng-options="opt.id as opt.name for opt in $ctrl.contacts.completeList" ng-model="$ctrl.contactsList[$index]"></select>
    </div>
    <div class="form-group">
        <a ng-click="$ctrl.addContact()"><i class="fa fa-plus-square"></i> Add Contact</a>
    </div>
    <div class="form-group">
        <label translate>Tags</label>
        <tag-selector ng-model="$ctrl.task.tag_list" tag-list="$ctrl.tasksTags.data"></tag-selector>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.comment"/>
    </div>
</modal>
