appeals-show {
    display: grid;
    grid-template-columns: 250px 1fr;
    tr.selected {
        background-color: color-gray(90);
        &:hover {
            background-color: color-gray(95);
        }
    }
    tr.selectable {
        cursor: pointer;
    }
    pagination > div {
        text-align: center;
    }
    .sidebar {
        padding-right: $container-padding-right;
        padding-left: $container-padding-left;
        background-color: $color-filter-bar;
    }
}
