<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="inline-input header">
                            <input ng-model="$ctrl.appeal.name"
                                   ng-change="$ctrl.save()"
                                   aria-label="Appeal Name"
                                   ng-model-options="{ debounce: 1000 }">
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{:: $ctrl.currency.symbol}}{{:: $ctrl.appeal.pledges_amount_processed }} /
                        {{:: $ctrl.currency.symbol}}
                        <span class="inline-input inline-block">
                            <input ng-model="$ctrl.appeal.amount"
                                   ng-change="$ctrl.changeGoal()"
                                   aria-label="Appeal Goal"
                                   ng-model-options="{ debounce: 1000 }">
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar color-0"
                         role="progressbar"
                         aria-valuenow="{{$ctrl.appeal.pledges_amount_not_received_not_processed }}"
                         ng-if="$ctrl.appeal.pledges_amount_not_received_not_processed > 0"
                         title="{{$ctrl.appeal.pledges_amount_not_received_not_processed}}"
                         aria-valuemin="0"
                         aria-valuemax="{{$ctrl.appeal.amount}}"
                         style="width: {{($ctrl.appeal.pledges_amount_not_received_not_processed / $ctrl.appeal.amount) * 100}}%; min-width: 10%; max-width: 100%;">
                        <span translate>Pledged</span>
                    </div>
                    <div class="progress-bar color-1"
                         ng-if="$ctrl.appeal.percentage_raised > 0"
                         title="{{$ctrl.appeal.percentage_raised}}"
                         role="progressbar"
                         aria-valuenow="{{$ctrl.appeal.percentage_raised}}"
                         aria-valuemin="0"
                         aria-valuemax="{{$ctrl.appeal.amount}}"
                         style="width: {{($ctrl.appeal.percentage_raised / $ctrl.appeal.amount) * 100}}%; min-width: 10%; max-width: 100%;">
                        <span translate>Received</span>
                    </div>
                    <div class="progress-bar color-2"
                         role="progressbar"
                         ng-if="$ctrl.appeal.pledges_amount_processed > 0"
                         title="{{$ctrl.appeal.pledges_amount_processed}}"
                         aria-valuenow="{{$ctrl.appeal.pledges_amount_processed}}"
                         aria-valuemin="0"
                         aria-valuemax="{{$ctrl.appeal.amount}}"
                         style="width: {{($ctrl.appeal.pledges_amount_processed / $ctrl.appeal.amount) * 100}}%; min-width: 10%; max-width: 100%;">
                        <span translate>Processed</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn" ng-click="$ctrl.contacts.openAddTagModal($ctrl.selectedContactIds)" translate>Add Tag</button>
            <button class="btn" ng-click="$ctrl.tasks.addModal({ contactsList: $ctrl.selectedContactIds })" translate>Add Task</button>
        </div>
        <div>&nbsp;</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 translate>Given To Appeal</h4>
            </div>
            <div class="row panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th translate>Contact</th>
                            <th translate>Commitment</th>
                            <th translate>Donation(s)</th>
                            <th>
                                <a ng-click="$ctrl.selectAllGiven()" translate>select all</a> |
                                <a ng-click="$ctrl.deselectAllGiven()" translate>deselect all</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pledge in $ctrl.pledgesProcessed"
                            ng-click="$ctrl.selectPledge(pledge)"
                            ng-class="{ selected: $ctrl.selectedPledgeIds.includes(pledge.id) }"
                            class="selectable">
                            <td>
                                <a ui-sref="contacts.show({ contactId: pledge.contact.id })" ng-click="$event.stopPropagation()" target="_blank">
                                    {{::pledge.contact.name}}
                                </a>
                            </td>
                            <td>{{::pledge.contact.pledge_amount}} {{::pledge.contact.pledge_currency}}</td>
                            <td>{{::pledge.amount}} {{::pledge.contact.pledge_currency}} ({{::pledge.expected_date | localize}})</td>
                            <td>
                                <button class="btn btn-xs btn-default"
                                        ng-click="$ctrl.editPledge(pledge); $event.stopPropagation()"
                                        title="{{'Edit Commitment' | translate}}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-xs btn-danger"
                                        ng-click="$ctrl.removePledge(pledge); $event.stopPropagation()"
                                        title="{{'Remove Commitment' | translate}}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">
                            <pagination meta="$ctrl.pledgesProcessed.meta.pagination"
                                        on-change="$ctrl.getPledgesProcessed(page)">
                            </pagination>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 translate>Received, Not Yet Processed</h4>
            </div>
            <div class="row panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th translate>Contact</th>
                        <th translate>Commitment</th>
                        <th translate>Amount Received</th>
                        <th translate>
                            <a ng-click="$ctrl.selectAllNotProcessed()" translate>select all</a> |
                            <a ng-click="$ctrl.deselectAllNotProcessed()" translate>deselect all</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pledge in $ctrl.pledgesNotProcessed"
                        ng-click="$ctrl.selectPledge(pledge)"
                        ng-class="{ selected: $ctrl.selectedPledgeIds.includes(pledge.id) }"
                        class="selectable">
                        <td>
                            <a ui-sref="contacts.show({ contactId: pledge.contact.id })" ng-click="$event.stopPropagation()" target="_blank">
                                {{::pledge.contact.name}}
                            </a>
                        </td>
                        <td>{{::pledge.contact.pledge_amount}} {{::pledge.contact.pledge_currency}}</td>
                        <td>{{::pledge.amount}} {{::pledge.contact.pledge_currency}} ({{::pledge.expected_date | localize}})</td>
                        <td>
                            <button class="btn btn-xs btn-default"
                                    ng-click="$ctrl.editPledge(pledge); $event.stopPropagation()"
                                    title="{{'Edit' | translate}}">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            &nbsp;
                            <button class="btn btn-xs btn-danger"
                                    ng-click="$ctrl.removePledge(pledge); $event.stopPropagation()"
                                    title="{{'Remove' | translate}}">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">
                            <pagination meta="$ctrl.pledgesNotProcessed.meta.pagination"
                                        on-change="$ctrl.getPledgesNotProcessed(page)">
                            </pagination>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 translate>Committed, Not Yet Received</h4>
            </div>
            <div class="row panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th translate>Contact</th>
                        <th translate>Commitment</th>
                        <th translate>Amount Committed</th>
                        <th>
                            <a ng-click="$ctrl.selectAllNotReceived()" translate>select all</a> |
                            <a ng-click="$ctrl.deselectAllNotReceived()" translate>deselect all</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pledge in $ctrl.pledgesNotReceived | orderBy : 'contact.name'"
                        ng-click="$ctrl.selectPledge(pledge)"
                        ng-class="{ selected: $ctrl.selectedPledgeIds.includes(pledge.id) }"
                        class="selectable">
                        <td>
                            <a ui-sref="contacts.show({ contactId: pledge.contact.id })" ng-click="$event.stopPropagation()" target="_blank">
                                {{::pledge.contact.name}}
                            </a>
                        </td>
                        <td>{{::pledge.contact.pledge_amount}} {{::pledge.contact.pledge_currency}}</td>
                        <td>{{::pledge.amount}} {{::pledge.contact.pledge_currency}} ({{::pledge.expected_date | localize}})</td>
                        <td>
                            <button class="btn btn-xs btn-default"
                                    ng-click="$ctrl.editPledge(pledge); $event.stopPropagation()"
                                    title="{{'Edit' | translate}}">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            &nbsp;
                            <button class="btn btn-xs btn-danger"
                                    ng-click="$ctrl.removePledge(pledge); $event.stopPropagation()"
                                    title="{{'Remove' | translate}}">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">
                            <pagination meta="$ctrl.pledgesNotReceived.meta.pagination"
                                        on-change="$ctrl.getPledgesNotReceived(page)">
                            </pagination>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 translate>Not Given To Appeal Yet</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th translate>Contact</th>
                        <th translate>Commitment</th>
                        <th translate>
                            <a ng-click="$ctrl.selectAllNotGiven()" translate>select all</a> |
                            <a ng-click="$ctrl.deselectAllNotGiven()" translate>deselect all</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ref in $ctrl.contactsNotGiven | orderBy : 'name'"
                        ng-click="$ctrl.selectContact(ref.contact.id)"
                        ng-class="{ selected: $ctrl.selectedContactIds.includes(ref.contact.id) }"
                        class="selectable">
                        <td>
                            <a ui-sref="contacts.show({ contactId: ref.contact.id })" ng-click="$event.stopPropagation()" target="_blank">
                                {{::ref.contact.name}}
                            </a>
                        </td>
                        <td>
                            {{::ref.contact.currency.symbol}}{{::ref.contact.pledge_amount}}
                            {{::$ctrl.serverConstants.getPledgeFrequency(ref.contact.pledge_frequency).value}}
                        </td>
                        <td>
                            <button class="btn btn-xs btn-success" ng-click="$ctrl.addPledge(ref.contact)" title="{{'Add Commitment' | translate}}">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-xs btn-danger"
                                    ng-click="$ctrl.removeContact(ref.id); $event.stopPropagation()"
                                    title="{{'Remove' | translate}}">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">
                            <pagination meta="$ctrl.contactsNotGiven.meta.pagination"
                                        on-change="$ctrl.getContactsNotGiven(page)">
                            </pagination>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row panel-body">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <h4 translate>Contacts Excluded from Appeal</h4>
                    </div>
                    <div class="col-md-3">
                        <a ng-click="$ctrl.getExcludedContacts()">Show Excluded</a>
                    </div>
                </div>
            </div>
            <div class="panel-animate" ng-show="$ctrl.excludedContacts">
                <div class="panel-body" >
                    <table class="table">
                        <thead>
                        <tr>
                            <th translate>Contact</th>
                            <th translate>Reason</th>
                            <th colspan="2" translate>Commitment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rel in $ctrl.excludedContacts | orderBy : 'name'">
                            <td>
                                <a ui-sref="contacts.show({ contactId: rel.contact.id })" target="_blank">
                                    {{::rel.contact.name}}
                                </a>
                            </td>
                            <td>
                                {{::$ctrl.getReason(rel)}}
                            </td>
                            <td>
                                {{::rel.contact.currency.symbol}}{{::rel.contact.pledge_amount}}
                                {{::$ctrl.serverConstants.getPledgeFrequency(rel.contact.pledge_frequency).value}}
                            </td>
                            <td>
                                <button class="btn btn-xs btn-success" ng-click="$ctrl.addExcludedContact(rel)" title="{{'Add' | translate}}">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="4">
                                <pagination meta="$ctrl.excludedContacts.meta.pagination"
                                            on-change="$ctrl.getExcludedContacts(page)">
                                </pagination>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 translate>Export Selected to CSV</h4>
                <button class="btn"
                        ng-click="$ctrl.exportToCSV()"
                        ng-disabled="$ctrl.selectedContactIds.length < 1"
                        translate>
                    Export Selected
                </button>
                <div ng-if="$ctrl.mailchimp.data && $ctrl.mailchimp.data.lists_present">
                    <h4>Export Selected to Mail Chimp List</h4>
                    <select name="primaryListId"
                            id="primaryListId"
                            ng-model="$ctrl.mailchimpListId"
                            class="form-control"
                            ng-options="option.id as option.name for option in $ctrl.mailchimp.data.lists_available_for_newsletters"
                            chosen>
                    </select>
                    <br />&nbsp;<br />
                    <button class="btn" ng-click="$ctrl.exportMailchimp()" ng-disabled="!$ctrl.mailchimpListId || $ctrl.selectedContactIds.length < 1" translate>Export Selected</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 translate>Add Contact to Appeal</h4>
                <collection-selector item-name="{{ 'Contact' | translate }}"
                                     display-text="$ctrl.selectedContact"
                                     search="$ctrl.contactSearch(text)"
                                     select="$ctrl.onContactSelected(item)">
                </collection-selector>
            </div>
        </div>
    </div>
</div>