task-list-contact {
    padding: 10px 0;
    font-size: $font-size-sm;
    $avatar-size: 26px;
    & + & { //all except first
        border-top: 1px solid $color-bg;
    }
    label {
        @extend .h4;
        margin-bottom: 3px;
        color: color-gray(60);
        font-size: $font-size-xs;
        font-weight: bold;
        text-transform: uppercase;
    }
    > .top-row {
        display: grid;
        grid-template-columns: $avatar-size 1fr 150px 14px;
        grid-gap: 10px;
        avatar {
            grid-column: 1;
            &,
            .avatar,
            .avatar img {
                width: $avatar-size;
                height: $avatar-size;
            }
        }
        .main-details {
            h4 {
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 1rem;
                font-weight: 600;
            }
            address {
                display: inline-block;
                font-weight: 300;
                line-height: 1.25;
                text-align: left;
            }
            .people {
                margin: 5px 0;
                .people-single-contact {
                    line-height: 1.25em;
                }
            }
            .address > address {
                margin-bottom: 0;
            }
            button.email-all {
                margin-bottom: 10px;
                padding: 0 12px;
                line-height: 1.25em;
            }
        }
    }
    .more-details > div {
        display: block;
        height: 20px;
        font-weight: 600;
    }
    > div.tags-row {
        display: grid;
        grid-template-columns: 1fr 20px;
        > div.tags {
            max-height: 27px;
            text-overflow: ellipsis;
            overflow: hidden;
            &.expanded {
                max-height: 100%;
            }
            .tag {
                max-width: 100px;
                max-height: 27px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}
