<div class="history-tab">
    <table ng-show="$ctrl.tasks.completed.length" class="table tasks-table" bs-collapse data-start-collapsed="true">
        <tr ng-repeat-start="task in $ctrl.tasks.completed" bs-collapse-toggle>
            <td class="col-sm-2 text-center">
                <i class="fa fa-check-square-o complete_task" data-behaviour="Done"></i>
            </td>
            <td class="col-sm-2">
                {{ task.activity_type }}
            </td>
            <td class="col-sm-2">
                {{ task.no_date ? '' : $ctrl.moment(task.start_at).format('M-D-YY h:m a') }}
            </td>
            <td class="col-sm-4">
                <a ng-click="$ctrl.openEditTaskModal(task); $event.stopPropagation();"><b>{{ task.subject }}</b></a>
            </td>

            <td class="comments-count col-sm-1"
                ng-class="task.comments.length ? 'comments-count-has-comments' : ''">
                <i class="fa fa-commenting-o"></i>
                {{ task.comments.length }}
            </td>
            <td class="col-sm-1">
                <i class="fa fa-trash-o trash" ng-click="$ctrl.deleteTask(task.id); $event.stopPropagation();" aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="comments-section" ng-repeat-end bs-collapse-target>
            <td colspan="100">
                <div class="col-sm-6" ng-repeat="comment in task.comments track by comment.id">
                    <span style="font-size: 16px">{{ comment.body }}</span>
                    <br/>
                    <span style="color: #909b9c">
                     - {{ comment.person_id.first_name }} {{ comment.person_id.last_name }}, {{ $ctrl.moment(comment.created_at).format($ctrl.locale.dateTimeFormat) }}
                    </span>
                </div>
                <form class="form-inline">
                    <input style="width: 85%" class="form-control" ng-model="$ctrl.models.comment"/>
                    <button class="btn btn-primary" ng-click="$ctrl.newComment(task)">Add Comment</button>
                </form>
            </td>
        </tr>
    </table>
    <div ng-hide="$ctrl.tasks.completed.length" translate>
        There are currently no completed tasks linked to this contact.
    </div>
</div>
