<modal title="{{'Edit Fields' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="action" translate>Likely to Give</label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="action"
                        ng-options="opt for opt in $ctrl.serverConstants.data.bulk_update_options.likely_to_give"
                        ng-model="$ctrl.models.likely_to_give"
                        autofocus>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="status" translate>Status</label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="status"
                        ng-options="opt for opt in $ctrl.serverConstants.data.bulk_update_options.status"
                        ng-model="$ctrl.models.status">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="newsletter" translate>Newsletter</label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="newsletter"
                        ng-options="opt for opt in $ctrl.serverConstants.data.bulk_update_options.send_newsletter"
                        ng-model="$ctrl.models.send_newsletter">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="due-date" translate>Next Ask</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input bs-datepicker
                           class="form-control"
                           ng-model="$ctrl.models.next_ask"
                           name="date"
                           id="due-date"
                           data-autoclose="true"
                           data-date-type="string"
                           data-date-format="{{$ctrl.locale.dateTimeFormat}}"
                           data-model-date-format="yyyy-MM-dd">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="commitment-received" translate>Commitment Received</label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control" id="commitment-received"
                        ng-options="o.key as o.value for o in [{key: 'true', value: 'Yes'},{key: 'false', value: 'No'}]"
                        ng-model="$ctrl.models.pledge_received">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="commitment-currency" translate>Commitment Currency</label>
                <select chosen
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="commitment-currency"
                        ng-options="v as k.code_symbol_string for (v, k) in $ctrl.serverConstants.data.bulk_update_options.pledge_currency"
                        ng-model="$ctrl.models.pledge_currency">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="language" translate>Language</label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="language"
                        ng-options="key as value for (key, value) in $ctrl.serverConstants.data.languages"
                        ng-model="$ctrl.models.locale">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="church" translate>Church</label>
                <input class="form-control" id="church" ng-model="$ctrl.models.church_name"/>
            </div>
        </div>
    </div>
</modal>
