{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }],
        "stage-1"
    ],
    "plugins": [
        "angularjs-annotate"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}