<div class="contacts-find-duplicates">
    <h1 translate>Merge People</h1>

    <div ng-if="$ctrl.contactReconciler.duplicatePeople.length">
        <p>
            <translate>You have {{$ctrl.contactReconciler.duplicatePeopleTotal}} possible individual detail conflicts caused when imported data into MPDx. We recommend reconciling these as soon as possible. MPDx has made it’s best guess at the correct individual detail. Please confirm or change the setting for each conflict below. No data will be lost.</translate>
            <br>
            <span class="warning" translate>This cannot be undone.</span>
        </p>

        <a ui-sref="home"><strong translate>I’ll reconcile conflicts later, take me to MPDx</strong></a>

        <div id="duplicate-people" block-ui="find-duplicates" class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row" ng-repeat="duplicatePerson in $ctrl.contactReconciler.duplicatePeople">
                    <contacts-reconcile-individual-item person="duplicatePerson.people[0]" on-click="$ctrl.useThisOne(duplicatePerson, 0)" selected="duplicatePerson.mergeChoice == 0" dont-merge="duplicatePerson.mergeChoice == 2"></contacts-reconcile-individual-item>

                    <div class="col-sm-2 text-center choices">
                        <i class="fa fa-arrow-left choice-left" ng-class="{'selected': duplicatePerson.mergeChoice == 0}" ng-click="$ctrl.useThisOne(duplicatePerson, 0)"></i>
                        <i class="fa fa-arrow-right choice-right" ng-class="{'selected': duplicatePerson.mergeChoice == 1}" ng-click="$ctrl.useThisOne(duplicatePerson, 1)"></i>
                        <i class="fa fa-close choice-cancel" ng-class="{'selected': duplicatePerson.mergeChoice == 2}" ng-click="$ctrl.useThisOne(duplicatePerson, 2)"></i>
                    </div>

                    <contacts-reconcile-individual-item person="duplicatePerson.people[1]" on-click="$ctrl.useThisOne(duplicatePerson, 1)" selected="duplicatePerson.mergeChoice == 1" dont-merge="duplicatePerson.mergeChoice == 2"></contacts-reconcile-individual-item>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 actions">
                <div class="row">
                    <div class="col-sm-5 text-right">
                        <button class="btn btn-warning" ng-click="$ctrl.confirm(true)" ng-disabled="$ctrl.confirmButtonDisabled()">{{$ctrl.confirmButtonText(true)}}</button>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span>OR</span>
                    </div>
                    <div class="col-sm-5">
                        <button class="btn btn-warning" ng-click="$ctrl.confirm(false)" ng-disabled="$ctrl.confirmButtonDisabled()">{{$ctrl.confirmButtonText(false)}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!$ctrl.contactReconciler.duplicatePeople.length">
        <p translate>We weren't able to detect any duplicates on your account.</p>
    </div>
</div>
