<div ng-model="isCollapsed" ng-init="isCollapsed = false" bs-collapse>
    <div class="filter--filtergroup_title tags_title pointer" bs-collapse-toggle>
        <span>
            <i class="fas fa-tags"></i> <translate>Tags</translate>
            &nbsp;
            <i class="fas"
               ng-class="{ 'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed }"></i>
        </span>

        <ul class="nav nav-pills pull-right fade-in" ng-if="!isCollapsed">
          <li ng-class="{ 'active': $ctrl.tasksTags.anyTags }">
            <a ng-click="$ctrl.tasksTags.anyTags = true; $event.stopPropagation()" title="{{ ::'Look up contacts with Any of the tags selected (a or b or c).' | translate }}"
               translate>Any</a>
          </li>
          <li ng-class="{ 'active': !$ctrl.tasksTags.anyTags }">
            <a ng-click="$ctrl.tasksTags.anyTags = false; $event.stopPropagation()"
               title="{{ ::'Look up contacts with ALL of the tags selected (a and b and c).' | translate }}" translate>All</a>
          </li>
        </ul>
    </div>
    <div bs-collapse-target>
        <div class="filter_hint" translate>Click a tag twice to look up all tasks that do not have that tag.</div>
        <div class="left_tag_list tags" ng-class="{'show_all_tags': $ctrl.showAllTags}">
          <span class="tag"
                ng-class="{ 'selected': !$ctrl.tasksTags.isTagActive(tag), 'rejected': $ctrl.tasksTags.isTagRejected(tag) }"
                ng-click="$ctrl.tasksTags.tagClick(tag, $event)"
                ng-repeat="tag in $ctrl.tasksTags.data"
                title="{{::tag.name}}">
              {{ ::tag.name |limitTo: 20 }}{{ ::tag.name.length > 20 ? '...' : '' }}
              <a ng-click="$event.stopPropagation()"
                 data-template-url="task_tags_delete_popover.html"
                 data-auto-close="'outsideClick'"
                 class="tag_remove"
                 data-container="body"
                 bs-popover></a>
          </span>
            <a class="show_all_tags_btn">
                <div ng-click="$ctrl.showAllTags = !$ctrl.showAllTags" ng-if="$ctrl.tasksTags.data.length > 25">
                    <div ng-if="!$ctrl.showAllTags">
                        <i class="fas fa-plus"></i>
                        <span translate-params-tag-count="$ctrl.tasksTags.data.length" translate>Show all {{tagCount}} tags</span>
                    </div>
                    <div ng-if="$ctrl.showAllTags">
                        <i class="fas fa-minus"></i>
                        <span translate>Show fewer tags</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script type="text/ng-template" id="task_tags_delete_popover.html">
    <div class="popover tags-popover" style="cursor: default" tabindex="-1" ng-click="$event.stopPropagation()">
        <div class="arrow"></div>
        <h3 class="popover-title" translate>Delete Tag?</h3>
        <div class="popover-content">
            <div translate>Are you sure you want to completely delete this tag and remove it from all tasks?</div>
            <div class="text-muted" translate>To remove a tag from selected tasks only, use the action menu.</div>
            <button class="btn btn-danger btn-block btn-xs" ng-click="$ctrl.tasksTags.delete(tag); $hide()" translate>
                Delete Tag
            </button>
        </div>
    </div>
</script>
