  <span class="filter--filtergroup_title tags_title">
    <span translate>Tags</span>
    <ul class="nav nav-pills pull-right">
      <li ng-class="{ 'active': $ctrl.tasksTags.anyTags }">
        <a ng-click="$ctrl.tasksTags.anyTags = true" title="Look up contacts with Any of the tags selected (a or b or c)." translate>Any</a>
      </li>
      <li ng-class="{ 'active': !$ctrl.tasksTags.anyTags }">
        <a ng-click="$ctrl.tasksTags.anyTags = false" title="Look up contacts with ALL of the tags selected (a and b and c)." translate>All</a>
      </li>
    </ul>
  </span>
  <div class="filter_hint" translate>Click a tag twice to look up all contacts who do not have that tag.</div>
  <div class="left_tag_list tags" ng-class="{'show_all_tags': $ctrl.showAllTags}">
      <span class="tag"
            ng-class="{ 'selected': !$ctrl.tasksTags.isTagActive(tag), 'rejected': $ctrl.tasksTags.isTagRejected(tag) }"
            ng-click="$ctrl.tasksTags.tagClick(tag, $event)"
            ng-repeat="tag in $ctrl.tasksTags.data">
        {{ tag.name }}
        <a ng-click="$event.stopPropagation()" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="outsideClick" class="tag_remove" />
      </span>
      <a class="show_all_tags_btn">
        <div ng-click="$ctrl.showAllTags = !$ctrl.showAllTags" ng-if="$ctrl.tasksTags.data.length > 25">
          <div ng-show="!$ctrl.showAllTags">
            <i class="fa fa-plus"></i>
            <span translate>Show all</span> {{$ctrl.tasksTags.data.length}} <span translate>tags</span>
          </div>
          <div ng-show="$ctrl.showAllTags">
            <i class="fa fa-minus"></i>
            <span translate>Show fewer tags</span>
          </div>
        </div>
      </a>
      <script type="text/ng-template" id="myPopoverTemplate.html">
        <div ng-click="$event.stopPropagation()" class="tags-popover">
          <translate>Remove tag permanently?</translate>
          <div>
          <button class="btn btn-primary" ng-click="$ctrl.tasksTags.delete(tag)" translate>Ok</button>
          </div>
        </div>
      </script>
  </div>
