@import 'appeals/appeals';
@import 'appointments/appointments';
@import 'contacts/contacts';
@import 'correspondence/correspondence';
@import 'electronicContacts/electronicContacts';
@import 'phone/phone';
home-progress {
    .panel.panel-default {
        min-height: 84px;
        margin-bottom: 0;
        > .statistics {
            display: grid;
            padding: 10px 0;
            grid-template-rows: 1fr;
            .item {
                border-right: 1px solid color-gray(80);
                text-align: center;
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .progress-heading {
        padding-bottom: $container-padding;
        .progress-title {
            margin: 0;
            line-height: 33px;
        }
    }
    .progress-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: $container-padding;
        h3 {
            margin: 0;
        }
    }
    hr {
        width: 100%;
        margin: 15px 0;
    }
}
