<div ng-if="$ctrl.errorOccurred" translate>
    Error loading progress stats. Please try again or contact support.
</div>
<div ng-if="!$ctrl.errorOccurred">
    <div class="pull-right">
        {{$ctrl.startDate.format('MMM D')}} — {{$ctrl.endDate.format('MMM D')}}
        &nbsp;
        <a class="btn btn-default" title="" ng-click="$ctrl.previousWeek()">
            <i class="fa fa-angle-left"></i>
            &nbsp;
            <translate>Previous Week</translate>
        </a>
        <a class="btn btn-default" title="{{ 'Next' | translate }}" ng-click="$ctrl.nextWeek()">
            <translate>Next Week</translate>
            &nbsp;
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="btn btn-reverse" href="https://staffweb.cru.org/mpd-donations/reports/mpd-weekly-update/" target="_blank" translate>
            Weekly Progress Report
        </a>
    </div>
    <h3 class="progress-heading" translate>Progress</h3>
    <hr>
    <div block-ui="homeProgress">
        <div class="row">
            <div class="col-md-6">
                <progress-contacts></progress-contacts>
                <progress-electronic-contacts></progress-electronic-contacts>
                <progress-correspondence></progress-correspondence>
            </div>
            <div class="col-md-6">
                <progress-appointments></progress-appointments>
                <progress-phone-dials></progress-phone-dials>
                <progress-appeals></progress-appeals>
            </div>
        </div>
    </div>
</div>
