<form class="form-inline">
    <div class="form-group">
        <input class="form-control fixed-width-input" id="email" name="email" ng-model="$ctrl.email" placeholder="person.to.share@cru.org" type="text" />
        <button type="submit" ng-click="$ctrl.sendInvite()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
            <translate>Share Coaching Account</translate>&nbsp;
            <span class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
        </button>
    </div>
</form>
