<div class="row">
    <div class="col-xs-3">
        {{$ctrl.address.source}}
    </div>
    <div class="col-xs-2 text-center">
        <span class="fa-stack" ng-click="$ctrl.onPrimary()">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-circle fa-stack-1x" ng-if="$ctrl.address.primary_mailing_address"></i>
        </span>
    </div>
    <div class="col-xs-5">
        <input class="form-control" type="text" name="number" ng-value="$ctrl.addressSummary()" ng-click="$ctrl.openModal()" ng-if="$ctrl.address.source === 'MPDX'">
        <span class="locked-source" ng-if="$ctrl.address.source !== 'MPDX'"><i class="fa fa-lock"></i> {{$ctrl.addressSummary()}}</span>
    </div>
    <div class="col-xs-2">
        <button type="button" ng-click="$ctrl.remove()" class="btn btn-block btn-default delete" title="{{Delete | translate}}">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
