.collection-selector-modal {
    .list-group {
        margin-bottom: 0;
        max-height: 400px;
        overflow-y: auto;
        .list-group-item:first-child {
            margin-top: 10px;
        }
    }
}
