<modal title="{{$ctrl.modalTitle}}" cancel="$hide()" save="$ctrl.save()" delete="$ctrl.delete()" show-delete="$ctrl.address.id && $ctrl.isEditable" hide-footer="!$ctrl.contact">
    <div class="empty-map" ng-if="!$ctrl.place">
        <i class="fa fa-map"></i>
    </div>
    <ng-map disable-default-u-i="true" center="{{$ctrl.place.formatted_address}}">
        <marker position="{{$ctrl.place.formatted_address}}" title="{{$ctrl.place.formatted_address}}"></marker>
    </ng-map>
    <div ng-if="$ctrl.contact">
        <div class="row" ng-if="!$ctrl.isEditable">
            <div class="col-sm-12">
                <div class="alert alert-info" ng-if="$ctrl.address.source === 'Siebel'">
                    <strong translate>This address is provided by Donation Services</strong><br />
                    <translate>The address that syncs with donation services cannot be edited here. Please email donation services with the updated address, or you can create a new address and select it as your primary mailing address.</translate><br/>
                    <strong>
                        <a ng-if="$ctrl.address"
                           ng-href="mailto:donation.services@cru.org?subject=Donor address change&body={{ $ctrl.reqUpdateEmailBodyRequest() }}"
                           target='_blank'
                           title="{{ 'Email donation services' | translate }}"
                           translate>Email Donation Services here</a>
                    </strong>
                </div>
                <div class="alert alert-info" ng-if="['DataServer', 'DataServerPtc', 'DataServerNavigators'].includes($ctrl.address.source)">
                    <strong translate>This address is provided by your organization.</strong><br />
                    <strong translate>The address that syncs with your organization’s donations cannot be edited here. Please email your donation department with the updated address, or you can create a new address and select it as your primary mailing address.</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <label for="street"><translate>Street</translate> <span class="text-danger">*</span></label>
                <input type="text"
                       name="street"
                       class="form-control" id="street"
                       places-auto-complete
                       on-place-changed="$ctrl.updateAddress()"
                       ng-model="$ctrl.address.street"
                       ng-required="$ctrl.isEditable"
                       ng-disabled="!$ctrl.isEditable"
                       autofocus="$ctrl.isEditable">
            </div>
            <div class="col-sm-3">
                <label for="location"><translate>Location</translate></label>
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="location"
                        ng-options="opt as opt for opt in $ctrl.serverConstants.data.assignable_locations"
                        ng-model="$ctrl.address.location"
                        ng-disabled="!$ctrl.isEditable">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="city" translate>City</label>
                <input class="form-control" type="text" name="city" id="city"
                       ng-model="$ctrl.address.city" ng-disabled="!$ctrl.isEditable">
            </div>
            <div class="col-sm-3">
                <label for="state" translate>State</label>
                <input class="form-control" type="text" name="state" id="state"
                       ng-model="$ctrl.address.state" ng-disabled="!$ctrl.isEditable">
            </div>
            <div class="col-sm-3">
                <label for="zip" translate>Zip</label>
                <input class="form-control" type="text" name="postal_code" id="zip"
                       ng-model="$ctrl.address.postal_code" ng-disabled="!$ctrl.isEditable">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="country" translate>Country</label>
                <input class="form-control" type="text" name="country" id="country"
                       ng-model="$ctrl.address.country" ng-disabled="!$ctrl.isEditable">
            </div>
            <div class="col-sm-3">
                <label for="region" translate>Region</label>
                <input class="form-control" type="text" name="region" id="region"
                       ng-model="$ctrl.address.region">
            </div>
            <div class="col-sm-3">
                <label for="metro" translate>Metro</label>
                <input class="form-control" type="text" name="metro_area" id="metro"
                       ng-model="$ctrl.address.metro_area">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input id="address_invalid" class="form-control" type="checkbox" name="address_invalid" ng-model="$ctrl.address.historic">
                <label class="checkbox-label" for="address_invalid" translate>Address no longer valid</label>
            </div>
        </div>
    </div>
</modal>
