<unavailable></unavailable>
<!--<div id="contact_donations_summary_chart" ng-style="{height: loaded ? '' : '250px'}"></div>-->
<table class="table tasks-table">
    <thead>
    <tr>
        <th translate>Donor</th>
        <th translate>Date</th>
        <th translate>Amount</th>
        <th translate>Method</th>
        <th translate>Motivation</th>
    </tr>
    </thead>
    <tbody>
    <tr class="placeholders" ng-if="$ctrl.loading" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <td class="col-sm-3 placeholder">
            <div class="text text-secondary text-long text-thin"></div>
        </td>
        <td class="col-sm-2 placeholder">
            <div class="text text-primary text-long text-thin"></div>
        </td>
        <td class="col-sm-2 placeholder">
            <div class="text text-secondary text-short text-thin"></div>
        </td>
        <td class="col-sm-2 placeholder">
            <div class="text text-primary text-long text-thin"></div>
        </td>
        <td class="col-sm-2 placeholder">
            <div class="text text-primary text-long text-thin"></div>
        </td>
        <td class="col-sm-1 placeholder">
            <div class="text text-primary text-long text-thin"></div>
        </td>
    </tr>
    <tr ng-if="!$ctrl.loading" ng-repeat="donation in $ctrl.donations">
        <td class="col-sm-3">
            {{donation.contact_name}}
        </td>
        <td class="col-sm-2">
            {{donation.donation_date}}
        </td>
        <td class="col-sm-2">
            {{donation.amount}} {{donation.currency}}
        </td>
        <td class="col-sm-2">
            {{donation.payment_method}}
        </td>
        <td class="col-sm-2">
            {{donation.motivation}}
        </td>
        <td class="col-sm-1 text-right">
            <i class="fa fa-edit" ng-click="$ctrl.donationsReport.openDonationModal(donation.id)"></i>
        </td>
    </tr>
    <tr ng-if="!$ctrl.loading && $ctrl.donations.length === 0">
        <td colspan="100" class="text-center" translate>
            No donations received
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center" ng-if="!$ctrl.loading">
    <pagination per-page="$ctrl.donations.meta.per_page"
                page="$ctrl.donations.meta.page"
                total-pages="$ctrl.donations.meta.total_pages"
                total="$ctrl.donations.meta.total_count"
                on-change="$ctrl.getDonations(page)"
    ></pagination>
</div>
