<div class="tasks-tab">
    <table ng-show="$ctrl.uncompletedTasks.length" class="table tasks-table" bs-collapse data-start-collapsed="true">
        <tr ng-repeat-start="task in $ctrl.uncompletedTasks" bs-collapse-toggle>
            <td class="col-sm-1">
                <i class="fa fa-lg fa-square-o complete_task" ng-click="$ctrl.openCompleteTaskModal(task); $event.stopPropagation();" data-behaviour="Done"></i>
            </td>
            <td class="col-sm-1">
                <i class="fa fa-lg starred" ng-class="task.starred ? 'fa-star' : 'fa-star-o'" ng-click="$ctrl.starTask(task); $event.stopPropagation();"></i>
            </td>
            <td class="col-sm-2">
                {{ task.activity_type }}
            </td>
            <td class="col-sm-2">
                {{ task.no_date ? '' : $ctrl.moment(task.due_date).format('M-D-YY h:m a') }}
            </td>
            <td class="col-sm-4">
                <a ng-click="$ctrl.openEditTaskModal(task); $event.stopPropagation();"><b>{{ task.subject }}</b></a>
            </td>

            <td class="col-sm-1 comments-count"
                ng-class="task.comments.length ? 'comments-count-has-comments' : ''">
                <i class="fa fa-commenting-o"></i>
                {{ task.comments.length }}
            </td>
            <td class="col-sm-1">
                <i class="fa fa-trash-o trash" ng-click="$ctrl.deleteTask(task.id); $event.stopPropagation();" aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="comments-section" ng-repeat-end bs-collapse-target>
            <td colspan="100">
                <div class="col-sm-6" ng-repeat="comment in task.comments">
                    <span style="font-size: 16px">{{ comment.body }}</span>
                    <br/>
                    <span style="color: #909b9c">
                        - {{ comment.person_id.first_name }} {{ comment.person_id.last_name }}, {{ $ctrl.moment(comment.created_at).format('M-d-YYYY') }}
                    </span>
                </div>
                <form class="form-inline">
                    <input style="width: 85%" class="form-control" ng-model="$ctrl.models.comment">
                    <button class="btn btn-primary" ng-click="$ctrl.newComment(task.id)">Add Comment</button>
                </form>
            </td>
        </tr>
    </table>
    <div ng-hide="$ctrl.uncompletedTasks.length">
        There are currently no tasks linked to this contact.
    </div>
</div>
