contact-person {
  .card {
    .content {
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
      dl {
        margin-bottom: 0;
        dd {
          line-height: 20px;
          &:first-child {
            margin-top: 5px;
          }
          &.networks {
            line-height: 30px;
            a {
              margin-right: 5px;
              font-size: 20px;
              color: $icon_gray;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .edit {
        font-weight: 500;
        color: $gray;
        font-size: $font-size-xs;
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
    &.merging {
      cursor: pointer;
    }
    &.selected {
      background-color: #CCCCCC;
    }
  }
}
