<div class="card" ng-class="{'merging': $ctrl.isMerging, 'selected' : $ctrl.person.selected_for_merge === true}"
     ng-click="$ctrl.selectCard()">
    <div class="avatar" bg-img="{{$ctrl.person.avatar | stripMpdx}}"></div>
    <div class="content">
        <a class="pull-right edit" ng-click="$ctrl.openModal(); $event.stopPropagation()" ng-if="!$ctrl.view" translate>Edit</a>
        <h3 ng-class="{ strike: $ctrl.person.deceased }">{{ $ctrl.person.first_name }} {{ $ctrl.person.last_name }}</h3>
        <dl>
            <dd ng-repeat="email in $ctrl.person.email_addresses">
                {{ email.email }}
                <i ng-if="email.primary" class="fa fa-check text-success"></i>
                <i ng-if="email.historic" class="fa fa-close text-danger"></i>
            </dd>
            <dd ng-if="$ctrl.person.optout_enewsletter" translate>opted out of newsletter</dd>
            <dd ng-repeat="phone in $ctrl.person.phone_numbers">
                {{ phone.number }}
                <span ng-if="phone.location">{{ ' - ' + phone.location }}</span>
                <i ng-if="phone.primary" class="fa fa-check text-success"></i>
                <i ng-if="phone.historic" class="fa fa-close text-danger"></i>
            </dd>
            <dd ng-if="$ctrl.person.marital_status">
                <span>{{ $ctrl.person.marital_status }}</span>
                <span ng-if="$ctrl.person.anniversary">{{ $ctrl.person.anniversary }}</span>
            </dd>
            <dd ng-if="$ctrl.person.facebook_accounts.length > 0 || $ctrl.person.twitter_accounts.length > 0 || $ctrl.person.linkedin_accounts.length > 0 || $ctrl.person.websites.length > 0" class="networks">
                <facebook-link ng-repeat="fb in $ctrl.person.facebook_accounts" facebook-account="fb"></facebook-link>
                <twitter-link ng-repeat="twit in $ctrl.person.twitter_accounts" twitter-account="twit"></twitter-link>
                <linkedin-link ng-repeat="li in $ctrl.person.linkedin_accounts" linkedin-account="li"></linkedin-link>
                <website-link ng-repeat="website in $ctrl.person.websites" website="website"></website-link>
            </dd>
        </dl>
    </div>
    <div class="pull-right" style="cursor: pointer" ng-click="$ctrl.onPrimary({$personId: $ctrl.person.id}); $event.stopPropagation()">
        <i class="fa fa-square-o" ng-if="$ctrl.contact.primary_person.id !== $ctrl.person.id"></i>
        <i class="fa fa-check-square-o" ng-if="$ctrl.contact.primary_person.id === $ctrl.person.id"></i>
        <translate>Primary</translate>
    </div>
</div>
