<div class="card" ng-class="{'merging': $ctrl.isMerging, 'selected' : $ctrl.person.selected_for_merge === true}"
     ng-click="$ctrl.selectCard()">
    <div class="avatar" bg-img="{{$ctrl.person.avatar | stripMpdx}}"></div>
    <div class="content">
        <a class="pull-right edit" ui-sref=".person({personId: $ctrl.person.id})" ng-if="!$ctrl.isMerging" translate>Edit</a>
        <h1>{{ $ctrl.person.first_name }} {{ $ctrl.person.last_name }}</h1>
        <dl>
            <dd ng-repeat="email in $ctrl.person.email_addresses">{{ email.email }}</dd>
            <dd ng-if="$ctrl.person.optout_enewsletter" translate>opted out of newsletter</dd>
            <dd ng-repeat="phone in $ctrl.person.phone_numbers">{{ phone.number }} {{ (phone.number && phone.location) ? '-': ''}} {{ phone.location }}</dd>
            <dd ng-if="$ctrl.person.marital_status">
                <span>{{ $ctrl.person.marital_status }}</span>
                <span ng-if="$ctrl.person.anniversary">{{ $ctrl.person.anniversary }}</span>
            </dd>
            <dd ng-if="$ctrl.person.networks" class="networks">
            <span ng-repeat="network in $ctrl.person.networks">
              <a ng-if="network.kind == 'facebook'" ng-href="{{$ctrl.trustSrc(network.url)}}" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a ng-if="network.kind == 'twitter'" ng-href="{{$ctrl.trustSrc('https://twitter.com/' + network.url)}}"
                 target="_blank">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a ng-if="network.kind == 'linkedin'" ng-href="{{$ctrl.trustSrc(network.url)}}" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <a ng-if="network.kind == 'website'" ng-href="{{$ctrl.trustSrc(network.url)}}" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
            </span>
            </dd>
        </dl>
    </div>
</div>
