contact-person {
  .card {
    padding-bottom: 24px;
    margin-bottom: 15px;
    cursor: pointer;
    .avatar {
      width: 25px;
      height: 25px;
    }
    .content {
      padding-left: 35px;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
      dl {
        margin-bottom: 0;
        dd {
          line-height: 20px;
          &:first-child {
            margin-top: 5px;
          }
          &.networks {
            line-height: 30px;
            a {
              margin-right: 5px;
              font-size: 20px;
              color: $icon_gray;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &.merging {
      cursor: pointer;
    }
    &.selected {
      background-color: #CCCCCC;
    }
  }
}
