@font-face {
	font-family: "ci";
	src: url("ci.eot?9a18e5e476f58491b929cf2fb817c9b6?#iefix") format("embedded-opentype"),
url("ci.woff2?9a18e5e476f58491b929cf2fb817c9b6") format("woff2"),
url("ci.woff?9a18e5e476f58491b929cf2fb817c9b6") format("woff");
}

.ci {
	line-height: 1;
}

.ci:before {
	font-family: ci !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.ci-alert:before {
	content: "\f101";
}
.ci-email_icon:before {
	content: "\f102";
}
.ci-filter_icon:before {
	content: "\f103";
}
.ci-letter_icon:before {
	content: "\f104";
}
.ci-neg_filter_icon:before {
	content: "\f105";
}
