$contact-viewport-width: calc(100vw - #{$sidebar-width});
@import 'sidebar/sidebar';
@import 'list/list';
@import 'show/show';
contacts {
    display: grid;
    height: 100%;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    > contacts-sidebar {
        grid-column: 1;
    }
    > ui-view {
        width: 100%;
        overflow: hidden;
        grid-column: 2;
    }
}
