<div class="nav--secondary">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <div class="section">
                    <a ui-sref="preferences.imports" translate>Import Contacts</a>
                </div>
                <div class="section">
                    <a ui-sref="tools.mergeContacts" translate>Merge Contacts</a>
                </div>
                <div class="section">
                    <a ui-sref="tools.mergePeople" translate>Merge People</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav--secondary-padding"></div>
<div class="filter-body">
    <div class="row">
        <div class="col-md-3">
            <div class="filter-sidebar">
                <contacts-filter ng-if="!$ctrl.isInState('contacts.show')"></contacts-filter>
                <div id="contact_drawer" ng-if="$ctrl.isInState('contacts.show')">
                    <div class="contact_drawer_inner" role="complementary">
                        <div class="edit-filters clearfix">
                            <translate translate-plural="{{$count}} filters applied" translate-n="$ctrl.contactFilter.count()">1 filter applied</translate>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.showFilters = !$ctrl.showFilters">
                                    <span ng-if="$ctrl.showFilters"><i class="fa fa-users"></i> <span translate>Contacts</span></span>
                                    <span ng-if="!$ctrl.showFilters"><i class="fa fa-sliders"></i> <span translate>Filters</span></span>
                                </button>
                            </div>
                        </div>
                        <div ng-if="$ctrl.showFilters">
                            <contacts-filter></contacts-filter>
                        </div>
                        <div ng-if="!$ctrl.showFilters">
                            <menu-search></menu-search>
                            <contacts-list view="minimal" selected="$ctrl.selected"></contacts-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="filter-content">
                <ui-view>
                    <contacts-list></contacts-list>
                </ui-view>
            </div>
        </div>
    </div>
</ui-view>
