fix-send-newsletter-item {
    .panel.panel-default {
        > .panel-body {
            display: flex;
            align-items: center;
            .contact {
                flex-grow: 1;
                margin-left: 10px;
                h4 {
                    margin: 0;
                }
            }
            .selector {
                width: 50%;
                padding-left: 15px;
            }
        }
        > .panel-footer {
            padding: 15px;
            border-top: 1px solid color-gray(75);
            background-color: color-gray(95);
            text-align: left;
        }
    }
    contact-address,
    contact-person {
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            border-bottom: 0;
            h3 {
                font-size: $font-size-md;
            }
            avatar {
                display: none;
            }
            .actions {
                align-self: flex-start;
                margin-top: 10px;
            }
        }
    }
}
