<div class="row">
    <div class="col-md-4">
        <div class="network_logo">
            <img src="../../../images/logos/google_logo.png" alt="Google">
        </div>
    </div>
    <div class="col-md-8">
        <div ng-if="$ctrl.google.data.length === 0">
            <h4 class="integration-subhead" translate>Google Integration Overview</h4>
            <p translate>
                Google’s suite of tools are great at connecting you to your Ministry Partners.
            </p>
            <p>
                <translate>By synchronizing your Google services with MPDX, you will be able to:</translate>
                <ul>
                    <li translate>See MPDX calendar events in your Google Calendar</li>
                    <li translate>See Gmail interactions with your partners right inside MPDX</li>
                </ul>
            </p>
            <p translate>
                Connect your Google account to begin, and then setup specific settings for Google Calendar, Contacts and Gmail. MPDX leaves you in control of how each service stays in sync.
            </p>
        </div>
        <div ng-repeat="account in $ctrl.google.data" class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" ng-click="$ctrl.googleIntegrations.openModal(account)">
                        <i class="fas fa-pencil"></i>
                        <translate>Edit</translate>
                    </a>
                    &nbsp;
                    <a class="btn btn-danger btn-xs" ng-click="$ctrl.disconnect(account.id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {{account.email}}
            </div>
            <div class="panel-body" ng-if="account.token_expired">
                <p translate>
                    The link between MPDX and your Google account stopped working.
                    Click "Refresh Google Account" to re-enable it. After that,
                    you'll need to manually re-enable any integrations that you had set already.
                </p>
                <a ng-href="{{ $ctrl.google.oAuth }}" class="btn btn-primary" translate>Refresh Google Account</a>
            </div>
        </div>
        <a ng-href="{{ $ctrl.google.oAuth }}" class="btn btn-primary" translate>Add Account</a>
        <a ui-sref="tools.import.google" class="btn btn-default" ng-if="$ctrl.google.data.length > 0" translate>Import Contacts</a>
    </div>
</div>