<div class="col-sm-5 contact" ng-click="$ctrl.onClick()" ng-class="{'selected': $ctrl.selected, 'dont-merge': $ctrl.dontMerge}">
    <div class="row">
        <img class="avatar small img-circle pull-left" ng-src="{{$ctrl.person.avatar | stripMpdx}}">

        <div class="contact-details pull-left">
            <div class="merge-info merge-use">Use This One</div>
            <div class="merge-info merge-dont">Dont' Merge</div>

            <strong>{{$ctrl.person.title}} {{$ctrl.person.first_name}} {{$ctrl.person.last_name}}</strong>

            <div class="field-list">
                <span ng-repeat="phone_number in $ctrl.person.phone_numbers track by phone_number.id" ng-if="phone_number.primary" ng-class="{'highlight': phone_number.duplicate}">
                    {{phone_number.number}}
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
            </div>
            <div class="field-list">
                <span ng-repeat="email_address in $ctrl.person.email_addresses track by email_address.id" ng-if="email_address.primary" ng-class="{'highlight': email_address.duplicate}">
                    {{email_address.email}}
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
            </div>
        </div>
    </div>
</div>