<modal title="{{'Edit Task' | translate}}" on-close="$hide()">
    <form class="modal-body" name="bulkLogTaskForm" ng-submit="$ctrl.submit()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.model.subject" required>
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                disable-search="true"
                class="form-control"
                id="action"
                name="action"
                ng-options="opt as opt for opt in $ctrl.serverConstants.data.activities"
                ng-model="$ctrl.model.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div ng-if="!$ctrl.toComplete" class="form-group">
        <label for="due-date" translate>Due Date</label>
        <div ng-hide="$ctrl.model.no_date">
            <datetimepicker ng-model="$ctrl.model.start_at"
                            hour-step="1"
                            minute-step="1"
                            id="due-date">
            </datetimepicker>
        </div>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="completed" translate>Completed On</label>
        <div ng-hide="$ctrl.model.no_date">
            <datetimepicker ng-model="$ctrl.model.completed_at"
                            hour-step="1"
                            minute-step="1"
                            id="completed">
            </datetimepicker>
        </div>
    </div>
    <div class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.model.no_date" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div>
        <label for="emailNotify">
            <input id="emailNotify" ng-model="$ctrl.model.notification_type" type="checkbox" ng-true-value="'email'" ng-false-value="null"/>
            <translate>Email Notification</translate>
        </label>
    </div>
    <div ng-if="$ctrl.model.notification_type">
        <label for="notification_type" translate>Notify in</label>
        <div class="row">
            <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="$ctrl.model.notification_time_before" id="notification_type" ng-required="$ctrl.model.notification_type" min="0">
            </div>
            <div class="col-sm-8">
                <select chosen ng-model="$ctrl.model.notification_time_unit" ng-required="$ctrl.model.notification_type">
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                </select>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="result" translate>Result</label>
        <select chosen
                ng-required="$ctrl.toComplete"
                disable-search="true"
                class="form-control"
                id='result'
                ng-options="opt for opt in $ctrl.serverConstants.data.results[$ctrl.model.activity_type.toLowerCase()] || $ctrl.serverConstants.data.results['default']"
                ng-model="$ctrl.model.result">
            <option value=""></option>
        </select>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="nextAction" translate>Next Action</label>
        <select chosen
                disable-search="true"
                class="form-control"
                id='nextAction'
                ng-options="opt for opt in $ctrl.serverConstants.data.next_actions[$ctrl.model.activity_type.toLowerCase()] || $ctrl.serverConstants.data.next_actions['default']"
                ng-model="$ctrl.model.next_action">
            <option value=""></option>
        </select>
    </div>

    <div>
        <label translate>Contacts</label>
        <div ng-repeat="contact in $ctrl.selectedContacts track by $index">
            <select chosen ng-options="opt.id as opt.name for opt in $ctrl.contacts.completeList" ng-model="$ctrl.selectedContacts[$index]"></select>
        </div>
        <div>
            <a ng-click="$ctrl.addContact()"><i class="fa fa-plus-square"></i> Add Contact</a>
        </div>
    </div>
    <div>
        <label translate>Tags</label>
        <tag-selector tag-list="$ctrl.tasksTags.data" ng-model="$ctrl.model.tag_list"></tag-selector>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.comment"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="$ctrl.deleteTask();" translate>Delete</button>
        <button type="submit" class="btn btn-primary" ng-disabled="bulkLogTaskForm.$invalid" translate>Save</button>
        <button type="button" class="btn btn-default" ng-click="$hide()" translate>Close</button>
    </div>
    </form>
</modal>
