<div class="dropdown"
     deep-blur="$ctrl.focused = false">
    <input type="text"
           name="q"
           class="search_filter form-control"
           placeholder="{{ 'Keywords' | translate }}"
           autocomplete="off"
           ng-model="$ctrl.searchParams"
           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
           ng-focus="$ctrl.focused = true"
           ng-change="$ctrl.paramChanged()"
    >
    <div class="dropdown-content" ng-if="$ctrl.dropdown && $ctrl.contactFilter.params.wildcard_search != '' && !$ctrl.contacts.loading && $ctrl.focused">
        <a ng-repeat="contact in $ctrl.contacts.data track by $index | limitTo : 5" ui-sref="contact({contactId: contact.id})" ng-if="$ctrl.contactFilter.params.wildcard_search != ''">
            {{contact.name}}
        </a>
        <a ng-show="$ctrl.contacts.data.length == 0" translate>
            No Matches
        </a>
    </div>
</div>
