<form ng-submit="$ctrl.save(f)" novalidate>
    <p translate>You can migrate all your contact information and history from TNTConnect into MPDX. Most of your information will
        import straight into MPDX, including contact info, task history (with notes), notes, user groups, and appeals. MPDX
        hides contacts with any of the not interested statuses, including not interested and never ask in MPDX. These
        contacts import in, but do not show up unless you search for hidden contacts.
    </p>

    <p>
        <strong translate>Export your Database from TNTConnect:</strong>
        <ul>
            <li translate>Click on file, choose Utilities from the list. Then Maintenance.</li>
            <li translate>In the popup box, choose the top button, export to .xml.</li>
            <li translate>Then save to your computer.</li>
        </ul>
    </p>
    <p>
        <i class="fa fa-play-circle-o"></i>
        <a href="http://www.youtube.com/watch?v=EoWFRFIYMkQ&list=UUTjqVT-m3YXICbwaIu9_Gqg&index=22" target="_blank" translate>
            If you need help, watch this video.
        </a>
    </p>

    <p>
        <span translate>Note: You must have at least TNTConnect 3.0.</span> <span translate>To download the latest version,</span>
        <a href="http://www.tntware.com/tntconnect/downloads/" target="_blank" translate>click here</a>.
    </p>

    <div class="form-group btn btn-default" ng-model="f.file" ngf-select translate>
        Choose File
    </div>

    <div class="radio">
        <label class="field radiocheck">
            <input type="radio" ng-model="f.override" value="false">
            <span translate>This TNTConnect import should only fill in the blanks in current contacts and/or add new contacts.</span>
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="f.override" value="true">
            <span translate>This TNTConnect import should override the info in MPDX. (Contact info, notes, status, prayerletter settings, etc).</span>
        </label>
    </div>

    <div class="field importtags">
        <input type="text" ng-model="f.tags" placeholder="{{ 'Add tags to imported contacts' | translate }}">
    </div>

    <button type="submit" class="btn btn-primary" translate>Import</button>
</form>