appeals-wizard {
    .form-group > label > span {
        white-space: nowrap;
    }
    .table {
        > tbody {
            > tr {
                > td {
                    vertical-align: middle;
                    padding-bottom: 0;
                }
            }
        }
    }
}
