fix-send-newsletter-item {
    .card {
        .primary {
            margin: 0;
            padding: 0;
            border: 0;
            .primary-option {
                display: none;
            }
        }
    }
    .panel {
        .panel-default {
            > .panel-footer {
                padding: 15px;
                border-top: 1px solid color-gray(75);
                background-color: color-gray(95);
                text-align: left;
            }
        }
    }
}
