progress-appointments {
    height: 100%;
    .panel-body.statistics {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        > a, > div {
            @extend .item;
            grid-row: 1;
        }
    }
}