<div block-ui="fix-phone-numbers">
    <h1 translate>Fix Phone Numbers</h1>
    <p ng-if="!$ctrl.fixPhoneNumbers.meta.pagination.total_count" translate>
        Great work! We weren't able to detect any phone numbers in your account needing review.
    </p>
    <div ng-if="$ctrl.fixPhoneNumbers.meta.pagination.total_count">
        <p>
            <strong translate translate-params-count="$ctrl.fixPhoneNumbers.meta.pagination.total_count">You have {{count}} phone numbers to confirm.</strong>
            <br>
            <translate>Choose below which phone numbers will be set as primary.</translate>
        </p>
        <div class="bulk">
            &nbsp;<translate>Default Primary Source</translate>&nbsp;
            <select chosen
                    disable-search="true"
                    allow-single-deselect="true"
                    class="form-control"
                    ng-options="opt for opt in $ctrl.fixPhoneNumbers.sources"
                    ng-model="$ctrl.source">
                <option value=""></option>
            </select>

            <button class="btn btn-gray" ng-click="$ctrl.save()" ng-disabled="!$ctrl.source">
                <i class="fa fa-check-circle"></i>
                <translate translate-params-source="$ctrl.source"
                           translate-params-count="$ctrl.fixPhoneNumbers.data.length">Confirm {{count}} as {{source}}</translate>
            </button>
        </div>
        <div ng-show="$ctrl.fixPhoneNumbers.loading">
            <div class="loading-box">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only" translate="">Loading</span>
            </div>
        </div>
        <div ng-show="!$ctrl.fixPhoneNumbers.loading">
            <fix-phone-numbers-item ng-repeat="person in $ctrl.fixPhoneNumbers.data" person="person"></fix-phone-numbers-item>
        </div>
        <pagination ng-if="$ctrl.fixPhoneNumbers.meta.pagination.total_count > 0"
                    meta="$ctrl.fixPhoneNumbers.meta.pagination"
                    on-change="$ctrl.load(page)"
                    class="text-center">
        </pagination>
    </div>
</div>
