<div class="dropdown"
     deep-blur="$ctrl.focused = false">
    <input type="text"
           name="q"
           class="search_filter form-control"
           placeholder="{{ $ctrl.gettextCatalog.getString('Keywords') }}"
           autocomplete="off"
           ng-model="$ctrl.filters.params.wildcard_search"
           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
           ng-focus="$ctrl.focused = true"
           ng-change="$ctrl.paramChanged()"
    >
    <div class="dropdown-content" ng-if="$ctrl.dropdown && $ctrl.filterService.params.wildcard_search != '' && !$ctrl.contactsService.loading && $ctrl.focused">
        <a ng-repeat="contact in $ctrl.contactsService.data track by contact.id | limitTo : 5" ui-sref="contact({contactId: contact.id})" ng-if="$ctrl.filterService.params.wildcard_search != ''">
            {{contact.name}}
        </a>
        <a ng-show="$ctrl.contactsService.data.length == 0" translate>
            No Matches
        </a>
    </div>
</div>
