<div class="panel panel-default" block-ui="commitments">
    <div class="panel-heading panel-heading-flex">
        <i class="far fa-money-bill-alt"></i>
        <div class="panel-title" translate>Commitments Unfulfilled</div>
    </div>
    <div class="panel-body" ng-if="$ctrl.analytics.first_gift_not_received_count !== null">
        <a ui-sref="contacts({filters: {pledge_received: 'false', status: ['Partner - Financial']} })" class="dash-stat">
            <span class="count-big">
                {{ $ctrl.analytics.first_gift_not_received_count }}
            </span>
            <span translate>first gift not received</span>
        </a>
        <div ui-sref="contacts({filters: {pledge_late_by: '30_60'} })" ng-if="$ctrl.analytics.partners_30_days_late_count !== null">
            <a class="dash-stat late-partners-count">
                <span class="count-big">{{ $ctrl.analytics.partners_30_days_late_count }}</span>
                <translate translate-plural="partners <strong>{{$count}}</strong> days late" translate-n="30">partners <strong>1</strong> day late</translate>
            </a>
        </div>
        <div ui-sref="contacts({filters: {pledge_late_by: '60_90'} })" ng-if="$ctrl.analytics.partners_60_days_late_count !== null">
            <a class="dash-stat late-partners-count">
                <span class="count-big">{{ $ctrl.analytics.partners_60_days_late_count }}</span>
                <translate translate-plural="partners <strong>{{$count}}</strong> days late" translate-n="60">partners <strong>1</strong> day late</translate>
            </a>
        </div>
        <div ui-sref="contacts({filters: {pledge_late_by: '90'} })" ng-if="$ctrl.analytics.partners_90_days_late_count !== null">
            <a class="dash-stat late-partners-count">
                <span class="count-big">{{ $ctrl.analytics.partners_90_days_late_count }}</span>
                <translate translate-plural="partners <strong>{{$count}}</strong> days late" translate-n="90">partners <strong>1</strong> day late</translate>
            </a>
        </div>
    </div>
</div>
