<div class="panel panel-default dash-panel">
    <div class="panel-heading" translate>
        Commitments Unfulfilled
    </div>
    <div class="panel-body" ng-if="$ctrl.noPledgeCount !== null">
        <a ui-sref="contacts({filters: {status: ['Partner - Financial'], pledge_received: false} })" class="dash-stat">
            <span class="count-big" translate>
                $ctrl.noPledgeCount
            </span>
            <span translate>first gift not received</span>
        </a>
        <div ng-repeat="days in [30, 60]" ng-if="$ctrl.lateContactCount !== null">
            <a class="dash-stat late-partners-count" translate>
                <span class="count-big">{{ $ctrl.lateContactCount[days].length }}</span> partners <strong>{{ days }}</strong> days late
            </a>
        </div>
    </div>
</div>
