<div class="alert alert-danger" translate>
    We are currently experiencing significant issues with MailChimp. <br/>
    We have disabled the ability to create a new sync or update your current sync until we have resolved the current issue. If you would like, you can still disconnect your MailChimp sync for now.
</div>
<div ng-if="$ctrl.mailchimp.data.validate_key && $ctrl.mailchimp.data.valid && $ctrl.showSettings == false">
    <div class="alert alert-info" translate>
        Your contacts are now automatically syncing with MailChimp
    </div>
    <a class="btn btn-link" ng-click="$ctrl.disconnect()" translate>Disconnect</a>
</div>