<div block-ui="fix-commitment-info">
    <h1 translate>Fix Commitment Info</h1>
    <div class="blankslate blankslate-spacious" ng-if="!$ctrl.fixCommitmentInfo.meta.pagination.total_count && !$ctrl.fixCommitmentInfo.loading">
        <i class="fa fa-usd blankslate-icon"></i>
        <h3 translate>No contacts with commitment info need attention</h3>
        <p translate>Contacts with possibly incorrect commitment info will appear here.</p>
        <a class="btn btn-default" ui-sref="tools" translate>Back to Tools</a>
    </div>
    <div ng-if="$ctrl.fixCommitmentInfo.meta.pagination.total_count">
        <p>
            <strong translate translate-plural="You have {{$count}} partner statuses to confirm." translate-n="$ctrl.fixCommitmentInfo.meta.pagination.total_count">You have 1 partner status to confirm.</strong>
            <br>
            <translate>MPDX has assigned partnership statuses and giving frequencies based on your partner’s giving history.
            MPDX has made its best attempt at matching the appropriate statuses for you.
            However, you will need to confirm them to be sure MPDX’s matching was accurate.</translate>
        </p>
        <div class="blankslate blankslate-spacious" ng-if="$ctrl.fixCommitmentInfo.loading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
        </div>
        <div ng-if="!$ctrl.fixCommitmentInfo.loading">
            <fix-commitment-info-item ng-repeat="contact in $ctrl.fixCommitmentInfo.data" ng-if="!contact.hidden" contact="contact"></fix-commitment-info-item>
        </div>
        <pagination ng-if="$ctrl.fixCommitmentInfo.meta.pagination.total_count > 0"
                    meta="$ctrl.fixCommitmentInfo.meta.pagination"
                    on-change="$ctrl.load(page)"
                    class="text-center">
        </pagination>
    </div>
</div>
