<div class="progress-component">
    <div class="header">
        <a ui-sref="tools.appeals">
            <i class="far fa-4x fa-money-bill-alt"></i>
            <div class="panel-title" translate>Primary Appeal</div>
        </a>
    </div>
    <div class="statistics">
        <div class="item" ng-if="$ctrl.appeal">
            <h3>
                {{:: $ctrl.appeal.pledges_amount_processed | currency : '' }} /
                {{$ctrl.appeal.amount | currency : ''}}
            </h3>
            <strong>
                <a ui-sref="tools.appeals.show({ appealId: $ctrl.appeal.id })">
                    {{$ctrl.appeal.name}}
                </a>
            </strong>
        </div>
        <div class="item" ng-if="!$ctrl.appeal">
            <collection-selector item-name="{{ 'Primary Appeal' | translate }}"
                                 display-text="$ctrl.accounts.current.primary_appeal.name"
                                 search="$ctrl.appeals.appealSearch(text)"
                                 select="$ctrl.appeals.setPrimaryAppeal(item)">
            </collection-selector>
        </div>
    </div>
    <div class="panel-footer statistics">
        <appeals-progressbar appeal="$ctrl.appeal"></appeals-progressbar>
    </div>
</div>
