<modal title="{{'Edit Task' | translate}}" save="$ctrl.save()" delete="$ctrl.delete()" cancel="$hide()" show-delete="true">
    <div class="tasks-modals-edit">
        <div class="form-group">
            <label for="subject"><translate>Task Name</translate> <span class="text-danger">*</span></label>
            <input class="form-control" id='subject' ng-model="$ctrl.task.subject" autofocus required>
        </div>
        <div class="form-group">
            <label for="action"><translate>Action</translate></label>
            <select chosen
                    class="form-control"
                    id="action"
                    name="action"
                    ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.activity_hashes"
                    ng-model="$ctrl.task.activity_type">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" ng-if="$ctrl.task.activity_type === 'Appointment'">
            <label for="location" translate>Location</label>
            <input type="text"
                   name="location"
                   id="location"
                   class="form-control"
                   places-auto-complete
                   ng-model="$ctrl.task.location">
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div ng-if="$ctrl.task.completed">
                    <label for="completed" translate>Completed On</label>
                    <datetimepicker ng-model="$ctrl.task.completed_at" id="completed"></datetimepicker>
                </div>
                <div ng-if="!$ctrl.task.completed">
                    <label for="due-date" translate>Due Date &amp; Time</label>
                    <datetimepicker ng-model="$ctrl.task.start_at" id="due-date"></datetimepicker>
                </div>
            </div>
            <div class="col-md-6">
                <label translate>Contacts</label>
                <contacts-selector ng-model="$ctrl.task.contacts" class="scrollable-tags"></contacts-selector>
            </div>
        </div>
        <div ng-if="$ctrl.task.completed" class="form-group">
            <label for="result" translate>Result</label>
            <select chosen
                    ng-required="$ctrl.task.completed"
                    class="form-control"
                    id="result"
                    ng-options="opt for opt in $ctrl.serverConstants.data.results[$ctrl.task.activity_type.toLowerCase()] || $ctrl.serverConstants.data.results['default']"
                    ng-model="$ctrl.task.result">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate>Tags</label>
            <tag-selector tag-list="$ctrl.tasksTags.data" ng-model="$ctrl.task.tag_list" class="scrollable-tags"></tag-selector>
        </div>
        <div class="form-group" ng-if="!$ctrl.task.completed" ng-class="{ 'text-muted': !$ctrl.task.start_at }">
            <label>
                <translate>Notification</translate>
                <i class="fas fa-info-circle" data-placement="right" data-title="{{'If blank, you will not be notified' | translate}}" bs-tooltip></i>
            </label>
            <div class="notify">
                <span translate>Notify me</span>
                <div class="notification-time-before">
                    <input type="number"
                           class="form-control"
                           ng-model="$ctrl.task.notification_time_before"
                           id="notification_type"
                           ng-required="$ctrl.task.notification_type"
                           ng-disabled="!$ctrl.task.start_at"
                           min="0">
                </div>
                <div class="notification-time-unit">
                    <select chosen
                            ng-model="$ctrl.task.notification_time_unit"
                            disable-search="true"
                            ng-disabled="!$ctrl.task.start_at"
                            ng-required="$ctrl.task.notification_type">
                        <option value="minutes">Minutes</option>
                        <option value="hours">Hours</option>
                    </select>
                </div>
                <span translate>before Due Date &amp; Time on</span>
                <div class="notification-type">
                    <select chosen
                            ng-disabled="!$ctrl.task.start_at || $ctrl.task.notification_time_before === null"
                            disable-search="true"
                            ng-model="$ctrl.task.notification_type">
                        <option value="" ng-if="!$ctrl.task.start_at || $ctrl.task.notification_time_before == null" translate>None</option>
                        <option value="email" translate>Email</option>
                        <option value="mobile" translate>Mobile</option>
                        <option value="both" translate>Both</option>
                    </select>
                </div>
            </div>
            <small class="text-danger" ng-if="$ctrl.task.notification_type === 'mobile' || $ctrl.task.notification_type === 'both'" translate>
                Note: For MPDX to notify you on mobile, you will need to sync your app after creating this task. Simply open the app to sync.
            </small>
        </div>
    </div>
</modal>
