<modal title="{{'Edit Task' | translate}}" save="$ctrl.save()" delete="$ctrl.delete()" cancel="$hide()" show-delete="true">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.task.subject" autofocus required>
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate></label>
        <select chosen
                disable-search="true"
                class="form-control"
                id="action"
                name="action"
                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.activity_hashes"
                ng-model="$ctrl.task.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div ng-if="$ctrl.task.completed" class="form-group">
        <label for="completed" translate>Completed On</label>
        <datetimepicker ng-model="$ctrl.task.completed_at"
                        hour-step="1"
                        minute-step="1"
                        id="completed">
        </datetimepicker>
    </div>
    <div ng-if="!$ctrl.task.completed && !$ctrl.no_date" class="form-group">
        <label for="due-date" translate>Due Date</label>
        <datetimepicker ng-model="$ctrl.task.start_at"
                        hour-step="1"
                        minute-step="1"
                        id="due-date">
        </datetimepicker>
    </div>
    <div ng-if="!$ctrl.task.completed" class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.no_date" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div ng-if="!$ctrl.task.completed">
        <div class="checkbox">
            <label for="emailNotify">
                <input id="emailNotify" ng-model="$ctrl.task.notification_type" type="checkbox" ng-true-value="'email'" ng-false-value="null" />
                <translate>Email Notification</translate>
            </label>
        </div>
        <div ng-if="$ctrl.task.notification_type">
            <p translate>How long before task is due would you like to be notified?</p>
            <div class="row">
                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="$ctrl.task.notification_time_before" id="notification_type" ng-required="$ctrl.task.notification_type" min="0">
                </div>
                <div class="col-sm-8">
                    <select chosen ng-model="$ctrl.task.notification_time_unit" ng-required="$ctrl.task.notification_type" id="notification_time_unit">
                        <option value="minutes">Minutes</option>
                        <option value="hours">Hours</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.task.completed" class="form-group">
        <label for="result" translate>Result</label>
        <select chosen
                ng-required="$ctrl.task.completed"
                disable-search="true"
                class="form-control"
                id='result'
                ng-options="opt for opt in $ctrl.serverConstants.data.results[$ctrl.task.activity_type.toLowerCase()] || $ctrl.serverConstants.data.results['default']"
                ng-model="$ctrl.task.result">
            <option value=""></option>
        </select>
    </div>
    <label ng-if="$ctrl.task.contacts.length > 0" translate>Contacts</label>
    <div class="form-group" ng-repeat="contact in $ctrl.task.contacts track by $index">
        <input class="form-control" type="text" value="{{contact.name}}" disabled="disabled">
    </div>
    <div class="form-group">
        <label translate>Tags</label>
        <tag-selector tag-list="$ctrl.tasksTags.data" ng-model="$ctrl.task.tag_list"></tag-selector>
    </div>
    <div class="form-group" ng-if="$ctrl.task.activity_type === 'Appointment'">
        <label for="location" translate>Location</label>
        <input type="text"
               name="location"
               id="location"
               class="form-control"
               places-auto-complete
               ng-model="$ctrl.task.location">
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <textarea class="form-control" id='comment' ng-model="$ctrl.comment"></textarea>
    </div>
</modal>
