<modal title="{{'Finish Task' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <h3 class="text-muted center">{{::$ctrl.task.subject}}</h3>
    <div class="form-group" ng-if="$ctrl.serverConstants.data.results[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="result"><translate>Result</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt for opt in $ctrl.serverConstants.data.results[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.result">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="nextActions" translate>Next Action</label>
        <select chosen
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt for opt in $ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.next_action"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.showPartnerStatus()">
        <label translate>Partner Status</label>
        <select chosen
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.status_hashes"
                ng-model="$ctrl.status"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <textarea msd-elastic
                  class="form-control"
                  id="comment"
                  ng-model="$ctrl.comment"
                  rows="1"
                  autofocus></textarea>
    </div>
</modal>
