<modal title="{{'Finish Task' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="form-group" ng-if="$ctrl.serverConstants.data.results[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="result"><translate>Result</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt for opt in $ctrl.serverConstants.data.results[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.result">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="nextActions" translate>Next Action</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt for opt in $ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.next_action"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.showPartnerStatus()">
        <label translate>Partner Status</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt as opt for opt in $ctrl.serverConstants.data.assignable_statuses"
                ng-model="$ctrl.status"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <textarea class="form-control" id='comment' ng-model="$ctrl.comment" autofocus></textarea>
    </div>
</modal>
