collection-selector {
    > button.btn {
        white-space: nowrap;
        span.display-text {
            display: inline-block;
            max-width: calc(100% - 20px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
