<div class="merges">
    <h2 translate>Merge People</h2>
    <div ng-if="$ctrl.mergePeople.duplicates.length">
        <p>
            <translate translate-plural="You have {{$count}} possible duplicate people." translate-n="$ctrl.mergePeople.total">
                You have 1 possible duplicate person.
            </translate>
            <translate>
                This is sometimes caused when you imported data into MPDX.
                We recommend reconciling these as soon as possible.
                Please select the duplicate that should win the merge.
                No data will be lost.
            </translate>
        </p>
        <p>
            <strong class="text-danger" translate>This cannot be undone.</strong>
        </p>
        <hr>
        <div block-ui="merge-people">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row" ng-repeat="duplicate in $ctrl.mergePeople.duplicates">
                        <div class="col-sm-5">
                            <merge-people-item person="duplicate.people[0]" on-click="$ctrl.useThisOne(duplicate, 0)" selected="duplicate.mergeChoice == 0" ignored="duplicate.mergeChoice == 2"></merge-people-item>
                        </div>
                        <div class="col-sm-2 text-center choices">
                            <i class="fa fa-arrow-left choice-left" ng-class="{'selected': duplicate.mergeChoice == 0}" ng-click="$ctrl.useThisOne(duplicate, 0)"></i>
                            <i class="fa fa-arrow-right choice-right" ng-class="{'selected': duplicate.mergeChoice == 1}" ng-click="$ctrl.useThisOne(duplicate, 1)"></i>
                            <i class="fa fa-close choice-cancel" ng-class="{'selected': duplicate.mergeChoice == 2}" ng-click="$ctrl.useThisOne(duplicate, 2)"></i>
                        </div>
                        <div class="col-sm-5">
                            <merge-people-item person="duplicate.people[1]" on-click="$ctrl.useThisOne(duplicate, 1)" selected="duplicate.mergeChoice == 1" ignored="duplicate.mergeChoice == 2"></merge-people-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <button class="btn btn-primary" ng-click="$ctrl.confirm(false)" ng-disabled="$ctrl.confirmButtonDisabled()" translate>Confirm and Continue</button>
                        </div>
                        <div class="col-sm-2 text-center confirm-or">
                            <span>OR</span>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-primary" ng-click="$ctrl.confirm(true)" ng-disabled="$ctrl.confirmButtonDisabled()" translate>Confirm and Leave</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.mergePeople.duplicates.length">
        <p translate>No People to merge right now!</p>
    </div>
</div>
