<modal title="{{'Log Newsletter' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" ng-model="$ctrl.task.subject" required>
    </div>
    <div class="form-group">
        <label><translate>Action</translate> <span class="text-danger">*</span></label>
        <label>
            <input name="newsletter" type="radio" ng-model="$ctrl.task.activity_type" value="Newsletter - Physical" required>
            <translate>Newsletter - Physical</translate>
        </label>
        <label>
            <input name="newsletter" type="radio" ng-model="$ctrl.task.activity_type" value="Newsletter - Email" required>
            <translate>Newsletter - Email</translate>
        </label>
        <label>
            <input name="newsletter" type="radio" ng-model="$ctrl.task.activity_type" value="Newsletter - Both" required>
            <translate>Both</translate>
        </label>
    </div>
    <div class="form-group">
        <label for="due-date" translate>Completed On</label>
        <datetimepicker ng-model="$ctrl.task.start_at"
                        hour-step="1"
                        minute-step="1"
                        name="due-date">
        </datetimepicker>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" ng-model="$ctrl.comment">
    </div>
</modal>
