<modal>
    <modal-header title="Remove Tags" on-close="$hide()"></modal-header>
    <form class="modal-body">
        <div>
            <p>Click on a tag to remove it from selected contacts:</p>
            <ul>
                <li ng-repeat="tag in $ctrl.contactsService.getTagsFromSelectedContacts()">
                    <a ng-click="$ctrl.removeTag(tag)">{{ tag }}</a>
                </li>
            </ul>
        </div>
    </form>
    <div class="modal-footer text-left">
        <button ng-click="$hide()" type="button" class="btn btn-default">Close</button>
    </div>
</modal>
