<div class="row">
    <div class="col-sm-6">
        <div ng-if="::$ctrl.recommendation.suggested_pledge_amount" class="field">
            <h4 class="attribute-header" translate>Recommended Monthly Commitment Amount</h4>
            <div class="inline-input disabled">
                <input type="text" value="{{::$ctrl.recommendation.suggested_pledge_amount | currency}}" readonly />
                <a class="tip">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        </div>
        <div ng-if="::$ctrl.recommendation.suggested_special_amount" class="field">
            <h4 class="attribute-header" translate>Recommended Special Commitment Amount</h4>
            <div class="inline-input disabled">
                <input type="text" value="{{::$ctrl.recommendation.suggested_special_amount | currency}}" readonly />
                <a class="tip">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div ng-if="::$ctrl.recommendation.started_at" class="field">
            <h4 class="attribute-header" translate>Last Increase Date</h4>
            <div class="inline-input disabled">
                <input type="text" value="{{::$ctrl.recommendation.started_at | localize}}" readonly />
                <a class="tip">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        </div>
        <div ng-if="::$ctrl.recommendation.ask_at" class="field">
            <h4 class="attribute-header" translate>Next Recommended Increase Ask Date</h4>
            <div class="inline-input disabled">
                <input type="text" value="{{::$ctrl.recommendation.ask_at | localize}}" readonly />
                <a class="tip">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blankslate" ng-if="::!$ctrl.recommendation">
    <i class="fa fa-home blankslate-icon"></i>
    <h3 translate>Looks like there are no recommendations for this contact</h3>
</div>
