<modal size="lg" title="{{'Add Multiple Contacts' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="table-wrapper table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th translate>First</th>
            <th translate>Spouse</th>
            <th translate>Last</th>
            <th translate>Street Address</th>
            <th translate>City</th>
            <th translate>State</th>
            <th translate>Postal Code</th>
            <th translate>Phone</th>
            <th translate>Email</th>
            <th translate>Spouse Phone</th>
            <th translate>Spouse Email</th>
            <th translate>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" ng-repeat="key in $ctrl.range(0, 14)">
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].first_name"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].spouse_first_name"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].last_name"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].street"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].city"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].state"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].postal_code"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].phone"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].email"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].spouse_phone"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].spouse_email"></td>
            <td><input class="form-control"  type="text" ng-model="$ctrl.models[key].notes"></td>
        </tr>
    </table>
</modal>