@import "address/address";

contact-addresses {
    .address-row {
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
    }
}