<h3  ng-if="$ctrl.contacts.activeDrawer === 'addresses'" translate>Addresses</h3>
<div class="address-row">
    <contact-address ng-repeat="address in $ctrl.contacts.current.addresses track by address.id"
                     address="address"
                     contact="$ctrl.contacts.current"
                     on-primary="$ctrl.onAddressPrimary(address.id)"></contact-address>
</div>
<button type="button" class="btn btn-primary" ng-click="$ctrl.contacts.openAddressModal($ctrl.contact)">
    <i class="fas fa-plus-circle"></i> <translate>Add Address</translate>
</button>