@mixin cru-button-variant($color, $alt-color, $background, $alt-background, $border, $alt-border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $alt-color;
    background-color: $alt-background;
        border-color: $alt-border;
  }
  &:hover {
    color: $alt-color;
    background-color: $alt-background;
        border-color: $alt-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $alt-color;
    box-shadow:       none;
    background-image: none;
    background-color: $alt-background;
        border-color: $alt-border;

    &:hover,
    &:focus,
    &.focus {
      color: $alt-color;
      background-color: $alt-background;
          border-color: $alt-border;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $alt-background;
          border-color: $alt-border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}



.btn {
    border-radius: $border-radius;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    -webkit-appearance: none !important;
}

.btn-block {
    display: block;
    margin-bottom: 8px;
}

.btn-reverse {
    background: $cru-gray-dark;
    color: $color-reverse;

    &:active,
    &:hover,
    &:focus {
      color: $color-reverse;
    }
}

.btn-blue {
    background: $color-primary;
    color: $color-reverse;
}

.btn-xxs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 1px;
}

.btn-account-dropdown {
    font-size: 16px !important;
    margin-top: 15px;
    line-height: 32px !important;
}

.btn-filter-left {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}
