
.btn {
    border-radius: $border-radius;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    -webkit-appearance: none !important;
}

.btn-block {
    display: block;
    margin-bottom: 8px;
}

.btn-reverse {
    background: $cru-gray-dark;
    color: $color-reverse;

    &:active,
    &:hover,
    &:focus {
      color: $color-reverse;
    }
}

.btn-blue {
    background: $color-primary;
    color: $color-reverse;
}

.btn-xxs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 1px;
}

.btn-account-dropdown {
    font-size: 16px !important;
    margin-top: 15px;
    line-height: 32px !important;
}

.btn-filter-left {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}
