.card {
    border: 1px solid $color-panel-border;
    background-color: #F7F7F7;
    padding: 15px;
    font-size: $font-size-sm;
    line-height: 20px;
    margin-bottom: 5px;
    position: relative;
    .pull-right a {
        cursor: pointer;
    }
    .primary-container {
        .primary-option {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &.primary {
      border: 1px solid $color-primary;
      .primary-option {
          background-color: $color-primary;
      }
    }
}
