.card {
    border: 1px solid $color-panel-border;
    background-color: #F7F7F7;
    padding: 15px;
    font-size: $font-size-sm;
    line-height: 20px;
    margin-bottom: 10px;
    .pull-right a {
        cursor: pointer;
    }
    &.primary {
      border: 1px solid $color-primary;
    }
}
