.filter-body {
  &.without-subnav {
    .filter-sidebar {
      top: 103px;
      margin-top: 0;
    }
  }

  .filter-sidebar {
      top: 136px;
      bottom: 0;
      margin-bottom: 30px;
      margin-top: 10px;
      position: fixed;
      overflow: scroll;

      @include breakpoint(md) {
        width: 215px;
      }
      @include breakpoint(lg) {
        width: 265px;
      }
  }

  .nav-pills>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.nav-offset {
  margin-top: $nav-height;
}
.subnav-offset {
  margin-top: $subnav-height;
}
.subnav-offset-padded {
  margin-top: $subnav-height + $gutter;
}
.fullnav-offset {
  margin-top: $fullnav-height;
}
