.filter-body {
  &.without-subnav {
    .filter-sidebar {
      top: $nav-height;
    }
    .filter-content {
      margin-top: $subnav-padding;
    }
  }

  .filter-sidebar {
      top: $fullnav-height;
      bottom: 0;
      margin-bottom: 30px;
      padding-top: $subnav-padding;
      position: fixed;
      overflow: scroll;

      @include breakpoint(md) {
        width: 215px;
      }
      @include breakpoint(lg) {
        width: 265px;
      }
  }

  .nav-pills>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.nav-offset {
  margin-top: $nav-height;
}
.subnav-offset {
  margin-top: $subnav-height;
}
