/* CRU BRAND COLORS */
$brand-primary:         $color-primary;

$color-gray-keyline:    #e9e9e9;
$color-gray-progress:   #D8D8D8;
$color-gray-dark:       #4c4749;
$color-gray-light:      #e2e2e2;
$color-brownish:        #bd8500;
$color-gray-text:       #828282;

$base-text-color:       $color-gray-dark;

$gray: #929497;
$gray_lightest: #f5f5f5;;
$gray_light: #E6E7E8;
$gray_mid: #BBBDBF;
$gray_dark: #58595B;
$gray_socialcommentbox: #F1F1F2;
$blue: #0077ae;
$blue_light: #D6ECF2;
$baby_blue: #eef9ff;
$blue_dark: #00566D;
$blue_comments: #e7f8ff;
$green: #56AA00;
$green_light: #62A11A;
$green_dark: #437C00;
$green_darkest: #3C6B00;
$error_red: #c63333;
$btn_gray: #A8A8A8;
$menu_bg: #909B9C;
$icon_gray: #4A4A4A;

$page_bg: $color-white;
$content_bg: $color-white;

$type: #58595B;
$links: $blue;
$menu_links: $color-white;
$module_titles: $color-white;
$border: #929497;

$maxwidth: 960px/* 1200px */;
$sidebarwidth: 330px;
$sidebarmargins: 15px;
$borders: #ccc;
$bodywidth: 870px;
$leftmenuwidth: auto;

.cols {float: left; margin-right: 2%; vertical-align: top;}
.cols:last-child {margin-right: 0;}
.col_50 {width: 48%;}
.col_30 {width: 30%;}
.col_33 {width: 30%;}

@mixin listclear {list-style: none; margin: 0; padding: 0;}

.avatar.small {width: 50px; height: 50px}
.avatar.mid {width: 125px;}
.avatar.large {width: 200px;}

/* **************************************************************** */

$brand-font: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
$data-font: "Helvetica Neue", "Helvetica", "Arial";

.brand-font {font-family: $brand-font;}
.data-font {font-family: $data-font;}

html {
    font-family: $brand-font;
    font-size: 14px;
}

.btn,
h1, h2, h3,
.navbar,
span.menu_item,
.dropdown,
#global {
    font-family: $brand-font;
}


/* ************************************************************** */

.logo {width: 83px; height: 21px; background: url("images/mpdx_logo_dark.png") no-repeat; background-size: 123px 48px;}

/* ************************************************************** */

.actions {
    display: inline-block;
}
.inlineaction {
    width: 14px;
    height: 14px;
    background: no-repeat 50% 50%;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
}
.inlineaction.delete {
    background-image: url("images/delete.png");
}

#select_more {
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.green { color: $green; }
.green_dark { color: $green_dark; }
.green_darkest { color: $green_darkest; }
.red { color: $error_red }

input:read-only:not([type="submit"]):not([type="button"]),
textarea:read-only {
    background-color: #d3d3d3;
}

$appealHeight: 20px;

.appealThermometer {
    height: $appealHeight;
    line-height: $appealHeight;
    font-size: 11px;
    width: 100px;
    margin: 0 10px;
    padding: 0;
    border: #cccccc solid 1px;
    display: inline-block;
    .level {
        height: $appealHeight - 2;
        line-height: $appealHeight - 2;
        vertical-align: middle;
        margin: 0;
        padding: 0 3px 0 0;
        border-right: 1px solid #666666;
        background: #ffcccc;
        text-align: right;
    }
}

.appealFilterCol {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    height: 310px;
    overflow-y: auto;
}

.ui-dialog-responsive .appealFilterCol {
    height: auto;
}

.filter_selector_title {
    font-size: 1em;
    line-height: 1.5em;
}

.filter_selector {
    label {
        font-weight: normal;
        line-height: 1.25em;
        margin-bottom: 0;
    }
}

.btn-reverse {
    background: $color-gray-dark;
    color: $color-white
}

.btn-blue {
    background: $color-blue-deep;
    color: $color-white;
}

.btn-xxs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 1px;
}

.avatar-add{
    position: absolute;
    color: #56AA00;
    cursor: pointer;
    top: 58px;
    left: 74px;
}

.color-primary {color: $color-primary;}

.account-users {
    td, th {
        padding: 10px;
        border: 1px solid $color-gray-light;
    }
}

.impersonation-bar {
    color: $error_red;
    background: $gray_light;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.warning-text {
    color: $error_red;
    font-weight: bold;
}

a{
    cursor: pointer;
}
