/* CRU BRAND COLORS */
$brand-primary:         $color-primary;
$color-gray: black;
$color-background: black;
$color-danger: red;
$text-muted: #333;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-xs-max: 992px;


$gray: #929497;
$gray_light: #E6E7E8;
$gray_mid: #BBBDBF;
$gray_dark: #58595B;
$gray_socialcommentbox: #F1F1F2;
$blue: #0077ae;
$blue_light: #D6ECF2;
$baby_blue: #eef9ff;
$blue_dark: #00566D;
$blue_comments: #e7f8ff;
$btn_gray: #A8A8A8;
$menu_bg: #909B9C;
$icon_gray: #4A4A4A;
$progress: #EAC347;
$progress_dark: #CB773B;
$selected_bg: #EEF5FC;
$selected_hover_bg: darken($selected_bg, 10%);
$hover_bg: lighten($cru-blue, 50%);

$page_bg: $color-reverse;
$content_bg: $color-reverse;

$type: #58595B;
$links: $blue;
$menu_links: $color-reverse;
$module_titles: $color-reverse;
$border: #929497;

$borders: #ccc;
$bodywidth: 870px;
$leftmenuwidth: auto;

.cols {float: left; margin-right: 2%; vertical-align: top;}
.cols:last-child {margin-right: 0;}

@mixin listclear {list-style: none; margin: 0; padding: 0;}

/* **************************************************************** */

html,body {
    font-family: $font-primary;
    font-size: $font-size;
    color: $color-text;
}

a {
    cursor: pointer;
}

/* ************************************************************** */

body > .tooltip {
    position: fixed;
}
.actions {
    display: inline-block;
}
.inlineaction {
    width: 14px;
    height: 14px;
    background: no-repeat 50% 50%;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
}
.inlineaction.delete {
    background-image: url("images/delete.png");
}

#select_more {
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

input:read-only:not([type="submit"]):not([type="button"]),
textarea:read-only {
    background-color: #d3d3d3;
}

$appealHeight: 20px;

.appealThermometer {
    height: $appealHeight;
    line-height: $appealHeight;
    font-size: 11px;
    width: 100px;
    margin: 0 10px;
    padding: 0;
    border: #cccccc solid 1px;
    display: inline-block;
    .level {
        height: $appealHeight - 2;
        line-height: $appealHeight - 2;
        vertical-align: middle;
        margin: 0;
        padding: 0 3px 0 0;
        border-right: 1px solid #666666;
        background: #ffcccc;
        text-align: right;
    }
}

.appealFilterCol {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    height: 310px;
    overflow-y: auto;
}

.ui-dialog-responsive .appealFilterCol {
    height: auto;
}

.filter_selector_title {
    font-size: 1em;
    line-height: 1.5em;
}

.filter_selector {
    label {
        font-weight: normal;
        line-height: 1.25em;
        margin-bottom: 0;
    }
}


.account-users {
    td, th {
        padding: 10px;
        border: 1px solid $color-bg;
    }
}

.warning-text {
    font-weight: bold;
}

.loading-box {
    color: $color-primary;
    width: 100%;
    line-height: 500px;
    border: 1px #DDD solid;
    text-align: center;
}


.circle-late {
  color: $gray_dark;
}

.circle-very-late {
  color: $color-danger;
}

.circle-on-time {
  color: $color-success;
}
