form, .formstyles {
    .fieldset {
        .field {
            display: inline-block;
        }
    }
    .field {
        margin-bottom: .5em;
    }
    label, .field p {
        display: block;
        color: $gray_dark;
        font-family: $brand-font;
        font-weight: 600;
    }

    .radiocheck {
        margin-right: 1em;
        label {
            display: inline-block;
        }
    }

    .field_action {
        display: inline-block;
        label{
            display: inline;
        }
    }

    .fieldset_label {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 2px solid $gray_light;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .field_indent {
        .ls, .rs {display: inline-block;}
        .ls {min-width: 60px;}
    }

    .email_field, .social_field, .phone_field {
        /*display: block !important;*/
        .ls, .rs {display: inline-block;}
        .ls {min-width: 60px;}
    }

    .social_field {
        .ls {min-width: 80px;}
    }

    .address_field {
        /*display: block !important;*/
        margin-bottom: 10px;
        .ls, .rs {display: inline-block;}
        .ls {min-width: 80px; vertical-align: top;}
    }

    .address_field:last-child {
        margin-bottom: 0px;
    }

    .address_indent .ls {
        width: 80px;
    }

    .spacer {
        height: 2em;
        display: block;
    }

    .add_field {
        margin-bottom: 10px;
        display: block;
        color: $color-text;
        &:before {
            content: "\f196 ";
            font-family: "FontAwesome";
            display: inline-block;
            margin-right: 6px;
        }
    }

    .optout_enewsletter{
        float: right;
    }

    input.country_select,
    textarea {
    }
    input[type=radio] {}
    input[type=checkbox] {}
    input[type=tel] {width: 180px;}
    .dense-checks {
        padding-top: 6px;
        .checkbox {
            margin: 0;
            label {
                min-height: 0;
                line-height: 1.25em;
            }
        }
    }
}

.form-control {
    border-radius: 3px;
}

.input-group-addon {
    border-radius: 0px;
}

.small-gutter {
    margin-left: -5px;
    margin-right: -5px;
    > [class*='col-'] {
        padding-left:5px;
        padding-right:5px;
    }
}

.address_field {
    .form-group {
        margin-bottom: 8px;
    }
    label {
        font-weight: 600;
        margin-bottom: 0;
    }
    .checkbox:first-child {
        margin-top: 5px;
    }
    .checkbox label {
        line-height: 1em;
        min-height: 1em;
        input[type=checkbox] {
            margin-top: 0;
        }
    }
    .remove_fields {
        font-size: 12px;
        font-weight: 500;
    }
}

.form-group-row {
    input,
    .btn,
    select {
        display: inline-block;
    }
}

.hint {padding: 5px 0; font-size: .95em;}
