.hint {
    padding: 5px 0; font-size: .95em;
}
.form-control {
    border-radius: 3px;
    border-color: #ccc;
    &.ng-dirty.ng-invalid, &.ng-touched.ng-invalid {
        border-color: red;
        + .chosen-container > .chosen-single {
            border-color: red;
        }
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: rgba(82, 168, 236, 0.8);
    }
    &[type="checkbox"] {
        display: inline-block;
        width: auto;
        height: auto;
    }
}
.empty-association {
    text-align: center;
    line-height: 34px;
    border: 1px dashed #ccc;
    font-size: 14px;
    margin-bottom: 11px;
}
tags-input {
    &.ng-invalid .tags {
        border-color: red;
        box-shadow: none;
    }
    .tags {
        box-shadow: none;
        &.focused {
            box-shadow: none;
            border-color: rgba(82, 168, 236, 0.8);
        }
        input.input {
            font-size: 14px;
            font-family: "Source Sans Pro", sans-serif;
        }
        .tag-item {
            font-family: "Source Sans Pro", sans-serif;
            background: #05699B;
            border: 0;
            .remove-button {
                color: #fff;
                opacity: .35;
            }
            &.selected {
                border: 0;
            }
        }
    }
    .autocomplete {
        box-shadow: none;
        border-color: rgba(82, 168, 236, 0.8);
        .suggestion-item {
            font-size: 14px;
            font-family: "Source Sans Pro", sans-serif;
            margin: 0 4px;
            padding: 5px 6px;
            &.selected {
                color: #fff;
                background: #428bca;
                em {
                    color: #fff;
                    background-color: #428bca;
                }
            }
            em {
                color: #000;
                font-size: 14px;
                font-family: "Source Sans Pro", sans-serif;
            }
        }
    }
}
