.horizontal-tab-sortable {
    display: block;
    width: 100%;
    height: auto;
    .as-sortable-item {
        display: inline-block;
        list-style: none;
        margin: 0;
        position: relative;
        z-index: 0;
        height: 40px;
        border: 1px transparent solid;
        > .as-sortable-item-handle {
            transition: all 0.2s ease-out;
            display: block;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            padding: 10px 20px;
            > a, a:link, a:visited {
                color: #4A4A4A;
            }
            &:hover {
                color: $color-secondary;
            }
        }
    }
    .as-sortable-placeholder {
        display: inline-block;
        width: 100px;
        height: 40px;
        float: left;
        list-style: none;
        margin: 0 20px 0 0;
    }
    .active-item {
        background-color: $cru-white;
        border: 1px $color-menu-border solid;
        border-top-color: $color-secondary;
        border-bottom-color: $cru-white;
        border-radius: 2px 2px 0 0;
        z-index: 2;
        .as-sortable-item-handle {
            &:hover {
                a, a:link, a:visited {
                color: $color-text;
                text-decoration: none;
                }
            }
        }
    }
    .sortable-row {
        width: 100%;
        height: 40px;
        position: relative;
        padding-left: 15px;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px $color-menu-border solid;
            z-index: 1;
        }
    }
    .as-sortable-placeholder {
        border: 1px dotted $color-menu-border !important;
        opacity: .4;
    }
    .as-sortable-dragging {
        background-color: $color-menu-border;
    }
    .as-sortable-drag {
        position: absolute;
        top: 0;
        opacity: .5;
        z-index: 20000 !important;
    }
    .left-tabs {
        float: left;
    }
    .tabs-info {
        width: auto;
        height: auto;
        float: right;
        padding-top:5px;
    }
    .tabs-info:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
