.nav--secondary {
    background: $color-reverse;
    border-bottom: 1px solid $color-menu-border;
    padding: 10px 0 10px $container-padding-left;

    .section.right {
        margin-right: 0;
        margin-left: 12px;
    }
    a {
        color: $cru-gray-dark;
        font-size: 14px;
        &:hover {
            text-decoration: none;
            cursor: pointer;
            translate {text-decoration: underline;}
        }
    }
    translate {vertical-align: top;}
    .badge {vertical-align: text-top;}
}