.nav--secondary {
    background: $color-reverse;
    border-bottom: 1px solid $color-menu-border;
    height: 65px;
    line-height: 35px;
    display: flex;
    flex-direction: row;
    translate {
        vertical-align: top;
    }
    .badge {
        vertical-align: text-top;
    }
    .section {
        height: 64px;
        vertical-align: top;
        transition: background-color 0.2s ease-out;
        &:first-child {
            > a.menu-item {
                padding-left: $container-padding;
            }
        }
        &-spacer {
            flex-grow: 1;
        }
        &.active {
            > a.menu-item {
                background-color: lighten($cru-gray-tint, 8%);
            }
        }
        > a.menu-item {
            font-size: 16px;
            color: $cru-gray-dark;
            padding: $container-padding 10px;
            line-height: 64px - $container-padding * 2;
            display: inline-block;
            &:hover {
                text-decoration: none;
                cursor: pointer;
                background-color: lighten($cru-gray-tint, 8%);
            }
            &:focus {
                outline: none;
                text-decoration: none;
            }
        }
    }
}
