.panel {
    border-radius: 1px;
    border-color: $color-panel-border;
    &.panel-default {
        transition: border-color 0.5s;
        .panel-heading {
            transition: background-color 0.5s;
            user-select: none;
            cursor: default;
        }
        .panel-footer {
            transition: background-color 0.5s;
            text-align: right;
        }
        &.panel-disabled {
            > .panel-heading {
                color: #444;
                cursor: default;
            }
        }
        &.panel-selected {
            .panel-heading, .panel-footer {
                background-color: rgba($color-secondary, .52);
                border-color: $color-secondary;
            }
            border-color: $color-secondary;
        }
    }
    &-body {
        .alert {
            position: relative;
        }
    }
    &-empty {
        line-height: 150px;
    }
    &-group .panel {
        border-radius: 1px;
    }
    &__prompt {
        border-top: $color-secondary 5px solid;
        .panel-body {
            padding-top: 27px;
            padding-bottom: 27px;
        }
        h2 {
            font-size: 24px;
            line-height: 39px;
            margin-top: 0;
            margin-bottom: 0;
        }
        .icon_alert {
            width: 50px;
            vertical-align: top;
            display: inline-block;
            margin-right: 5px;
        }

        .btn-primary {
            font-size: $font-size;
            line-height: 25px;
            min-width: 130px;
        }
    }
}
