.popover {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    .popover-content {
        padding: 5px;
        line-height: 15px;
        font-size: 12px;
    }
    &:focus {
        outline: none;
    }
}
