.primary-container {
    height: 12px;
    .primary-option {
        padding: 5px 10px;
        background: $color-panel-border;
        color: #fff;
        border-top-left-radius: 5px;
        cursor: pointer;
    }
}