.progress {
    height: 35px;
    background: $cru-gray;
    border-radius: 0;
    box-shadow: none;
    .progress-bar {
        font-size: 1.1em;
        font-weight: bold;
        line-height: 35px;
        box-shadow: none;
        &.color-0 {
            background-color: #f9b625
        }
        &.color-1 {
            background-color: #dd7d1b
        }
        &.color-2 {
            background-color: #909b9c
        }
        &.color-3 {
            background-color: #666062
        }
        &.color-4 {
            background-color: #3eb1c8
        }
        &.color-5 {
            background-color: #007398
        }
    }
}
