// Use to add Responsive Conditions to classes
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


// Define new buttons
@mixin cru-button-variant($color, $alt-color, $background, $alt-background, $border, $alt-border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $alt-color;
    background-color: $alt-background;
        border-color: $alt-border;
  }
  &:hover {
    color: $alt-color;
    background-color: $alt-background;
        border-color: $alt-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $alt-color;
    box-shadow:       none;
    background-image: none;
    background-color: $alt-background;
        border-color: $alt-border;

    &:hover,
    &:focus,
    &.focus {
      color: $alt-color;
      background-color: $alt-background;
          border-color: $alt-border;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $alt-background;
          border-color: $alt-border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.pointer {
    cursor: pointer;
}