$cru-blue:                  #05699B;
$cru-light-blue:            #32C3D7;
$cru-gold:                  #F5BE19;
$cru-white:                 #ffffff;
$cru-gray:                  #5A5A5A;
$cru-gray-silver:           #BEBEBE;
$cru-gray-tint:             #E6E6E6;
$cru-gray-dark:             #323232;

$color-primary:             $cru-blue;
$color-secondary:           $cru-gold;
$color-text:                $cru-gray;
$color-link:                $cru-gray;
$color-reverse:             $cru-white;
$color-bg:                  $cru-gray-tint;

$color-menu-bg:             lighten($cru-gray, 60%);  // #f3f3f3
$color-menu-border:         lighten($cru-gray, 50%);

$color-panel-bg:            $cru-gray;
$color-panel-border:        $cru-gray-silver;

$color-text-dark:           $cru-gray-dark;

$font-primary:              'Source Sans Pro', sans-serif;
$font-data:                 $font-primary;
$font-size:                 16px;
$font-size-xl:              $font-size * 2.25;  // 36px
$font-size-lg:              $font-size * 1.625; // 26px
$font-size-sm:              $font-size * .9;    // 14.4px
$font-size-xs:              $font-size * .75;   // 12px
$gutter:                    30px;
$border-radius:             3px;

$nav-height: 103px;
$subnav-height: 33px;
$fullnav-height: $nav-height + $subnav-height;