$cru-blue:                  #05699B;
$cru-light-blue:            #32C3D7;
$cru-gold:                  #F5BE19;
$cru-white:                 #ffffff;
$cru-gray:                  #5A5A5A;
$cru-gray-silver:           #BEBEBE;
$cru-gray-tint:             #E6E6E6;
$cru-gray-dark:             #323232;

$color-primary:             $cru-blue;
$color-secondary:           $cru-gold;
$color-text:                $cru-gray;
$color-link:                $cru-gray;
$color-reverse:             $cru-white;
$color-bg:                  $cru-gray-tint;

$color-menu-bg:             lighten($cru-gray, 60%);  // #f3f3f3
$color-menu-border:         lighten($cru-gray, 50%);

$color-panel-bg:            $cru-gray;

$font-primary:              'Source Sans Pro', sans-serif;
$font-data:                 $font-primary;
$font-size:                 16px;
$font-size-sm:              $font-size * .9;
$font-size-xs:              $font-size * .75;
$gutter:                    30px;