.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.glyphicon{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
