$news-height: 87px;
news-banner {
    display: grid;
    background-color: $cru-blue;
    color: $cru-white;
    grid-template-columns: 1fr auto;
    padding: 10px;
    height: 87px;
    > .content {
        > h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
        > h3 {
            margin-top: 0;
            margin-bottom: 0;
            > button,
            > button:hover {
                margin-left: 10px;
                border: 1px solid $cru-white;
            }
        }
    }
    > .close-box {
        border-left: 1px solid $cru-white;
        margin: -10px;
        padding: 10px 10px 0;
        a {
            margin: 0;
            padding: 0 20px;
            transition: color 0.2s;
            color: $cru-white;
            font-size: 25px;
            letter-spacing: 0.025em;
            line-height: 56px;
            opacity: 1;
            &:hover {
                color: $cru-white;
            }
        }
    }
}

root {
    .has-news .root {
        margin-top: $nav-height + $news-height;
    }
    .has-news .filter--heading,
    .has-news .filter--sidebar {
        margin-top: $nav-padding + $news-height;
    }
    .has-new.has-nav-setup .root {
        margin-top: $nav-padding + $news-height + $setup-nav-height;
    }
    .has-news.has-nav-secondary .root {
        margin-top: $nav-padding + $news-height + $secondary-nav-height;
    }
    .has-news .root .nav--secondary {
        top: $nav-height + $news-height;
    }
}