<div class="row">
    <div class="col-md-4">
        <div class="network_logo">
            <img src="../../../images/logos/prayer_letters_logo.svg" alt="Prayer Letters">
        </div>
    </div>
    <div class="col-md-8">
        <div class="network_button">
            <div ng-if="$ctrl.prayerLetters.data">
                <div class="alert alert-warning" translate>
                    Syncing will replace your prayerletters.com lists
                </div>
                <button type="submit" ng-click="$ctrl.sync()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
                    <span translate>Sync Now</span>&nbsp;
                    <div class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
                </button>
                <a class="btn btn-link" ng-click="$ctrl.disconnect()">
                    <span translate>Disconnect</span>&nbsp;<i class="hidden fa fa-circle-o-notch fa-spin fa-fw"></i>
                </a>
            </div>
            <div ng-if="!$ctrl.prayerLetters.data">
                <h4 class="integration_subhead" translate>PrayerLetters.com Overview</h4>
                <p translate>
                    PrayerLetters.com is a significant way to save valuable ministry time while more effectively connecting with your partners. Keep your physical newsletter list up to date in MPDX and then sync it to your PrayerLetters.com account with this integration.
                </p>
                <div class="alert alert-info" translate>
                    Connecting your account will replace your current PrayerLetters.com list
                </div>
                <a ng-href="{{ $ctrl.prayerLetters.oAuth }}" class="btn btn-primary" translate>Connect Prayer Letters</a>
            </div>
        </div>
    </div>
</div>
