<h1 class="heading" translate>Connect Services</h1>
<div class="panel-group">
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('key'), 'panel-disabled' : !$ctrl.tabSelectable('key') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('key')">
            <span translate>Key / Relay</span>
            <div class="state">
                <div class="accstatus accstatus-enabled" ng-if="$ctrl.integrations.data.length > 0"><i class="fas fa-circle"></i></div>
                <div class="accstatus accstatus-disabled" ng-if="$ctrl.integrations.data.length === 0"><i class="far fa-circle"></i></div>
            </div>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('key') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('key')">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="network_logo">
                            <img src="../../images/logos/key_logo.png" alt="organization">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div ng-repeat="account in $ctrl.integrations.data.key_accounts" class="panel panel-default">
                            <div class="panel-heading">
                                <span>{{account.email}}</span>
                                <a class="btn btn-danger btn-xs" ng-click="$ctrl.disconnect('Key', account.id)">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('organization'), 'panel-disabled' : !$ctrl.tabSelectable('organization') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('organization')">
            <span translate>Organization</span>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('organization') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('organization')">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="import_logo">
                            <img src="../../images/logos/organization_logo.png" alt="organization">
                        </div>
                    </div>
                    <div class="col-md-8 connections">
                        <organization-integration-preferences></organization-integration-preferences>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 translate>External Services</h3>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('google'), 'panel-disabled' : !$ctrl.tabSelectable('google') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('google')">
            <translate>Google</translate>
            <div class="state">
                <i class="fas fa-circle text-success" ng-show="$ctrl.google.data.length > 0 && !$ctrl.google.failure"></i>
                <i class="fas fa-circle text-danger" ng-show="$ctrl.google.data.length > 0 && $ctrl.google.failure"></i>
                <i class="far fa-circle text-muted" ng-show="$ctrl.google.data.length == 0"></i>
            </div>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('google') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('google')">
            <div class="panel-body">
                <google-integration-preferences></google-integration-preferences>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('mailchimp'), 'panel-disabled' : !$ctrl.tabSelectable('mailchimp') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('mailchimp')">
            <span translate>MailChimp</span>
            <div class="state">
                <i class="fas fa-circle text-success" ng-if="$ctrl.mailchimp.data.active && $ctrl.mailchimp.data.valid"></i>
                <i class="fas fa-circle text-danger" ng-if="$ctrl.mailchimp.data.active && !$ctrl.mailchimp.data.valid"></i>
                <i class="far fa-circle text-muted" ng-if="!$ctrl.mailchimp.data.active"></i>
            </div>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('mailchimp') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('mailchimp')">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="network_logo">
                            <img src="../../images/logos/mailchimp_logo.svg" alt="MailChimp">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="network_button">
                            <mailchimp-integration-preferences></mailchimp-integration-preferences>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('prayerletters'), 'panel-disabled' : !$ctrl.tabSelectable('prayerletters') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('prayerletters')">
            <span translate>Prayer Letters</span>
            <div class="state">
                <i class="fas fa-circle text-success" ng-if="$ctrl.prayerLetters.data"></i>
                <i class="far fa-circle text-muted" ng-if="!$ctrl.prayerLetters.data"></i>
            </div>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('prayerletters') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('prayerletters')">
            <div class="panel-body">
                <prayer-letters-integrations-preferences></prayer-letters-integrations-preferences>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('chalkline'), 'panel-disabled' : !$ctrl.tabSelectable('chalkline') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('chalkline')">
            <span translate>Chalkline</span>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('chalkline') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('chalkline')">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="network_logo">
                            <img src="../../images/logos/chalkline_logo.png" alt="Chalk Line">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="network_button">
                            <h4 class="integration-subhead" translate>Chalkline Overview</h4>
                            <p translate>
                                Chalkline is a significant way to save valuable ministry time while more effectively connecting with your partners. Send physical newsletters to your current list using Chalkline with a simple click.  Chalkline is a one way send available anytime you’re ready to send a new newsletter out.
                            </p>
                            <a ng-click="$ctrl.sendToChalkline()" class="btn btn-primary" id="chalkline_send_list" translate>Send my current Contacts to Chalkline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
