<div class="contact-row" ng-click="$ctrl.contacts.selectContact($ctrl.contact.id)">
    <avatar src="$ctrl.contact.square_avatar"></avatar>
    <div class="contact-details">
        <div class="col-sm-7 main-details">
            <h4 class="name">
                <a ui-sref="contacts.show({contactId: $ctrl.contact.id})" ng-click="$event.stopPropagation()">{{::$ctrl.contact.name}}</a>
                <span ng-class="{'text-danger': $ctrl.hasSendNewsletterError()}" ng-if="::$ctrl.contact.send_newsletter">
                    <i class="ci ci-letter_icon" title="{{::'Both' | translate}}" ng-if="::$ctrl.contact.send_newsletter == 'Both'"></i>
                    <i class="ci ci-email_icon" title="{{::'Both' | translate}}" ng-if="::$ctrl.contact.send_newsletter == 'Both'"></i>
                    <i class="ci ci-letter_icon" title="{{::'Physical' | translate}}" ng-if="::$ctrl.contact.send_newsletter == 'Physical'"></i>
                    <i class="ci ci-email_icon" title="{{::'Email' | translate}}" ng-if="::$ctrl.contact.send_newsletter == 'Email'"></i>
                </span>
                <span title="{{ ::'Partner - Special' | translate }}" ng-if="::$ctrl.contact.status === 'Partner - Special'">
                    <span>{{::$ctrl.contact.pledge_currency_symbol}}</span>
                </span>
                <span title="{{ ::'Partner - Financial' | translate }}" ng-if="::$ctrl.contact.status === 'Partner - Financial'">
                    <span>{{::$ctrl.contact.pledge_currency_symbol}}</span>
                    <span>{{::$ctrl.contact.pledge_currency_symbol}}</span>
                </span>
            </h4>
            <div class="people">
                <div ng-repeat="person in ::$ctrl.contact.people track by person.id" ng-if="::!person.deceased" class="people-single-contact">
                    <a ng-click="$ctrl.people.openPeopleModal($ctrl.contact, person.id); $event.stopPropagation()">{{::person.first_name}} {{::person.last_name}}</a>
                    <span ng-repeat="phone_number in ::person.phone_numbers" ng-if="::phone_number.primary && !phone_number.historic" class="phone-type phone-type-{{phone_number.location}}">
                        {{::phone_number.number}}
                    </span>
                    <a ng-repeat="email_address in ::person.email_addresses" ng-if="::email_address.primary && !email_address.historic" ng-href="mailto:{{::email_address.email}}" target="_blank">
                        <i class="ci ci-email_icon" title="{{ ::'Email' | translate }}"></i>
                    </a>
                    <a ng-repeat="facebook_account in ::person.facebook_accounts" ng-href="{{::facebook_account.url}}" target="_blank">
                        <i class="fa fa-facebook-square" title="{{ ::'Facebook profile' | translate }}"></i>
                    </a>
                </div>
            </div>
            <div class="address">
                <address class="address" ng-repeat="address in ::$ctrl.contact.addresses track by address.id" ng-if="::address.primary_mailing_address">
                    <span ng-if="::address.street">{{::address.street}}<br></span>
                    <span ng-if="::address.city">{{::address.city}},</span>
                    {{::address.state}}
                    {{::address.postal_code}}
                </address>
            </div>
            <div class="tags">
                <span class="tag" ng-repeat="tag in $ctrl.contact.tag_list">{{ tag |limitTo: 20 }}{{ tag.length > 20 ? '...' : '' }}</span>
            </div>
        </div>
        <div class="col-sm-3 more-details">
            <div ng-if="::$ctrl.contact.status !== ''">{{::$ctrl.contact.status | translate}}</div>
            <div ng-if="::$ctrl.contact.pledge_amount > 0">
                {{::$ctrl.contact.pledge_amount | currency: $ctrl.contact.pledge_currency_symbol}} {{::$ctrl.contact.pledge_frequency | pledgeFrequencyToStr}}
                <div ng-if="::$ctrl.contact.status == 'Partner - Financial'" ng-switch="::$ctrl.contact.pledge_received">
                    <div ng-switch-when="true" class="text-success" translate>Commitment Received</div>
                    <div ng-switch-when="false" class="text-warning" translate>Commitment Not Received</div>
                </div>
            </div>

            <a ui-sref="tasks({ filters: { contact_ids: $ctrl.contact.id } })" ng-if="::$ctrl.contact.uncompleted_tasks_count > 0" ng-click="$event.stopPropagation()">
                <span translate>Tasks</span>: {{::$ctrl.contact.uncompleted_tasks_count}}
            </a>
        </div>
        <div class="col-sm-2 text-right" ng-if="::$ctrl.view !== 'task'">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" ui-sref="contacts.show({contactId: $ctrl.contact.id})" title="{{ ::'View Contact' | translate }}" ng-click="$event.stopPropagation()">
                    <i class="fa fa-search"></i>
                </a>
                <a class="btn btn-sm btn-default" title="{{ ::'Hide Contact' | translate }}" ng-if="::$ctrl.contact.status !== 'Never Ask'" ng-click="$ctrl.hide({ contactId: $ctrl.contact.id }); $event.stopPropagation()">
                <i class="fa fa-eye-slash"></i>
            </a>
        </div>
    </div>
</div>
</div>
