<h3 translate>Settings</h3>
<hr>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{'active' : $ctrl.$state.includes('**.personal') }">
        <a ng-click="$ctrl.go('preferences.personal')" translate>Preferences</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.notifications') }">
        <a ng-click="$ctrl.go('preferences.notifications')" translate>Notifications</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.integrations') }">
        <a ng-click="$ctrl.go('preferences.integrations')" translate>Connect Services</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.accounts') }">
        <a ng-click="$ctrl.go('preferences.accounts')" translate>Manage Accounts</a>
    </li>
</ul>
<div ng-if="$ctrl.users.current.account_lists.length > 1">
    <hr>
    <small translate>You are currently editing settings for</small>
    <account-lists></account-lists>
</div>
