<h3 translate>Settings</h3>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{'active' : $ctrl.$state.includes('**.personal') }">
        <a ng-click="$ctrl.go('preferences.personal')" translate>Preferences</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.notifications') }">
        <a ng-click="$ctrl.go('preferences.notifications')" translate>Notifications</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.integrations') }">
        <a ng-click="$ctrl.go('preferences.integrations')" translate>Connect Services</a>
    </li>
    <li ng-class="{'active' : $ctrl.$state.includes('**.accounts') }">
        <a ng-click="$ctrl.go('preferences.accounts')" translate>Manage Accounts</a>
    </li>
    <li ng-if="$ctrl.users.current.preferences.admin" ng-class="{'active' : $ctrl.$state.includes('**.coaches') }">
        <a ng-click="$ctrl.go('preferences.coaches')" translate>Manage Coaches</a>
    </li>
    <li ng-if="$ctrl.users.current.preferences.admin" ng-class="{'active' : $ctrl.$state.includes('**.admin') }">
        <a ng-click="$ctrl.go('preferences.admin')" translate>Admin Console</a>
    </li>
</ul>
