<modal title="{{'Add Commitment' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div>
        <label><translate>Contact</translate></label>
        <div>{{ $ctrl.selectedContact }}</div>
    </div>
    <div class="row">
        <div class="col-sm-8 form-group">
            <label for="amount" translate>Amount</label><br/>
            <input ng-model="$ctrl.amount" id="amount" class="form-control">
        </div>
        <div class="col-sm-4 received">
            <label>
                <input type="checkbox" ng-model="$ctrl.received"> Received
            </label>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="date" translate>Expected Date</label><br/>
            <input bs-datepicker
                   ng-model="$ctrl.expected_date"
                   id="date"
                   class="form-control"
                   data-date-format="{{::$ctrl.locale.dateTimeFormat}}"
                   data-autoclose="1"
                   required>
        </div>
    </div>
</modal>