reports {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 43px 1fr;
    justify-content: center;
    > div.menu {
        grid-column: 1;
        grid-row: 1;
    }
    > div.content {
        @extend .container;
        grid-column: 1;
        grid-row: 2;
        overflow-y: auto;
        padding-top: 10px;
    }

    .reports {
        h2 {
            margin-top: 0;
        }
        .panel {
            margin-bottom: 29px;
            .panel-heading {
                background: #fff;
            }
            .panel-body {
                padding: 0;
                .table {
                    margin-bottom: 0;
                    font-size: $font-size*.9;
                    tr {
                        th:first-child,
                        td:first-child {
                            padding-left: 15px;
                        }
                        th:last-child,
                        td:last-child {
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        .year-header-row {
            th {
                font-size: 1.3em;
                text-align: center;
                > div {
                    border-left: 1px solid #ccc;
                }
            }
            th:first-child {
                text-align: left;
            }
        }
    }
}

