.panel-report{
  & > .panel-report-heading{
    h4{
      margin-bottom: 0;
    }
    &.panel-report-heading-collapsible {
      cursor: pointer;
      &:hover {
        background-color: #f4f4f4; //TODO: use $colorGrayscale-sand once crubrand is updated
      }
      .collapsible-heading-arrow{
        margin-left: 5px;
      }
      .collapsible-heading-count{
        color: $link-color;
      }
    }
  }

  table {
    .currency-title {
      padding-left: 15px;
    }
    .donor-name {
      font-weight: 500;
    }
    .circle-late {
      color: $color-gold;
    }
    .circle-very-late {
      color: $color-danger;
    }
    & > thead > tr.year-header-row {
      font-size: 1.3em;
      margin-top: 5px;
      margin-bottom: 5px;
      & > th {
        border-bottom: none;
        & > div.year-header-range {
          width: 100%;
          text-align: center;
          border-left: 1px solid #ddd;
        }
      }
      & + tr > th {
        border-top: none;
      }
    }
    & > tbody > tr.row-total {
      background-color: #FFFFFF;
      td {
        padding-top: 16px;
        border-top: 1px solid #bbb;
      }
    }
    [uib-popover-template] {
      cursor: pointer;
    }
    .popover {
      font-family: $data-font;
    }
    th .excluded{
      cursor: pointer;
    }
    th .excluded, td .excluded{
      color: #999999;
    }
  }
}

.report-progress-bar{
  height: 35px;
  .progress-bar{
    font-size: 1.1em;
    line-height: 35px;
  }
  .progress-bar-color-0 {
    background-color: $color-gold;
  }
  .progress-bar-color-1 {
    background-color: $color-orange;
  }
  .progress-bar-color-2 {
    background-color: #909b9c;
  }
  .progress-bar-color-3 {
    background-color: $color-gray;
  }
  .progress-bar-color-4 {
    background-color: $color-blue-bright;
  }
  .progress-bar-color-5 {
    background-color: $color-blue-deep;
  }
}

currency-donations-report{
  .report-action-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > * {
      margin: 0 5px;
    }
  }
}
