.reports {
    .panel {
        margin-bottom: 29px;
        .panel-heading {
            font-size: 1.25rem;
            text-transform: none;
            padding: 15px;
            background: #fff;
        }
        .panel-body {
            padding: 0;
            .table {
                margin-bottom: 0;
                tr {
                    th:first-child, td:first-child {
                        padding-left: 15px;
                    }
                    th:last-child, td:last-child {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
    .progress {
        height: 35px;
        .progress-bar {
            font-size: 1.1em;
            font-weight: bold;
            line-height: 35px;
        }
    }
    .year-header-row {
        th {
            font-size: 1.3em;
            text-align: center;
            > div {
                border-left: 1px solid #ccc;
            }
        }
        th:first-child {
            text-align: left;
        }
    }
}
