<modal title="Good work!" hide-footer="true">
    <h3 translate>
        Your TNT Connect data is importing.
        We'll send you an email as soon as it's all done and ready!
        Please be aware that it could take up to 12 hours.
    </h3>
    <div class="text-center">
        <h4>Would you like to import more data now?</h4>
        <button class="btn btn-block btn-primary" ng-click="$hide()">Yes! Import my stuff!</button>
        <a ng-click="$ctrl.done()">Nope, I'm all done! Take me to MPDX.</a>
    </div>
</modal>