<modal title="Good work!" hide-footer="true">
    <h3 translate>
        Your TntConnect data is importing.
        We'll send you an email as soon as it's all done and ready!
        Please be aware that it could take up to 12 hours.
    </h3>
    <div class="text-center">
        <h4 translate>Would you like to import more data now?</h4>
        <button class="btn btn-block btn-primary" ng-click="$ctrl.setup()" translate>Yes! Import my stuff!</button>
        <a ng-click="$ctrl.done()" translate>Nope, I'm all done! Take me to MPDX.</a>
    </div>
</modal>