@import "progress/progress";

home {
    @extend .content-container;
    padding: $container-padding;
    display: grid;
    grid-template-rows: 39px 330px auto 1fr;
    grid-template-columns: 100%;
    grid-gap: $container-padding;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    donations-chart {
        .blankslate {
            height: 330px;
        }
    }
    a:hover {
        text-decoration: none;
    }
    .title {
        text-transform: none;
        margin: 0;
    }
    home-connect,
    home-commitments,
    home-care {
        .panel.panel-default {
            height: 100%;
            min-height: 275px;
            margin-bottom: 0;
        }
    }
    h4.title {
        margin: 10px 0 5px;
    }
    .panel {
        height: 100%;
    }
    .row-eq-height {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $container-padding;
    }
}
