home {
    a:hover {
        text-decoration: none;
    }
    .title {
        text-transform: none;
        margin: 0;
    }
    .plain-list {
        margin: 5px 0 0;
    }
    hr {
        width: 100%;
        margin: 15px 0;
    }
    .panel-default > .panel-heading {
        line-height: 22px;
        padding: 10px 15px;
        text-transform: none;
        .btn-xs {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .title {
        margin: 10px 0 5px;
    }
    .panel {
        height: 100%;
    }
}
