<div class="primary">
    <nav class="navbar">
        <div class="container">
            <div class="pull-right navbar-quick">
                <div class="section">
                    <div class="dropdown">
                        <a bs-dropdown class="settings-drop" type="button" aria-expanded="true">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation"><a ui-sref="preferences.personal" translate>Preferences</a></li>
                            <li role="presentation"><a ui-sref="preferences.notifications" translate>Notifications</a></li>
                            <li role="presentation"><a ui-sref="preferences.imports" translate>Import Contacts</a></li>
                            <li role="presentation"><a ui-sref="preferences.integrations" translate>Connect Services</a></li>
                            <li role="presentation"><a ui-sref="preferences.accounts" translate>Manage Account</a></li>
                            <li role="presentation" ng-if="$ctrl.users.current.admin">
                                <a ui-sref="unavailable" translate>Admin</a>
                            </li>
                            <li role="presentation"><a ui-sref="logout" translate>Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="section">
                    <div class="dropdown">
                        <a bs-dropdown class="btn btn-secondary" href="#" type="button" id="quick-drop" aria-expanded="true"
                           analytics-on analytics-category="Global Events" analytics-label="Actions"
                           translate>
                            Quick Add
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="quick-drop">
                            <li role="presentation"><a ui-sref="tasks.new" translate>Add Task</a></li>
                            <li role="presentation"><a ui-sref="contacts.new" translate>Add Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="section">
                    <contacts-search dropdown="true"></contacts-search>
                </div>
                <div class="section">
                    <account-lists></account-lists>
                </div>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="brand">
                <a ui-sref="home" class="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="item" ui-sref-active="active"><a ui-sref="home" translate>Dashboard</a></li>
                    <li class="item" ui-sref-active="active"><a ui-sref="contacts" translate>Contacts</a></li>
                    <li class="item" ui-sref-active="active"><a ui-sref="tasks" translate>Tasks</a></li>
                    <li class="item" ng-class="{active: $ctrl.isInState('reports')}"><a ui-sref="reports.donations" translate>Reports</a></li>
                    <li class="item last" ui-sref-active="active"><a ng-click="$ctrl.showHelp()" translate>Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left" ng-show="$ctrl.isInState('contact')">
                    <div class="section"><a ui-sref="preferences.imports" translate>Import Contacts</a></div>
                    <div class="section" translate><a ui-sref="unavailable" translate>Find Duplicates</a></div>
                </div>
                <div class="pull-left" ng-show="$ctrl.isInState('reports')">
                    <div class="section" ng-class="{active: $ctrl.isInState('reports.donations')}">
                        <a ui-sref="reports.donations" translate>Donations</a>
                    </div>
                    <div class="section" ng-class="{active: $ctrl.isInState('reports.monthly')}">
                        <a ui-sref="reports.monthly" translate>Expected Monthly Total</a>
                    </div>
                    <div class="section" ng-class="{active: $ctrl.isInState('reports.balances')}">
                        <a ui-sref="reports.balances" translate>Balances</a>
                    </div>
                    <div class="section" ng-class="{active: $ctrl.isInState('reports.salary')}">
                        <a ui-sref="reports.salary" translate>Contributions by Salary Currency</a>
                    </div>
                    <div class="section" ng-class="{active: $ctrl.isInState('reports.partner')}">
                        <a ui-sref="reports.partner" translate>Contributions by Partner Currency</a>
                    </div>
                </div>
                <menu-balances
                    inHandPercent="$ctrl.accounts.current.in_hand_percent"
                    monthly-goal="$ctrl.accounts.current.monthly_goal"
                    pledged-percent="$ctrl.accounts.current.pledged_percent"
                    total-pledges="$ctrl.accounts.current.total_pledges"
                    received-pledges="$ctrl.accounts.current.received_pledges"
                ></menu-balances>
            </div>
        </div>
    </div>
</div>
