<impersonation-bar></impersonation-bar>
<div class="nav-global">
    <div class="logo">
        <a ng-if="!$ctrl.setup" ui-sref="home"></a>
        <a ng-if="$ctrl.setup"></a>
    </div>
    <div class="navbar-quick">
        <div class="search">
            <menu-search class="hidden-xs" ng-if="!$ctrl.setup"></menu-search>
        </div>
        <div class="account" ng-if="!$ctrl.setup">
            <account-lists></account-lists>
        </div>
        <div class="btn-group">
            <div class="btn-group" id="quick-add-dropdown" ng-if="!$ctrl.setup">
                <a bs-dropdown class="btn btn-default" type="button" data-placement="bottom-right">
                    <i class="fas fa-plus"></i> <translate>Add</translate>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="quick-drop">
                    <li role="presentation"><a ng-click="$ctrl.contacts.openNewContactModal()" translate>Add Contact</a></li>
                    <li role="presentation"><a ng-click="$ctrl.contacts.openMultipleAddModal()" translate>Multiple Contacts</a></li>
                    <li role="presentation"><a ng-click="$ctrl.donations.openDonationModal()" translate>Add Donation</a></li>
                    <li role="presentation"><a class="add-task" ng-click="$ctrl.tasks.addModal({})" translate>Add Task</a></li>
                    <li role="presentation"><a ng-click="$ctrl.tasks.logModal()" translate>Log Task</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a bs-dropdown class="btn btn-reverse" type="button" data-placement="bottom-right">
                    <i class="fas fa-cog"></i> <translate>Settings</translate>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-if="!$ctrl.setup"><a ui-sref="preferences.personal" translate>Preferences</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup"><a ui-sref="preferences.notifications" translate>Notifications</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup"><a ui-sref="tools" translate>Import Contacts</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup"><a ui-sref="preferences.integrations" translate>Connect Services</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup"><a ui-sref="preferences.accounts" translate>Manage Account</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup && $ctrl.users.current.preferences.admin"><a ui-sref="preferences.coaches" translate>Manage Coaches</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup && $ctrl.users.current.preferences.admin"><a ui-sref="preferences.admin" translate>Admin Console</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup && $ctrl.users.current.preferences.developer"><a ng-href="{{ $ctrl.sidekiqUrl }}" target="_blank" translate>Sidekiq</a></li>
                    <li role="presentation" ng-if="!$ctrl.setup" class="divider"></li>
                    <li role="presentation"><a ui-sref="logout" translate>Log out</a></li>
                </ul>
            </div>
        </div>
        <div class="notifications" ng-if="!$ctrl.setup">
            <a ui-sref="tools" class="btn btn-block notifications-link" ng-class="{ 'active' : $ctrl.tools.getTotal() > 0 }">
                <i class=" fas fa-bell"></i><span class="badge" ng-if="$ctrl.tools.getTotal() > 0">{{$ctrl.tools.getTotal()}}</span>
            </a>
        </div>
    </div>
</div>
<div class="menu" ng-if="!$ctrl.setup">
    <nav class="navbar">
        <ul class="nav navbar-nav">
            <li class="item" ui-sref-active="active"><a ui-sref="home" translate>Dashboard</a></li>
            <li class="item" ng-class="{active: $ctrl.session.isInState('contact')}"><a ui-sref="contacts" translate>Contacts</a></li>
            <li class="item" ui-sref-active="active"><a ui-sref="tasks" translate>Tasks</a></li>
            <li class="item" ng-class="{active: $ctrl.session.isInState('reports')}"><a ui-sref="reports.salary" translate>Reports</a></li>
            <li class="item" ng-class="{active: $ctrl.session.isInState('tools')}"><a ui-sref="tools" translate>Tools</a></li>
            <li class="item" ng-class="{active: $ctrl.session.isInState('coaches')}" ng-if="$ctrl.users.current.preferences.admin"><a ui-sref="coaches" translate>Coaching</a></li>
            <li class="item last" ui-sref-active="active"><a ng-click="$ctrl.help.showHelp()" translate>Help</a></li>
        </ul>
    </nav>
    <menu-balances></menu-balances>
</div>
