menu {
    background: $color-reverse;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    .nav--logo {
        cursor: pointer;
        background: url("images/mpdx-logo-svg.svg") no-repeat;
        background-size: contain;
        background-position: 50%;
        display: block;
        width: 83px;
        height: 48px;
    }

    .nav--global {
        $primary-menu-height: 48px;
        border-top: 5px solid $color-secondary;
        .account_balances {
            padding-top: 0px;
            padding-right: 14px;
            line-height: $primary-menu-height;
            font-size: 14px;
            right: 0;
        }

        .notifications-link {
            color: $color-text;
            border-radius: 55px;
            border: none;
            height: 34px;
            line-height: 34px;
            padding: 0;
            width: 34px;
            .badge {
                background: $color-reverse;
                border: 1px solid $color-secondary;
                color: $color-secondary;
                position: absolute;
            }
            &.active {
                background: $color-secondary;
                color: $color-reverse;
            }
        }

        .item {
            float: left;
            a {
                line-height: $primary-menu-height;
                height: $primary-menu-height;
                padding: 0 10px;
                font-size: .85em;
                font-weight: bold;
                display: block;
                color: $color-text;
                transition: color 0.2s ease-out;
                &:active, &:focus {
                    background: transparent;
                }
                &:hover {
                    color: $color-text;
                    background: transparent;
                }
            }
            &.active {
                margin: 0 -1px 0 -1px;
                border: none;
                a {
                    background: transparent url('images/menuselected.png') no-repeat 50% 100%;
                    background-size: 18px;
                    color: $color-text;
                }
            }
        }
        .section {
            display: inline-block;
        }
        .navbar-collapse {
            padding-left: 0;
        }
        .chosen-single {
            border-radius: $border-radius;
            border: 1px solid $color-menu-border;
            box-shadow: none;
            margin-top: -2px;
        }
        .chosen-container-active.chosen-with-drop {
            .chosen-single, .chosen-drop {
                border-radius: 0;
                box-shadow: none;
            }
        }
        .search_filter {
            height: 35px;
        }
        .navbar-quick {
            margin-top: 6px;
            height: 35px;
        }
        @media screen and (min-width: 0px) and (max-width: 550px) {
            .item {
                float: none;
                display: block;
            }
        }
    }
    .nav--menu {
        background: $color-bg;
        margin-bottom: 10px;

        .navbar {
            padding: 0;
            margin-bottom: 0;
            min-height: 0;
            border: none;
        }

        .item {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: .5px;
            a {
                display: block;
                padding: $gutter/3 $gutter/2;
                color: $cru-gray-dark;
            }
            &.active {
                a {
                    background: rgba(0,0,0,.05);
                }
            }
        }

        menu-balances {
            margin: 8px 0 8px 0;
            .section {
                display: inline-block;
                vertical-align: top;
                margin-left: $gutter/4;
            }
            .account_balances {
                display: block;
                font-size: 14px;
                font-weight: 100;
                line-height: $progress-bar-height;
                height: $progress-bar-height;
                text-transform: none;
            }
        }

        #mpd_progress_bar {
            background: $cru-gray;
            display: block;
            height: $progress-bar-height;
            overflow: hidden;
            width: 150px;
            position: relative;
            border-radius: 0;
            font-size: 80%;
            .bar {
                background: $green_light;
                /*border-right: 1px solid rgba(255,255,255,.35);*/
            }
            .bar-pledged {
                background: $green
            }
            .value, .bar {
                height: $progress-bar-height;
                position: absolute;
            }
            .value {
                line-height: normal;
                padding: 0 10px;
                line-height: $progress-bar-height;
                color: $cru-white;
            }
            .value.right {
                right: 0;
            }
        }
        .navbar-collapse {
            padding-left: 0;
        }
    }

    .reconcile-contacts {
        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #777;
            border-radius: 10px;
        }
    }
}
$secondary-menu-height: 22px;
.nav--secondary {
    background: $color-reverse;
    border-bottom: 1px solid $color-menu-border;
    padding-bottom: 10px;
    position: fixed;
    top: $nav-height;
    left: 0;
    width: 100%;
    z-index: 1;
    .section {
        display: inline-block;
        height: $secondary-menu-height;
        line-height: $secondary-menu-height;
        margin-right: 24px;
        vertical-align: top;
    }
    .section.right {
        margin-right: 0px;
        margin-left: 12px;
    }
    a {
        color: $cru-gray-dark;
        font-size: 14px;
        &:hover {
            text-decoration: none;
            cursor: pointer;
            translate {text-decoration: underline;}
        }
    }
    translate {vertical-align: top;}
    .badge {vertical-align: text-top;}
    + * {
        display: block;
        padding-top: $subnav-height-padded;
    }
}
