<div class="row" ng-hide="$ctrl.deleted">
    <div class="col-sm-9">
        <input class="form-control" name="website" ng-model="$ctrl.website.url" placeholder="http://example.com *" ng-required="!$ctrl.deleted">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default btn-block" disabled translate>Website</button>
    </div>
    <div class="col-sm-1">
        <button type="button" ng-click="$ctrl.remove()" class="btn btn-block btn-default" title="{{::'Delete' | translate}}">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>
