<h4 class="title" translate>Birthdays This Week</h4>
<ul class="list-unstyled" ng-if="$ctrl.contacts.analytics.birthdays_this_week.length">
    <li ng-repeat="person in $ctrl.contacts.analytics.birthdays_this_week | limitTo: $ctrl.limit">
        <a ui-sref="contacts.show({ contactId: person.parent_contact.id })">
            {{person.first_name}} {{person.last_name}}
        </a>
        {{ person.birthday_month }}-{{ person.birthday_day }}
        <facebook-link facebook-account="person.facebook_accounts[0]" ng-if="person.facebook_accounts.length"></facebook-link>
        <twitter-link twitter-account="person.twitter_accounts[0]" ng-if="person.twitter_accounts.length"></twitter-link>
        <email-link ng-repeat="email in person.email_addresses" ng-if="email.primary" email-address="email"></email-link>
    </li>
    <li ng-if="$ctrl.contacts.analytics.birthdays_this_week.length > $ctrl.limit">
        <a ng-click="$ctrl.limit = $ctrl.contacts.analytics.birthdays_this_week.length">
            <i class="fa fa-plus-square-o"></i>
            <translate>See all {{ $ctrl.contacts.analytics.birthdays_this_week.length }} Birthdays</translate>
        </a>
    </li>
</ul>
<p ng-if="$ctrl.contacts.analytics.birthdays_this_week.length === 0" translate>
    No birthdays this week
</p>
