<div class="field row">
    <div class="col-xs-4">
        {{ $ctrl.emailAddress.source || 'MPDX' | sourceToStr }}
        <span class="text-muted" ng-if="$ctrl.emailAddress.created_at">({{ $ctrl.emailAddress.created_at | localize }})</span>
    </div>
    <div class="col-xs-2 text-center">
        <span class="fa-stack" ng-click="$ctrl.setPrimary()" ng-if="!$ctrl.emailAddress.new">
            <i class="fas fa-circle-thin fa-stack-2x"></i>
            <i class="fas fa-circle fa-stack-1x" ng-if="$ctrl.emailAddress.primary"></i>
        </span>
    </div>
    <div class="col-xs-5">
        <input class="form-control" type="text" name="number" ng-model="$ctrl.emailAddress.email" title="{{$ctrl.emailAddress.email}}" ng-model-options="{ updateOn: 'blur' }" ng-change="$ctrl.save()" ng-disabled="$ctrl.emailAddress.source !== 'MPDX'" required>
    </div>
    <div class="col-xs-1">
        <button ng-click="$ctrl.remove()" class="btn btn-link btn-xs" title="{{ 'Locked' | translate }}" ng-if="!$ctrl.emailAddress.new && $ctrl.emailAddress.source !== 'MPDX'" disabled="disabled">
            <i class="fas fa-lock"></i>
        </button>
        <button ng-click="$ctrl.remove()" class="btn btn-danger btn-xs" title="{{ 'Delete' | translate }}" ng-if="!$ctrl.emailAddress.new && $ctrl.emailAddress.source === 'MPDX'">
            <i class="fas fa-trash"></i>
        </button>
        <button ng-click="" class="btn btn-xs btn-default" title="{{ 'Add' | translate }}" ng-if="$ctrl.emailAddress.new" ng-disabled="!$ctrl.emailAddress.number">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
