<modal-big>
    <modal-header title="Create New Appeal" on-close="$hide()"></modal-header>
        <form>
            <div class="form_wrapper">
                <div class="field">
                    <label for="name" translate>Name</label>
                    <input autofocus="autofocus" type="text" ng-model="$ctrl.appeal.name" id="name">
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        <label translate for="initialGoal">Initial goal</label>
                        <input type="number" ng-model="goal.initial" ng-change="$ctrl.calculateGoal(goal)"
                               style="width:80px;" class="form-control" raw-number id="initialGoal"> +
                    </div>
                    <div class="form-group">
                        <label for="letterCost" translate>Letter cost</label>
                        <input type="text" ng-model="$ctrl.goal.letterCost" ng-change="$ctrl.calculateGoal(goal)"
                               class="form-control" style="width:80px;" id="letterCost"> *
                    </div>
                    <div class="form-group">
                        <label translate for="adminPercent">Admin %</label>
                        <input type="text" ng-model="$ctrl.goal.adminPercent" ng-change="calculateGoal(goal)"
                               class="form-control" style="width:80px;" id="adminPercent"> =
                    </div>
                    <div class="form-group">
                        <label translate>Goal</label>
                        <input type="text" ng-model="$ctrl.appeal.amount" class="form-control" style="width:80px;">
                    </div>
                </div>
                <div style="clear:both; height:10px;"></div>
                <div class="field appealFilterCol">
                    <label class="filter_selector_title" translate>Add contacts with the following status(es):</label>
                    <div class="filter_selector" ng-repeat="status in $ctrl.contactStatuses">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.validStatus[status]"> {{status}}</label>
                    </div>
                </div>
                <div class="field appealFilterCol">
                    <label class="filter_selector_title" translate>Add contacts with the following tag(s):</label>
                    <div class="filter_selector" ng-repeat="tag in $ctrl.contactTags">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.validTags[tag]"> {{tag}}</label>
                    </div>
                </div>
                <div class="field appealFilterCol">
                    <label class="filter_selector_title" translate>Do not add contacts who:</label>
                    <div class="filter_selector">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.exclude['specialGift3months']"> <span translate>May have given a special gift in the last 3 months</span></label>
                    </div>
                    <div class="filter_selector">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.exclude['joinedTeam3months']"> <span translate>May have joined my team in the last 3 months</span></label>
                    </div>
                    <div class="filter_selector">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.exclude['increasedGiving3months']"> <span translate>May have increased their giving in the last 3 months</span></label>
                    </div>
                    <div class="filter_selector">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.exclude['stoppedGiving2months']"> <span translate>May have stopped giving for the last 2 months</span></label>
                    </div>
                    <div class="filter_selector">
                        <label><input type="checkbox" ng-model="$ctrl.appeal.exclude['doNotAskAppeals']"> <span translate>Are marked as do not ask for appeals</span></label>
                    </div>
                </div>
            </div>
        </form>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button ng-click="$ctrl.save()" translate>Create</button>
            <button ng-click="$hide()" translate>Cancel</button>
        </div>
    </div>
</modal-big>