@import "comment/comment";
@import "contact/item";

$task-drawer-width: $side-drawer-width - 2px;

task-item-drawer {
    display: block;
    height: 99%;
    width: 538px;
    background-color: $cru-gray-tint;

    > div.head {
        width: $task-drawer-width;
        > div.task-info {
            padding-left: 5px;
            padding-bottom: 5px;
            margin-top: 20px;
            margin-left: 15px;
            > h2 {
                margin: 0;
                font-weight: 600;
            }
        }
        > div.horizontal-tab-sortable {
            background-color: $cru-white;
            .active-item {
                background-color: $cru-gray-tint;
                border-bottom-color: $cru-gray-tint;
            }
        }
    }
    > div.contacts {
        width: $task-drawer-width;
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 5px;
        task-list-contact {
            padding: 15px;
            display: block;
            background-color: $cru-white;
        }
    }
    > div.comments {
        width: $task-drawer-width;
        height: 100%;
        overflow-y: auto;
        position: relative;
        > div.bottom {
            background-color: $cru-gray-tint;
            width: 100%;
            position: absolute;
            padding: 5px 5px 5px 10px;
            bottom: 97px;
            left: 0;
            i {
                padding-right: 5px;
            }
            input {
                width: 495px;
            }
        }
    }
}