@import 'comment/comment';
@import 'contact/item';
$task-drawer-width: $side-drawer-width - 2px;
task-item-drawer {
    display: grid;
    width: 450px;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    > .heading {
        padding-top: 8px;
        background-color: $color-white;
        > .horizontal-tab-sortable {
            .sortable-row >.as-sortable-item > .as-sortable-item-handle {
                cursor: pointer;
            }
        }
    }
    > .content {
        overflow-y: auto;
        > .contacts {
            padding: $container-padding;
        }
    }
    > .comment-form {
        padding: 5px 10px;
        background-color: color-gray(90);
        textarea.form-control {
            width: 380px !important;
        }
    }
}
