task-item-drawer {
    width: 100%;
    height: 96%;
    > div.contacts {
        height: calc(100% - 40px);
        padding: 5px;
        overflow-y: auto;
    }
    > div.comments {
        position: relative;
        height: 100%;
        overflow-y: auto;
        > div.bottom {
            position: absolute;
            bottom: 38px;
            left: 0;
            width: 100%;
            padding: 5px 5px 5px 10px;
            background-color: color-gray(90);
            i {
                padding-right: 5px;
            }
            input {
                width: 495px;
            }
        }
    }
}
