<div class="head">
    <div class="task-info">
        <h2>{{$ctrl.task.subject}}</h2>
        {{ $ctrl.task.activity_type | translate }}
        <span ng-if="!$ctrl.task.no_date && $ctrl.task.start_at && !$ctrl.task.completed">
            {{ $ctrl.task.start_at | localizeWithTime }}
        </span>
        <span ng-if="!$ctrl.task.no_date && $ctrl.task.start_at && $ctrl.task.completed">
            {{ $ctrl.task.completed_at | localizeWithTime }}
        </span>
    </div>
    <div class="horizontal-tab-sortable">
        <div ng-class="{ 'active-item': $ctrl.view === 'contacts'}" class="as-sortable-item">
            <a class="as-sortable-item-handle" ng-click="$ctrl.view = 'contacts'">Contacts</a>
        </div>
        <div ng-class="{ 'active-item': $ctrl.view === 'comments'}" class="as-sortable-item">
        <a class="as-sortable-item-handle" ng-click="$ctrl.view = 'comments'">Comments</a>
        </div>
    </div>
</div>
<div class="contacts" ng-if="$ctrl.view === 'contacts'">
    <contacts-list-item ng-repeat="contact in $ctrl.task.contacts track by contact.id" contact="contact"></contacts-list-item>
</div>
<div class="comments" ng-if="$ctrl.view === 'comments'">
    <task-item-comment ng-repeat="comment in $ctrl.task.comments"
                       comment="comment"
                       on-comment-remove="$ctrl.commentRemoved(comment.id)"
                       task-id="$ctrl.task.id">
    </task-item-comment>
    <div class="bottom">
        <form class="form-inline" ng-submit="$ctrl.addComment()" novalidate>
            <i class="far fa-comment"></i>
            <input type="text"
                   class="form-control"
                   ng-model="$ctrl.comment"
                   placeholder="{{ 'Add a comment' | translate }}"
                   required>
        </form>
    </div>
</div>
