<cover>
    <div class="panel">
        <div class="panel-heading">
            <translate>Set Default Account</translate>
        </div>
        <div class="panel-body">
            <label translate>Account</label>
            <select ng-model="$ctrl.users.current.preferences.default_account_list" class="form-control" disable-search="true" chosen>
                <option value=""></option>
                <option ng-repeat="account in $ctrl.accounts.data" value="{{account.id}}">{{account.name}}</option>
            </select>
            <br>
            <br>
            <button class="btn btn-block btn-primary" ng-disabled="!$ctrl.users.current.preferences.default_account_list" ng-click="$ctrl.next()">
                <translate>Continue Tour</translate>
            </button>
        </div>
    </div>
</cover>
