@import "item/item";

appeals-list {
    > .header {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-bottom: 5px;
        > strong {
            align-self: center;
        }
        .btn {
            margin-bottom: 0;
        }
    }
    .panel-body {
        padding-bottom: 3px;
        padding-top: 0;
    }
}