<div class="panel panel-default" block-ui="appeals-list">
    <div class="panel-heading" translate>
        Current Goals
    </div>
    <div ng-if="$ctrl.data.length > 0" class="panel-body" infinite-scroll="$ctrl.loadMoreAppeals()">
        <appeals-list-item ng-repeat="appeal in $ctrl.data"
                           on-primary="$ctrl.onPrimary(appeal.id)"
                           appeal="appeal">

        </appeals-list-item>
    </div>
    <div ng-if="$ctrl.data.length === 0 && $ctrl.loading === false" class="panel-footer" translate>No Goals</div>
</div>
<div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
</div>
<br>
<div ng-if="$ctrl.data.length !== 0"
     class="text-center"
     translate-params-from="$ctrl.data.length || 0"
     translate-params-to="$ctrl.meta.pagination.total_count || 0" translate>
    Showing <strong>{{from}}</strong> of <strong>{{to}}</strong>
</div>
