<div class="header">
    <strong translate>
        Primary Appeal
    </strong>
    <collection-selector item-name="{{ 'Primary Appeal' | translate }}"
                         display-text="$ctrl.accounts.current.primary_appeal.name"
                         search="$ctrl.appeals.appealSearch(text)"
                         select="$ctrl.appeals.setPrimaryAppeal(item)">
    </collection-selector>
</div>
<div id="appealListParent">
    <div class="panel panel-default" block-ui="appeals-list">
        <div class="panel-heading" translate>
            Current Appeals
        </div>
        <div class="panel-body" ng-if="$ctrl.data.length > 0">
            <appeals-list-item ng-repeat="appeal in $ctrl.data"
                               on-primary="$ctrl.onPrimary(appeal.id)"
                               appeal="appeal">
            </appeals-list-item>
        </div>

        <div class="panel-body blankslate" ng-if="$ctrl.data.length === 0 && $ctrl.loading === false">
            <i class="fas fa-trophy blankslate-icon"></i>
            <h3 translate>No Goals have been setup yet</h3>
        </div>
    </div>
</div>
<div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
  <i class="far fa-circle-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
</div>
<br>
<pagination ng-if="$ctrl.meta.pagination.total_count > 0"
            meta="$ctrl.meta.pagination"
            on-change="$ctrl.load(page)"
            class="text-center">
</pagination>

