<h4 class="heading" translate>Primary Appeal</h4>
<appeals-list-item appeal="$ctrl.accounts.current.primary_appeal"
                   ng-if="$ctrl.accounts.current.primary_appeal">
</appeals-list-item>
<div class="blankslate" ng-if="!$ctrl.accounts.current.primary_appeal">
    <p translate>No Primary Appeal has been selected</p>
</div>
<h4 class="heading" translate>Appeals</h4>
<appeals-list-item ng-repeat="appeal in $ctrl.data"
                   ng-if="appeal.id !== $ctrl.accounts.current.primary_appeal.id"
                   appeal="appeal">
</appeals-list-item>
<div class="blankslate" ng-if="$ctrl.data.length === 0 && $ctrl.loading === false">
    <i class="fas fa-trophy blankslate-icon"></i>
    <h3 translate>No Appeals have been setup yet</h3>
</div>
<div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
  <i class="far fa-circle-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
</div>
<pagination ng-if="$ctrl.meta.pagination.total_count > 0"
            meta="$ctrl.meta.pagination"
            on-change="$ctrl.load(page)"
            class="text-center">
</pagination>
