.lists {
    &.item-list-menu {
        display: grid;
        padding: 15px;
        transition: background-color 0.2s;
        border-bottom: 1px solid $color-menu-border;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        @media (max-width: $menu-breakpoint) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
        &.search-bar {
            grid-row: 1;
            grid-column: 3;
            @media (max-width: $menu-breakpoint) {
                max-width: calc(100vw - #{$content-padding-left + $content-padding-right + $container-padding-left + $container-padding-right});
            }
        }
        &.menu-buttons {
            text-align: right;
            grid-row: 1;
            grid-column: 2;
            justify-items: end;
            @media (max-width: $menu-breakpoint) {
                text-align: left;
                grid-row: 2;
                grid-column: 1;
            }
        }
        &.selected {
            background-color: $color-list-menu-active;
        }
    }
    &.item-list-sub-menu {
        padding: 6px 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid color-gray(80);
        > div.filters {
            font-size: $font-size-md;
        }
        > div.sub-line-1 {
            display: flex;
            line-height: 34px;
            .page-size {
                flex-grow: 1;
                text-align: right;
                .chosen-container {
                    width: 60px !important;
                    text-align: left;
                }
            }
        }
        .loading {
            font-size: $font-size-md;
        }
    }
    &.content {
        overflow-y: auto;
        pagination > div {
            padding: 15px 0;
        }
        .blankslate {
            margin: 15px;
        }
    }
}
