ul.nav.nav-tabs {
    margin-bottom: 15px;
    border-bottom: 1px solid color-gray(90);
    background-color: $color-white;
    text-align: center;
    > li {
        > a {
            padding: 6px 16px 4px;
            border: 0;
            border-bottom: 2px solid transparent;
            background-color: transparent;
            color: $color-link;
            font-size: 1em;
            span.badge {
                margin-top: -5px;
            }
            span.label {
                display: block;
                margin-top: 3px;
                padding: 0.2em 0.6em;
                float: right;
            }
        }
        &.active a {
            border-bottom-color: $color-secondary;
            background-color: $color-bg;
            &:hover {
                border: 0;
                border-bottom: 2px solid $color-secondary;
                background-color: $color-bg;
            }
        }
    }
}
