<modal title="{{'Select Contact' | translate}}" cancel="$hide()" save="$ctrl.save()" class="contact-select">
    <label for="searchText" translate="">Please select a contact</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input id="searchText"
               class="form-control"
               ng-model="$ctrl.searchText"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
               ng-change="$ctrl.search()"
               autocomplete="off">
    </div>
    <table class="table table-responsive table-striped">
        <tr ng-repeat="contact in $ctrl.contactList"
            style="cursor: pointer"
            ng-click="$ctrl.selected = contact.id; $ctrl.selectedName = contact.name"
            ng-class="{selected: $ctrl.selected === contact.id}">
            <td>{{contact.name}}</td>
        </tr>
    </table>
</modal>