
<h2>
    <button ng-click="$ctrl.openAddReferralsModal()" class="btn btn-primary pull-right" translate>Add Referrals</button>
    <translate>Referrals</translate>
</h2>
<div class="panel panel-default">
    <table class="table table-striped" ng-if="$ctrl.referrals.length > 0">
        <thead>
            <th translate>Name</th>
            <th translate>Referral Date</th>
        </thead>
        <tbody>
            <tr ng-repeat="referral in $ctrl.referrals">
                <td>
                    <a ui-sref="contacts.show({ contactId: referral.id })">
                        {{referral.name}}
                    </a>
                </td>
                <td>
                    {{referral.created_at | date :$ctrl.locale.dateTimeFormat}}
                </td>
                <td class="text-right">
                    <a ui-sref="contacts.show({ contactId: referral.id })">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer" ng-if="$ctrl.referrals.length === 0" translate>
        No referrals by this contact.
    </div>
</div>
