<div class="text-right mb-3">
    <button ng-click="$ctrl.openAddReferralsModal()" class="btn btn-primary" translate>Add Referrals</button>
</div>
<div class="panel panel-default" ng-if="$ctrl.referrals.length > 0">
    <table class="table table-striped">
        <thead>
            <th translate>Name</th>
            <th translate>Referral Date</th>
        </thead>
        <tbody>
            <tr ng-repeat="referral in $ctrl.referrals">
                <td>
                    <a ui-sref="contacts.show({ contactId: referral.id })">
                        {{referral.name}}
                    </a>
                </td>
                <td>
                    {{referral.created_at | date :$ctrl.locale.dateTimeFormat}}
                </td>
                <td class="text-right">
                    <a ui-sref="contacts.show({ contactId: referral.id })">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="blankslate" ng-if="$ctrl.referrals.length === 0">
    <i class="fa fa-home blankslate-icon"></i>
    <h3 translate>Looks like you haven't added any referrals for this contact yet</h3>
    <a ng-click="$ctrl.openAddReferralsModal()" class="btn btn-default" translate>Add Referrals</a>
</div>
