<modal title="{{$ctrl.modalTitle}}" save="$ctrl.save()" cancel="$hide()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.models.subject" required />
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                disable-search="true"
                class="form-control"
                id='action'
                ng-options="opt as opt for opt in $ctrl.constants.actions"
                ng-model="$ctrl.models.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="due-date" translate>Due Date</label>
        <div ng-hide="$ctrl.models.no_date">
            <datetimepicker ng-model="$ctrl.models.start_at" id="due-date"
                            hour-step="1"
                            minute-step="1">
            </datetimepicker>
        </div>
    </div>
    <div class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.models.no_date" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div>
        <label for="emailNotify">
            <input id='emailNotify' ng-model="$ctrl.emailNotification" type="checkbox"/>
            <translate>Email Notification</translate>
        </label>
    </div>
    <div ng-if="$ctrl.emailNotification">
        <label for="notification_type" translate>Notify in</label>
        <div class="row">
            <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="$ctrl.models.notification_type" id="notification_type" ng-required="$ctrl.emailNotification" min="0">
            </div>
            <div class="col-sm-8">
                <select chosen ng-model="$ctrl.models.notification_time_unit" ng-required="$ctrl.emailNotification">
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <label translate>Tags</label>
        <tags-input class="import_by_group import_contacttags" ng-model="$ctrl.models.tag_list" display-property="name" key-property="name">
            <auto-complete source="$ctrl.tasksTags.data" min-length="0" select-first-match="false"></auto-complete>
        </tags-input>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.comment"/>
    </div>
</modal>
