<modal title="{{$ctrl.modalTitle}}" save="$ctrl.save()" cancel="$hide()">
    <div class="form-group">
        <label for="subject" translate>Subject</label>
        <input class="form-control" id='subject' ng-model="$ctrl.models.subject" required/>
    </div>
    <div class="form-group">
        <label for="action" translate>Action</label>
        <input type="checkbox" ng-model="$ctrl.newsletterPhysical" ng-disabled="$ctrl.newsletterBoth"> <label for="" translate>Newsletter - Physical</label>
        <input type="checkbox" ng-model="$ctrl.newsletterEmail" ng-disabled="$ctrl.newsletterBoth"> <label for="" translate>Newslettter - Email</label>
        <input type="checkbox" ng-model="$ctrl.newsletterBoth" ng-change="$ctrl.onBoth()"> <label for="" translate>Both</label>
    </div>
    <div class="form-group">
        <label for="due-date" translate>Completed On</label>
        <div ng-hide="$ctrl.models.no_date">
            <datetimepicker ng-model="$ctrl.models.start_at"
                            hour-step="1"
                            minute-step="1">
            </datetimepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.comment"/>
    </div>
</modal>
