<h3 translate>Manage Accounts</h3>
<div class="panel-group">
    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('share_account'), 'panel-disabled' : !$ctrl.tabSelectable('share_account') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('share_account')">
            <span translate>Manage Account Access</span>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('share_account') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('share_account')">
            <div class="panel-body">
                <share-preferences setup="$ctrl.setup"></share-preferences>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('merge_account'), 'panel-disabled' : !$ctrl.tabSelectable('merge_account') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('merge_account')">
            <span translate>Merge Your Accounts</span>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('merge_account') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('merge_account')">
            <div class="panel-body">
                <merge-preferences on-save="$ctrl.onSave()"></merge-preferences>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-class="{ 'panel-selected' : $ctrl.tabSelected('merge_spouse_account'), 'panel-disabled' : !$ctrl.tabSelectable('merge_spouse_account') }">
        <div class="panel-heading" ng-click="$ctrl.setTab('merge_spouse_account')">
            <span translate>Merge Spouse Accounts</span>
            <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180' : $ctrl.tabSelected('merge_spouse_account') }"></i>
        </div>
        <div class="panel-animate" ng-show="$ctrl.tabSelected('merge_spouse_account')">
            <div class="panel-body">
                <p translate>Merge your account with your spouse's account for a unified view</p>
                <p translate>
                    If you are getting married and have two separate donation accounts,
                    you can merge your MPDX accounts together at any time. No data will be
                    lost when they are merged, and we can do it at any time regardless of the
                    status of your staff accounts being merged.
                </p>
                <hr>
                <h4 translate>1. Share your accounts with each other.</h4>
                <invite-preferences></invite-preferences>
                <p translate>You will each get an email (you might need to check your spam) and will need to accept access to each other’s accounts.</p>
                <hr>
                <h4 translate>2. Merge Accounts</h4>
                <merge-preferences></merge-preferences>
            </div>
        </div>
    </div>
</div>
