<h2 class="mt-0 mb-3">Coaching Accounts</h2>
<div class="blankslate blankslate-spacious" ng-if="$ctrl.data.length === 0 && !$ctrl.loading">
    <i class="far fa-id-card blankslate-icon"></i>
    <h3 translate>Looks like you don't have access to coach any accounts</h3>
    <p translate>You must request access from a user who has access to an account.</p>
    <a ui-sref="home" class="btn btn-default" translate>Back to Dashboard</a>
</div>
<div ng-if="$ctrl.data.length > 0 || $ctrl.loading">
    <coaches-list-item ng-repeat="account in $ctrl.data track by account.id" account="account"></coaches-list-item>
    <div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
      <i class="far fa-circle-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
    </div>
    <pagination meta="$ctrl.meta.pagination"
                on-change="$ctrl.load(page)"
                class="text-center">
    </pagination>
</div>
