<div ng-click="$ctrl.onClick()" class="item" ng-class="{'selected': $ctrl.selected, 'ignored': $ctrl.ignored}">
    <div ng-if="$ctrl.selected" class="merge-state selected" translate>Use This One</div>
    <div ng-if="$ctrl.ignored" class="merge-state ignored" translate>Don't Merge</div>
    <img class="avatar" ng-src="{{$ctrl.contact.square_avatar | stripMpdx}}">
    <strong>{{$ctrl.contact.name}}</strong>
    <div ng-repeat="address in $ctrl.contact.addresses track by address.id" ng-if="address.primary_mailing_address">
        <span class="no-slash" ng-if="address.street">{{address.street}}<br></span>
        <span class="no-slash" ng-if="address.city">{{address.city}},</span>
        {{address.state}}
        {{address.postal_code}}
        <i class="fa fa-exclamation-triangle" ng-if="address.duplicate"></i>
    </div>
</div>
