@import 'filter/filter';
@import 'filter/tags/tags';
@import 'list/list';
contacts-sidebar {
    height: calc(100vh - 130px); // calc needed for safari
    padding: $container-padding 0;
    background-color: $color-filter-bar;
    overflow-y: auto;
    .contact-drawer {
        display: grid;
        grid-template-rows: auto 1fr;
        > div.edit-filters {
            display: grid;
            padding: 0 $container-padding 10px;
            color: $color-white;
            line-height: 29px;
            grid-template-columns: 1fr 20px;
            grid-row: 1 / 1;
            .btn-group-justified {
                display: flex;
                button.btn {
                    flex-grow: 1;
                    transition: background-color 0.2s ease-out;
                }
                button.btn:focus {
                    outline: none;
                }
                button.btn.active {
                    background-color: $color-sidebar-bg;
                }
            }
            @media(min-width: $contact-menu-breakpoint) {
                grid-template-columns: 1fr;
            }
        }
        > div.list {
            grid-row: 2 / 2;
        }
    }
    .filter-collapse {
        flex-grow: 0;
        width: 20px;
        color: $color-white;
        text-align: right;
        cursor: pointer;
        @media(min-width: $contact-menu-breakpoint) {
            display: none;
        }
    }
    > .minimized-sidebar {
        color: $color-white;
        text-align: center;
        cursor: pointer;
        @media(min-width: $contact-menu-breakpoint) {
            display: none;
        }
    }
    &.hide-small {
        > .maximized-sidebar {
            @media (max-width: $contact-menu-breakpoint) {
                display: none;
            }
        }
    }
}
