@import 'filter/filter';
@import 'filter/tags/tags';
@import 'list/list';
contacts-sidebar {
    display: grid;
    height: calc(100vh - 130px); // calc needed for safari
    background-color: $color-filter-bar;
    grid-template-columns: $sidebar-collapse-width auto;
    > .filter-collapse {
        border-right: 1px solid $color-gray-blue;
        color: $color-white;
        cursor: pointer;
        grid-column: 1;
        i {
            position: relative;
            top: 50%;
            margin-left: 3px;
            transition: transform 0.2s ease-out;
        }
    }
    > .content {
        width: $sidebar-width;
        padding: $container-padding 0;
        opacity: 1;
        overflow-y: auto;
        grid-column: 2;
        &.ng-hide {
            width: 0;
            opacity: 0;
        }
        &.ng-hide-add {
            transition: opacity 0.2s ease-out, width 0.5s ease-out 0.4s;
        }
        &.ng-hide-remove {
            transition: width 0.5s ease-out, opacity 0.2s ease-out 0.7s;
        }
        .contact-drawer {
            display: grid;
            grid-template-rows: auto 1fr;
            > div.edit-filters {
                padding: 0 $container-padding 10px;
                color: $color-white;
                line-height: 29px;
                .btn-group-justified {
                    display: flex;
                    button.btn {
                        flex-grow: 1;
                        transition: background-color 0.2s ease-out;
                    }
                    button.btn:focus {
                        outline: none;
                    }
                    button.btn.active {
                        background-color: $color-sidebar-bg;
                    }
                }
            }
            > div.list {
                grid-row: 2 / 2;
            }
        }
    }
}
