<modal title="{{'Log Task' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.task.subject" autofocus required>
    </div>
    <div class="form-group">
        <label for="action" translate>Action</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id="action"
                name="action"
                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.activity_hashes"
                ng-model="$ctrl.task.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="completed" translate>Completed On</label>
        <datetimepicker ng-model="$ctrl.task.completed_at"
                        hour-step="1"
                        minute-step="1"
                        id="completed">
        </datetimepicker>
    </div>
    <div class="form-group">
        <label translate>Contacts</label>
        <contacts-selector ng-model="$ctrl.contactsList"></contacts-selector>
    </div>
    <div class="form-group">
        <label for="result"><translate>Result</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id='result'
                ng-options="opt for opt in $ctrl.serverConstants.data.results[$ctrl.task.activity_type.toLowerCase()] || $ctrl.serverConstants.data.results['default']"
                ng-model="$ctrl.task.result">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="nextActions" translate>Next Action</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id="nextActions"
                ng-options="opt for opt in $ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.next_action"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.showPartnerStatus()">
        <label translate>Partner Status</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.status_hashes"
                ng-model="$ctrl.status"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div>
        <label translate>Tags</label>
        <tag-selector ng-model="$ctrl.task.tag_list" tag-list="$ctrl.tasksTags.data"></tag-selector>
    </div>
    <div class="form-group" ng-if="$ctrl.task.activity_type === 'Appointment'">
        <label for="location" translate>Location</label>
        <input type="text"
               name="location"
               id="location"
               class="form-control"
               places-auto-complete
               ng-model="$ctrl.task.location">
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <textarea class="form-control" id='comment' ng-model="$ctrl.comment"></textarea>
    </div>
</modal>
