<modal title="{{'Log Task' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.task.subject" required/>
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate></label>
        <select chosen
                required
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id="action"
                name="action"
                ng-options="opt for opt in $ctrl.serverConstants.data.activities"
                ng-model="$ctrl.task.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="completed" translate>Completed On</label>
        <datetimepicker ng-model="$ctrl.task.completed_at"
                        hour-step="1"
                        minute-step="1"
                        id="completed">
        </datetimepicker>
    </div>
    <label translate>Contacts</label>
    <div class="form-group" ng-repeat="contact in $ctrl.contactsList track by $index">
        <contact-selector return-fn="$ctrl.setContact($params, $index)" contact-name="$ctrl.contactNames[contact]"></contact-selector>
    </div>
    <div class="form-group">
        <button ng-click="$ctrl.addContact()" class="btn btn-default btn-block btn-xs"><i class="fa fa-plus-circle"></i> <translate>Add Contact</translate></button>
    </div>
    <div class="form-group">
        <label for="result"><translate>Result</translate> <span class="text-danger">*</span></label>
        <select chosen
                ng-required="$ctrl.toComplete"
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id='result'
                ng-options="opt for opt in $ctrl.serverConstants.data.results[$ctrl.task.activity_type.toLowerCase()] || $ctrl.serverConstants.data.results['default']"
                ng-model="$ctrl.task.result">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]">
        <label for="nextActions" translate>Next Action</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                id="nextActions"
                ng-options="opt for opt in $ctrl.serverConstants.data.next_actions[ $ctrl.task.activity_type.toLowerCase() ]"
                ng-model="$ctrl.task.next_action"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.showPartnerStatus()">
        <label translate>Partner Status</label>
        <select chosen
                disable-search="true"
                data-placeholder-text-single="'Select an Option' | translate"
                class="form-control"
                ng-options="opt as opt for opt in $ctrl.serverConstants.data.assignable_statuses"
                ng-model="$ctrl.status"
                allow-single-deselect="true">
            <option value=""></option>
        </select>
    </div>
    <div>
        <label translate>Tags</label>
        <tag-selector ng-model="$ctrl.task.tag_list" tag-list="$ctrl.tasksTags.data"></tag-selector>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.comment"/>
    </div>
</modal>
