<div class="content-container merges">
    <h1 translate>Merge People</h1>
    <div ng-if="$ctrl.duplicates.length > 0 && !$ctrl.loading">
        <p>
            <translate translate-plural="You have {{$count}} possible duplicate people." translate-n="$ctrl.meta.pagination.total_count">
                You have 1 possible duplicate person.
            </translate>
            <translate>
                This is sometimes caused when you imported data into MPDX.
                We recommend reconciling these as soon as possible.
                Please select the duplicate that should win the merge.
                No data will be lost.
            </translate>
        </p>
        <p>
            <strong class="text-danger" translate>This cannot be undone.</strong>
        </p>
        <div block-ui="merge-people">
            <div class="merge-row" ng-repeat="duplicate in $ctrl.duplicates track by $index">
                <merge-people-item person="duplicate.people[0]" contact="duplicate.shared_contact" on-click="$ctrl.select(duplicate, 0)" ignore="duplicate.ignore"></merge-people-item>
                <div class="choices">
                    <i class="fas fa-arrow-left choice-left" ng-class="{'selected': duplicate.people[0].selected}" ng-click="$ctrl.select(duplicate, 0)"></i>
                    <i class="fas fa-arrow-right choice-right" ng-class="{'selected': duplicate.people[1].selected}" ng-click="$ctrl.select(duplicate, 1)"></i>
                    <i class="fas fa-times choice-cancel" ng-class="{'selected': duplicate.ignore}" ng-click="$ctrl.selectIgnore(duplicate)"></i>
                </div>
                <merge-people-item person="duplicate.people[1]" contact="duplicate.shared_contact" on-click="$ctrl.select(duplicate, 1)" ignore="duplicate.ignore"></merge-people-item>
            </div>
            <div class="merge-row">
                <div class="text-right">
                    <button class="btn btn-primary" ng-click="$ctrl.confirmAndContinue()" ng-disabled="$ctrl.confirmButtonDisabled()" translate>Confirm and Continue</button>
                </div>
                <div class="text-center confirm-or">
                    <span>OR</span>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="$ctrl.confirmThenLeave()" ng-disabled="$ctrl.confirmButtonDisabled()" translate>Confirm and Leave</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.duplicates.length === 0 && !$ctrl.loading">
        <div class="blankslate blankslate-spacious">
          <i class="fas fa-users blankslate-icon"></i>
          <h3 translate>No duplicate people need attention</h3>
          <p translate>People with similar names will appear here.</p>
          <a class="btn btn-default" ui-sref="tools" translate>Back to Tools</a>
        </div>
    </div>
    <div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
      <i class="far fa-circle-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
    </div>
</div>
