<modal title="{{'Log Task' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <div class="form-group">
        <label for="subject"><translate>Subject</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id='subject' ng-model="$ctrl.models.subject" required/>
    </div>
    <div class="form-group">
        <label for="action"><translate>Action</translate> <span class="text-danger">*</span></label>
        <select chosen
                required
                disable-search="true"
                class="form-control"
                id='action'
                ng-options="opt for opt in $ctrl.constants.actions"
                ng-model="$ctrl.models.action">
            <option value=""></option>
        </select>
    </div>
    <div ng-if="!$ctrl.toComplete" class="form-group">
        <label for="due-date" translate>Due Date</label>
        <div ng-hide="$ctrl.models.noDate">
            <datetimepicker ng-model="$ctrl.models.dueDate"
                            hour-step="1"
                            minute-step="1"
                            id="due-date"
                            date-options="{ showWeeks: false, showButtonBar: false}"
                            date-format="dd-MMM-yyyy"
                            date-options="dateOptions"
                            show-spinners="true">
            </datetimepicker>
        </div>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="completed" translate>Completed On</label>
        <div ng-hide="$ctrl.models.noDate">
            <datetimepicker ng-model="$ctrl.models.completedAt"
                            hour-step="1"
                            minute-step="1"
                            id="completed"
                            date-options="{ showWeeks: false, showButtonBar: false}"
                            date-format="dd-MMM-yyyy"
                            date-options="dateOptions"
                            show-spinners="true">
            </datetimepicker>
        </div>
    </div>
    <div class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.models.noDate" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="result"><translate>Result</translate> <span class="text-danger">*</span></label>
        <select chosen
                ng-required="$ctrl.toComplete"
                disable-search="true"
                class="form-control"
                id='result'
                ng-options="opt for opt in $ctrl.constants.results[$ctrl.models.action] || $ctrl.constants.results['default']"
                ng-model="$ctrl.models.result">
            <option value=""></option>
        </select>
    </div>
    <div ng-if="$ctrl.toComplete" class="form-group">
        <label for="nextAction" translate>Next Action</label>
        <select chosen
                disable-search="true"
                class="form-control"
                id='nextAction'
                ng-options="opt for opt in $ctrl.constants.next_actions[$ctrl.models.action] || $ctrl.constants.next_actions['default']"
                ng-model="$ctrl.models.nextAction">
            <option value=""></option>
        </select>
    </div>
    <div>
        <label translate>Tags</label>
        <tags-input class="import_by_group import_contacttags" ng-model="$ctrl.models.tagsList">
            <auto-complete source="$ctrl.contactsTags.data" min-length="0" select-first-match="false"></auto-complete>
        </tags-input>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <input class="form-control" id='comment' ng-model="$ctrl.models.comment"/>
    </div>
</modal>
