<modal>
    <modal-header title="Log Task" on-close="$hide()"></modal-header>
    <form class="modal-body" name="bulkLogTaskForm" ng-submit="$ctrl.submit()">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input class="form-control" id='subject' ng-model="$ctrl.models.subject" required/>
        </div>
        <div class="form-group">
            <label for="action">Action</label>
            <select chosen
                    required
                    disable-search="true"
                    class="form-control"
                    id='action'
                    ng-options="opt for opt in $ctrl.constants.actions"
                    ng-model="$ctrl.models.action">
                <option value=""></option>
            </select>
        </div>
        <div ng-if="!$ctrl.toComplete" class="form-group">
            <label for="due-date">Due Date</label>
            <div ng-hide="$ctrl.models.noDate">
                <datetimepicker ng-model="$ctrl.models.dueDate"
                                hour-step="1"
                                minute-step="1"
                                id="due-date"
                                date-options="{ showWeeks: false, showButtonBar: false}"
                                date-format="dd-MMM-yyyy"
                                date-options="dateOptions"
                                show-spinners="true">
                </datetimepicker>
            </div>
        </div>
        <div ng-if="$ctrl.toComplete" class="form-group">
            <label for="completed">Completed On</label>
            <div ng-hide="$ctrl.models.noDate">
                <datetimepicker ng-model="$ctrl.models.completedAt"
                                hour-step="1"
                                minute-step="1"
                                id="completed"
                                date-options="{ showWeeks: false, showButtonBar: false}"
                                date-format="dd-MMM-yyyy"
                                date-options="dateOptions"
                                show-spinners="true">
                </datetimepicker>
            </div>
        </div>
        <div class="checkbox">
            <label for="no-due-date">
                <input id='no-due-date' ng-model="$ctrl.models.noDate" type="checkbox"/>
                No Due Date
            </label>
        </div>
        <div ng-if="$ctrl.toComplete" class="form-group">
            <label for="result">Result</label>
            <select chosen
                    ng-required="$ctrl.toComplete"
                    disable-search="true"
                    class="form-control"
                    id='result'
                    ng-options="opt for opt in $ctrl.constants.results[$ctrl.models.action] || $ctrl.constants.results['default']"
                    ng-model="$ctrl.models.result">
                <option value=""></option>
            </select>
        </div>
        <div ng-if="$ctrl.toComplete" class="form-group">
            <label for="nextAction">Next Action</label>
            <select chosen
                    disable-search="true"
                    class="form-control"
                    id='nextAction'
                    ng-options="opt for opt in $ctrl.constants.next_actions[$ctrl.models.action] || $ctrl.constants.next_actions['default']"
                    ng-model="$ctrl.models.nextAction">
                <option value=""></option>
            </select>
        </div>
        <div>
            <label>Tags</label>
            <tags-input class="import_by_group import_contacttags" ng-model="$ctrl.models.tagsList">
                <auto-complete source="$ctrl.tagsService.data" min-length="0" select-first-match="false"></auto-complete>
            </tags-input>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <input class="form-control" id='comment' ng-model="$ctrl.models.comment"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="bulkLogTaskForm.$invalid" translate>Save</button>
            <button type="button" class="btn btn-default" ng-click="$hide()" translate>Close</button>
        </div>
    </form>
</modal>
