contacts-sidebar-list {
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 34px 100%;
    > form {
        grid-row: 1;
        .input-group {
            .input-group-addon, .form-control {
                color: $cru-white;
                background-color: $filter-select-bg-color;
                border: 1px solid $borders;
            }
            .input-group-addon {
                border-right: 0;
            }
        }
        padding: 0 $container-padding;
    }
    > div.content {
        grid-row: 2;
        overflow-y: auto;
        padding-top: 10px;
        .item {
            padding: 0;
            font-size: $font-size-sm;
            border-top: 1px solid $filter-group-border-color;
            &:first-child {
                border-top: none;
            }
            a {
                display: grid;
                grid-template-columns: auto auto;
                transition: background-color 0.2s ease-in, color 0.2s ease-in;
                line-height: 35px;
                font-size: $font-size-sm;
                padding: 0 $container-padding;
                white-space: nowrap;
                width: 100%;
                cursor: pointer;
                &:hover {
                    background-color: #606B79;
                    text-decoration: none;
                }
                &.active {
                    background-color: #606B79;
                    color: $cru-white;
                }
                > div.name {
                    color: $cru-white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    grid-column: 1;
                }
                > div.overdue {
                    grid-column: 2;
                    justify-content: end;
                    text-align: right;
                }
            }
        }
    }
    > div.loading {
        text-align: center;
        color: $cru-white;
        padding: 15px 0;
    }

}
