contacts-sidebar-list .item {
    display: flex;
    padding: 0;
    font-size: $font-size-sm;
    &:not(:first-child) { //all except first
        border-top: 1px solid $color-bg;
    }
    a {
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        display: block;
        line-height: 2.2em;
        font-size: $font-size-sm;
        padding: 0 8px;
        color: #4c4749;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        cursor: pointer;
        &:hover {
            background-color: $color-bg;
            text-decoration: none;
        }
        &.active {
            background-color: #f9b625;
            color: #fff;
        }
    }
}