<div class="card" ng-class="{ 'primary':$ctrl.address.primary_mailing_address }">
    <a class="pull-right edit" ng-click="$ctrl.contacts.openAddressModal($ctrl.contact, $ctrl.address)">
        <span ng-if="!$ctrl.address.remote_id && $ctrl.address.source === 'MPDX'" translate>Edit</span>
        <span ng-if="$ctrl.address.remote_id || $ctrl.address.source !== 'MPDX'" translate>View</span>
    </a>
    <p ng-class="{strike: $ctrl.address.historic}">
        {{$ctrl.address.street}}<br />
        {{$ctrl.address.city}} {{$ctrl.address.state}} {{$ctrl.address.postal_code}}<br />
        {{$ctrl.address.country}}
    </p>

    <div ng-if="$ctrl.address.street">
        <a ng-click="$ctrl.contacts.openAddressModal(null, $ctrl.address)" class="btn btn-reverse btn-xs"><i class="fa fa-map-marker"></i> <translate>Google Maps</translate></a>
    </div>
</div>
