login {

    .btn.btn-login {

        padding: 20px;
        img {
            display: inline-block;
            height: 60px;
            margin-bottom: 10px;
        }
    }

    .brand {
        width: 100%;
        height: 80px;
        background: $color-primary url("images/mpdx_logo_light.png") no-repeat center center;
        background-size: 130px;
    }

    .main-copyright {
        a, a:link {
            color: $color-text;
        }
    }

    .cover-item {
        min-width: 500px;
        border-top: none;
    }

    h3 {
        margin-top: 0;
    }

    .panel {
        border: none;
    }

    .panel-footer {
        border: none;
        border-top: 3px solid $color-secondary;
        padding-top: $gutter;
        padding-bottom: $gutter;
        p:last-child {
            margin-bottom: 0;
        }
    }

    .panel-body {
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: $gutter;
        padding-bottom: $gutter;
    }

}
