<modal title="{{'Edit Tasks' | translate}}" save="$ctrl.save()" cancel="$hide()">
    <div class="alert alert-info" translate>Blank fields will not be affected!</div>
    <div class="form-group">
        <label for="subject" translate>Subject</label>
        <input class="form-control" id='subject' ng-model="$ctrl.task.subject" autofocus>
    </div>
    <div class="form-group">
        <label for="action" translate>Action</label>
        <select chosen
                disable-search="true"
                class="form-control"
                id='action'
                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.activity_hashes"
                ng-model="$ctrl.task.activity_type">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="due-date" translate>Due Date</label>
        <div ng-hide="$ctrl.task.no_date">
            <datetimepicker ng-model="$ctrl.task.start_at" id="due-date"></datetimepicker>
        </div>
    </div>
    <div class="checkbox">
        <label for="no-due-date">
            <input id='no-due-date' ng-model="$ctrl.task.no_date" type="checkbox"/>
            <translate>No Due Date</translate>
        </label>
    </div>
    <div>
        <label translate>Tags</label>
        <tag-selector ng-model="$ctrl.tags" tag-list="$ctrl.tasksTags.data"></tag-selector>
    </div>
    <div class="form-group">
        <label for="comment" translate>Comment</label>
        <textarea msd-elastic
                  class="form-control"
                  id='comment'
                  rows="1"
                  ng-model="$ctrl.comment"></textarea>
    </div>
</modal>
