<modal title="{{'Export Contacts' | translate}}" cancel="$hide()" hide-footer="true">
    <div class="row" block-ui="contact-export" ng-if="::!$ctrl.isSafari">
        <div class="col-sm-4">
            <a ng-click="$ctrl.exportMailingCSV()"
               class="btn btn-primary btn-block"
               translate>
                CSV for Mail Merge
            </a>
            <p translate>Best for making mailing labels. Addresses will be formatted based on country.</p>
        </div>
        <div class="col-sm-4">
            <a ng-click="$ctrl.exportCSV()"
               class="btn btn-primary btn-block"
               translate>
                Advanced CSV
            </a>
            <p translate>
                All of the information for your contacts, best for advanced sorting/filtering and importing into other software.
            </p>
        </div>
        <div class="col-sm-4">
            <a ng-click="$ctrl.exportXLSX()"
               class="btn btn-primary btn-block"
               translate>
                Advanced Excel (XLSX)
            </a>
            <p translate>
                All of the information for your contacts in Excel's default XLSX format.
            </p>
        </div>
    </div>
</modal>
