<modal size="md"
       title="{{$ctrl.modalTitle}}"
       cancel="$hide()"
       save="$ctrl.save()"
       delete="$ctrl.delete()"
       show-delete="$ctrl.person.id && $ctrl.contact.id">
    <div class="row modal-panel-container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-panel-content">
                    <form name="personForm">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="title" translate>Title</label>
                                <input bs-typeahead
                                       class="form-control"
                                       id="title"
                                       ng-model="$ctrl.person.title"
                                       bs-options="title for title in $ctrl.titles">
                            </div>
                            <div class="col-md-4">
                                <label for="first_name">
                                    <translate>First Name</translate>
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control"
                                       type="text"
                                       id="first_name"
                                       ng-model="$ctrl.person.first_name"
                                       autofocus
                                       required>
                            </div>
                            <div class="col-md-4">
                                <label for="last_name">
                                    <translate>Last Name</translate>
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control"
                                       type="text"
                                       id="last_name"
                                       ng-model="$ctrl.person.last_name"
                                       required>
                            </div>
                            <div class="col-md-2">
                                <label for="suffix" translate>Suffix</label>
                                <input bs-typeahead
                                       class="form-control"
                                       id="suffix"
                                       ng-model="$ctrl.person.suffix"
                                       bs-options="suffix for suffix in $ctrl.suffixes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modal-panel-content">
                    <div ng-if="$ctrl.activeTab == 'contact-info'">
                        <form name="currentForm">
                            <ng-include src="'personModalTabs'"></ng-include>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label translate>Phone Numbers</label>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <label translate><small>Primary</small></label>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <label translate><small>Invalid</small></label>
                                        </div>
                                    </div>
                                    <div ng-if="$ctrl.person.phone_numbers.length === 0" class="empty-association">
                                        <span translate>No Phone Numbers.</span>
                                        <a ng-click="$ctrl.addPhone()" translate>Add one.</a>
                                    </div>
                                    <div ng-repeat="phone in $ctrl.person.phone_numbers track by $index" name="phones">
                                        <contact-phone phone="phone"
                                                       on-remove="$ctrl.remove('phone_numbers', $index)"
                                                       on-primary="$ctrl.changePrimary('phone_numbers', phone.id)"
                                                       on-historic="$ctrl.changeHistoric(phone)"></contact-phone>
                                    </div>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addPhone()">
                                        <i class="fas fa-plus-circle"></i> <translate>Add Phone</translate>
                                    </a>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label translate>Email Addresses</label>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <label translate><small>Primary</small></label>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <label translate><small>Invalid</small></label>
                                        </div>
                                    </div>
                                    <div ng-if="$ctrl.person.email_addresses.length === 0" class="empty-association">
                                        <span translate>No Email Addresses.</span>
                                        <a ng-click="$ctrl.addEmailAddress()" translate>Add one.</a>
                                    </div>
                                    <div ng-repeat="email in $ctrl.person.email_addresses track by email.id"
                                         name="email_addresses">
                                        <contact-email-address email="email"
                                                               on-remove="$ctrl.remove('email_addresses', $index)"
                                                               on-primary="$ctrl.changePrimary('email_addresses', email.id)"
                                                               on-historic="$ctrl.changeHistoric(email)">
                                        </contact-email-address>
                                    </div>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addEmailAddress()">
                                        <i class="fas fa-plus-circle"></i> <translate>Add Email</translate>
                                    </a>
                                    <label class="checkbox-label pull-right" for="optout_enewsletter" ng-if="::!$ctrl.userProfile">
                                        <input class="form-control"
                                               type="checkbox"
                                               id="optout_enewsletter"
                                               ng-model="$ctrl.person.optout_enewsletter" />
                                        &nbsp;
                                        <translate>Opt-out of Email Newsletter</translate>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="$ctrl.activeTab == 'details'">
                        <form name="currentForm">
                            <ng-include src="'personModalTabs'"></ng-include>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="legal_first_name" translate>Legal First Name</label>
                                    <input class="form-control"
                                           type="text"
                                           id="legal_first_name"
                                           ng-model="$ctrl.person.legal_first_name">
                                </div>
                                <div class="col-md-6">
                                    <label for="gender" translate>Gender</label>
                                    <select chosen
                                            id="gender"
                                            name="gender"
                                            ng-model="$ctrl.person.gender"
                                            disable-search="true"
                                            data-placeholder-text-single="'Select an Option' | translate"
                                            allow-single-deselect="true">
                                        <option value=""></option>
                                        <option value="male" translate>Male</option>
                                        <option value="female" translate>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="birthday" translate>Birthday</label>
                                    <three-part-date-picker day="$ctrl.person.birthday_day"
                                                            month="$ctrl.person.birthday_month"
                                                            year="$ctrl.person.birthday_year"
                                                            id="birthday">
                                    </three-part-date-picker>
                                    <div>
                                      <label for="age" translate>Age</label>
                                      <input class="form-control"
                                             type="text"
                                             id="age"
                                             ng-model="$ctrl.person.age">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="anniversary" translate>Anniversary</label>
                                    <three-part-date-picker day="$ctrl.person.anniversary_day"
                                                            month="$ctrl.person.anniversary_month"
                                                            year="$ctrl.person.anniversary_year"
                                                            id="anniversary">
                                    </three-part-date-picker>
                                </div>
                            </div>
                            <div class="row" ng-if="::!$ctrl.userProfile">
                                <div class="col-md-12">
                                    <div><label class="block">&nbsp;</label></div>
                                    <label class="checkbox-label" for="deceased">
                                        <input class="form-control"
                                               type="checkbox"
                                               id="deceased"
                                               ng-model="$ctrl.person.deceased" />
                                        &nbsp;
                                        <translate>Deceased</translate>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="$ctrl.activeTab == 'social-info'">
                        <form name="currentForm">
                            <ng-include src="'personModalTabs'"></ng-include>
                            <div class="row">
                                <div class="col-sm-9">
                                    <label translate>Social Connections</label>
                                </div>
                                <div class="col-sm-2">
                                    <label translate>Type</label>
                                </div>
                            </div>
                            <div ng-if="$ctrl.person.facebook_accounts.length === 0 && $ctrl.person.twitter_accounts.length === 0 && $ctrl.person.linkedin_accounts.length === 0 && $ctrl.person.websites.length === 0"
                                 class="empty-association"
                                 translate>
                                No Social Connections.
                            </div>
                            <div class="row" ng-if="$ctrl.person.facebook_accounts.length > 0">
                                <div class="col-md-12">
                                    <div ng-repeat="fb in $ctrl.person.facebook_accounts track by fb.id" name="facebook">
                                        <people-facebook facebook-account="fb"
                                                         on-remove="$ctrl.remove('facebook_accounts', $index)">
                                        </people-facebook>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="$ctrl.person.twitter_accounts.length > 0">
                                <div class="col-md-12">
                                    <div ng-repeat="twit in $ctrl.person.twitter_accounts track by twit.id" name="twitter">
                                        <people-twitter twitter-account="twit"
                                                        on-remove="$ctrl.remove('twitter_accounts', $index)">
                                        </people-twitter>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="$ctrl.person.linkedin_accounts.length > 0">
                                <div class="col-md-12">
                                    <div ng-repeat="li in $ctrl.person.linkedin_accounts track by li.id" name="linkedin">
                                        <people-linkedin linkedin-account="li"
                                                         on-remove="$ctrl.remove('linkedin_accounts', $index)">
                                        </people-linkedin>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="$ctrl.person.websites.length > 0">
                                <div class="col-md-12">
                                    <div ng-repeat="website in $ctrl.person.websites track by website.id" name="website">
                                        <people-website website="website"
                                                        on-remove="$ctrl.remove('websites', $index)">
                                        </people-website>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong translate>Add:</strong>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addFacebook()">
                                        <i class="fas fa-facebook-square"></i> <translate>Facebook</translate>
                                    </a>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addTwitter()">
                                        <i class="fas fa-twitter"></i> <translate>Twitter</translate>
                                    </a>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addLinkedin()">
                                        <i class="fas fa-linkedin"></i> <translate>Linked In</translate>
                                    </a>
                                    <a type="button" class="btn btn-default btn-xs" ng-click="$ctrl.addWebsite()">
                                        <i class="fas fa-globe"></i> <translate>Website</translate>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="$ctrl.activeTab == 'relationships'">
                        <form name="currentForm">
                            <ng-include src="'personModalTabs'"></ng-include>
                            <div class="row">
                                <div class="col-md-4">
                                    <label translate>Occupation</label>
                                    <input class="form-control"
                                           type="text"
                                           name="occupation"
                                           ng-model="$ctrl.person.occupation" />
                                </div>
                                <div class="col-md-4">
                                    <label translate>Employer</label>
                                    <input class="form-control"
                                           type="text"
                                           name="employer"
                                           ng-model="$ctrl.person.employer" />
                                </div>
                                <div class="col-md-4">
                                    <label translate>Relationship Status</label>
                                    <select chosen
                                            name="marital_status"
                                            data-placeholder-text-single="'Select an Option' | translate"
                                            ng-model="$ctrl.person.marital_status">
                                        <option value=""></option>
                                        <option value="Single" translate>Single</option>
                                        <option value="Engaged" translate>Engaged</option>
                                        <option value="Married" translate>Married</option>
                                        <option value="Separated" translate>Separated</option>
                                        <option value="Divorced" translate>Divorced</option>
                                        <option value="Widowed" translate>Widowed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <label translate>Relationships</label>
                                </div>
                                <div class="col-md-4">
                                    <label translate>Type</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-if="$ctrl.person.family_relationships.length === 0"
                                         class="empty-association">
                                        <span translate>No Relationships.</span>
                                        <a ng-click="$ctrl.addFamilyRelationship()" translate>Add one.</a>
                                    </div>
                                    <div ng-repeat="familyRelationship in $ctrl.person.family_relationships track by familyRelationship.id"
                                         name="family_relationships">
                                        <contact-family-relationship person="$ctrl.person"
                                                                     family-relationship="familyRelationship"
                                                                     on-remove="$ctrl.remove('family_relationships', $index)"
                                                                     contact="$ctrl.contact"
                                                                     people-for-relationship="$ctrl.peopleForRelationship">
                                        </contact-family-relationship>
                                    </div>
                                    <a type="button"
                                       class="btn btn-default btn-xs"
                                       ng-click="$ctrl.addFamilyRelationship()">
                                        <i class="fas fa-plus-circle"></i> <translate>Add Relationship</translate>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal>

<script type="text/ng-template" id="personModalTabs">
    <ul class="nav nav-tabs">
        <li ng-class="{ 'active' : $ctrl.activeTab == 'contact-info' }">
            <a ng-click="$ctrl.changeTab(currentForm, 'contact-info')">
                <translate>Contact Info</translate>
            </a>
        </li>
        <li ng-class="{ 'active' : $ctrl.activeTab == 'details' }">
            <a ng-click="$ctrl.changeTab(currentForm, 'details')">
                <translate>Details</translate>
            </a>
        </li>
        <li ng-class="{ 'active' : $ctrl.activeTab == 'social-info' }">
            <a ng-click="$ctrl.changeTab(currentForm, 'social-info')">
                <translate>Social Connections</translate>
            </a>
        </li>
        <li ng-class="{ 'active' : $ctrl.activeTab == 'relationships' }">
            <a ng-click="$ctrl.changeTab(currentForm, 'relationships')">
                <translate>Relationships &amp; Work</translate>
            </a>
        </li>
    </ul>
</script>
