<div class="row" ng-hide="$ctrl.deleted">
    <div class="col-sm-5">
        <input class="form-control" type="email" name="email" ng-model="$ctrl.email.email" placeholder="{{::'Email *' | translate}}" ng-required="!$ctrl.deleted">
    </div>
    <div class="col-sm-4">
        <select chosen
                class="form-control"
                ng-model="$ctrl.email.location"
                data-placeholder="{{ ::'Select an Option *' | translate}}"
                required>
            <option value="personal" translate>Personal</option>
            <option value="work" translate>Work</option>
            <option value="other" translate>Other</option>
        </select>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-block btn-default" title="{{::'Primary' | translate}}" ng-click="$ctrl.onPrimary()">
            <i ng-if="$ctrl.email.primary" class="fa fa-check text-success"></i>
            <i ng-if="!$ctrl.email.primary" class="fa"></i>
        </a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-block btn-default" title="{{::'No longer valid' | translate}}" ng-click="$ctrl.onHistoric()">
            <i ng-if="$ctrl.email.historic" class="fa fa-close text-danger"></i>
            <i ng-if="!$ctrl.email.historic" class="fa"></i>
        </a>
    </div>
    <div class="col-sm-1">
        <button type="button" ng-click="$ctrl.remove()" class="btn btn-block btn-default" title="{{::'Delete' | translate}}">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
