progress-electronic-contacts {
    height: 100%;
    .panel-body.statistics,
    .panel-footer.statistics {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        > div {
            @extend .item;
            grid-row: 1;
        }
    }
}
