preferences {
    .panel.panel-default {
        .panel-heading {
            position: relative;
            cursor: pointer;
            .row {position: relative;}
            .fa-chevron-right {
                position: absolute;
                top: 50%;
                right: 14px;
                margin-top: -10px;
                font-size: 13px;
                color: $color-panel-border;
                display: block;
                width: 20px;
                padding-left: 3px;
                padding-top: 1px;
                line-height: 15px;
                text-align: center;
                border-radius: 50%;
                border: $color-panel-border 2px solid;
            }
            .fa-chevron-right {
                transition: transform 0.5s, color 0.5s, border-color 0.5s;
            }
        }
        .panel-selected > .panel-heading {
            .fa-chevron-right {
                color: $color-panel-bg;
            }
            .fa-chevron-right {
                border-color: $color-panel-bg;
                line-height: 14px;
                padding-top: 2px;
            }
        }
    }
    .btn-primary {
        font-size: $font-size;
        line-height: 25px;
        min-width: 130px;
    }
}

preferences-sidebar {
    display: block;
    margin-bottom: $gutter;
    .selector {
        margin-top: 20px;
        .account-list-dropdown {
            margin-top: 5px;
        }
    }
}

preferences-notifications {
    .list-group {
        .pull-right {margin-left: $gutter/2;}
        .form-group {margin-bottom: 0;}
    }
}

preferences-integration {
    .panel-heading {
        .state {
            margin-right: 30px;
            float: right;
        }
    }
    .integration_subhead {
        font-weight: 600;
        margin-top: 0;
    }
    ol {
        padding-left: $gutter/2;
    }
    .well {
        border-radius: $border-radius;
        .btn-link {
            font-size: 18px;
            padding: 0;
            margin-right: 20px;
            &:last-of-type {margin-right: 0;}
            &.disabled {
                opacity: 1;
                color: $color-text;
            }
        }
        p:not(:first-child) {margin-top: 10px;}
    }
}

unavailable-message {
    display: block;
    margin-top: $gutter/2;
}

.merge-direction {
    @include breakpoint(xs) {
        padding-bottom: 20px;
    }
    .fa {
        line-height: 101px;
        @include breakpoint(xs) {
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            font-size: 3em;
            line-height: 1;
        }
    }
}

merge-preferences {
    .well {
        label {
            display: block;
            text-align: center;
        }
    }
}
