preferences {
    .panel-heading {
        position: relative;
        .row {position: relative;}
        .fa-chevron-right {
            position: absolute;
            top: 50%;
            right: 14px;
            margin-top: -10px;
            font-size: 13px;
            color: $color-panel-border;
            display: block;
            width: 20px;
            padding-left: 3px;
            padding-top: 1px;
            line-height: 15px;
            text-align: center;
            border-radius: 50%;
            border: $color-panel-border 2px solid;
        }
        .accstatus-disabled, .fa-chevron-right {
            transition: transform 0.5s, color 0.5s, border-color 0.5s;
        }
    }
    .panel-selected .panel-heading {
        .fa-chevron-right, .accstatus-disabled {
            color: $color-panel-bg;
        }
        .fa-chevron-right {
            border-color: $color-panel-bg;
            line-height: 14px;
            padding-top: 2px;
        }
    }
    .btn-primary {
        font-size: $font-size;
        line-height: 25px;
        min-width: 130px;
    }
}

preferences-sidebar {
    display: block;
    margin-bottom: $gutter;
}

preferences-notifications {
    .list-group {
        .pull-right {margin-left: $gutter/2;}
        .form-group {margin-bottom: 0;}
    }
}

integration-preferences {
    .panel-heading {
        .pull-right {margin-right: 30px;}
    }
    .integration_subhead {
        font-weight: 600;
        margin-top: 0;
    }
    ol {
        padding-left: $gutter/2;
    }
    .well {
        border-radius: $border-radius;
        .btn-link {
            font-size: 18px;
            padding: 0;
            margin-right: 20px;
            &:last-of-type {margin-right: 0;}
            &.disabled {
                opacity: 1;
                color: $color-text;
            }
        }
        p:not(:first-child) {margin-top: 10px;}
    }
}

unavailable-message {
    display: block;
    margin-top: $gutter/2;
}

.accstatus-enabled {color: green;}
.accstatus-error {color: red;}
.accstatus-disabled {color: $color-panel-border;}

.merge-direction {
    @include breakpoint(xs) {
        padding-bottom: 20px;
    }
    .fa {
        line-height: 101px;
        @include breakpoint(xs) {
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            font-size: 3em;
            line-height: 1;
        }
    }
}

merge-preferences {
    .well {
        label {
            display: block;
            text-align: center;
        }
    }
}

.network_connect {

    display: block;

    .identify {
        width: 180px;
        border-right: 1px solid silver;
    }
    .connections {
        padding-left: 25px;
    }

    .network_logo {
        text-align: center;
        img {
            max-height: 100px;
            margin: 0 auto;
        }
    }

    .network_connections {
        .account_single {
            background: $gray_light;
            border-radius: 5px;
            padding: 12px;
            margin-bottom: 5px;
            margin-right: 5px;
            min-width: 300px;
            .actions {
                float: right;
                a {vertical-align: middle;}
            }
        }
        .account_name {
            font-size: 14px;
            margin-bottom: .5em;
            display: block;
            margin-right: 30px;
        }
        .importoptions {
            margin-top: .25em;
            label {font-size: 13px;}
        }
        .importtags {
            margin-bottom: .25em;
        }
    }
    .import-tags-table {
        width: 100%;
        .bootstrap-tagsinput {
            width: auto;
            display: block;
        }
        .google_import_group {
            white-space: nowrap;
        }
    }
}