<div ng-if="$ctrl.setup">
    <h1>Get notified about important partner information!</h1>
    <button class="btn btn-default" ng-click="$ctrl.next()">Skip this step</button>
</div>
<div ng-show="$ctrl.preferences.data.google_accounts.length == 0">
    <h3>Get Started by connecting a Google Account</h3>
    <p>You haven't connected any Google Accounts yet. Go to the "Connect Services" page to get started.</p>
    <a ui-sref="preferences.integrations.tab({id: 'google'})" class="btn btn-primary">Connect Google Account</a>
</div>
<div ng-show="$ctrl.preferences.data.google_accounts.length > 1">
    <label translate>Account to Import From</label>
    <select ng-options="account as account.email for account in $ctrl.preferences.data.google_accounts" ng-model="$ctrl.preferences.selected_account" chosen>
        <option style="display:none" value="" translate>Select an Account</option>
    </select>
</div>
<div ng-show="$ctrl.preferences.data.google_accounts.length == 1">
    <span translate>Importing From</span> <strong>{{$ctrl.preferences.selected_account.email}}</strong>
</div>
<br />
<div ng-repeat="account in $ctrl.preferences.data.google_accounts" ng-show="account.id == $ctrl.preferences.selected_account.id">
    <form>
        <div class="field radiocheck">
            <label for="import_by_group_false"><input id="import_by_group_false" type="radio" value="false" ng-model="$ctrl.preferences.google_contact_import.import_by_group"> <%= _('Import all contacts') %></label>
        </div>
        <div class="field radiocheck">
            <label for="import_by_group_true"><input id="import_by_group_true" type="radio" value="true" ng-model="$ctrl.preferences.google_contact_import.import_by_group"> <%= _('Only import contacts from certain groups') %></label>
        </div>
        <div ng-show="$ctrl.preferences.google_contact_import.import_by_group == 'true'">
            <div class="well">
                <table class="import-tags-table">
                    <thead>
                    <tr>
                        <th translate>Contact group</th>
                        <th translate>Tags for group</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in account.contact_groups">
                        <td class="google_import_group">
                            <label class="field radiocheck google_import_group">
                                <input class="import_by_group" type="checkbox" checklist-value="group.id" checklist-model="$ctrl.preferences.google_contact_import.groups">
                                {{group.title}}
                            </label>
                        </td>
                        <td class="google_import_tags">
                            <tag-selector ng-model="$ctrl.preferences.google_contact_import.group_tags[group.id]" tag-list="$ctrl.contactsTags.data"></tag-selector>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a ng-click="$ctrl.checkAllGoogleContactGroups()" class="btn btn-default">Check all</a>
                <a ng-click="$ctrl.uncheckAllGoogleContactGroups()" class="btn btn-default">Uncheck all</a>
            </div>
        </div>
        <br>
        <div class="importtags">
            <span translate>Tags for all imported Google contacts:</span>
            <tag-selector ng-model="$ctrl.preferences.google_contact_import.tags" tag-list="$ctrl.contactsTags.data"></tag-selector>
        </div>
        <br />
        <div class="field radiocheck">
            <label for="override_false"><input id="override_false" type="radio" value="false" ng-model="$ctrl.preferences.google_contact_import.override" translate>
                This Google contact import should only fill in the blanks in current contacts and/or add new contacts.
            </label>
        </div>
        <div class="field radiocheck">
            <label for="override_true"><input id="override_true" type="radio" value="true" ng-model="$ctrl.preferences.google_contact_import.override" translate>
                This Google import should override the info in MPDX (contact info, notes) and add new contacts.
            </label>
        </div>
        <button type="submit" ng-click="$ctrl.saveGoogleImport()" ng-disabled="$ctrl.saving" class="btn btn-primary btn-actionable">
            <span translate>Import</span>&nbsp;
            <span class="btn-progress" ng-show="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
        </button>
    </form>
</div>
