<h1>
    <i class="fa fa-google"></i>
    <translate>Import from Google</translate>
</h1>
<div block-ui="tools-import-google">

    <div ng-if="$ctrl.google.data.length == 0">
        <div class="blankslate blankslate-spacious">
          <i class="fa fa-google blankslate-icon"></i>
          <h3 translate>You haven't connected a Google account yet</h3>
          <p translate>Add a Google account then try to import from Google.</p>
          <a class="btn btn-default" ui-sref="preferences.integrations({selectedTab: 'google'})" translate>Connect Google Account</a>
        </div>
    </div>
    <div ng-show="$ctrl.google.data.length > 1">
        <label translate>Account to Import From</label>
        <select ng-options="account as account.email for account in $ctrl.google.data" ng-model="$ctrl.selectedAccount" ng-change="$ctrl.updateAccount()" chosen>
            <option style="display:none" value="" translate>Select an Account</option>
        </select>
        <br>
        <br>
    </div>
    <div ng-if="$ctrl.selectedAccount">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="preferences.integrations({selectedTab: 'google'})" class="btn btn-default btn-xs pull-right" translate>Connect Another Google Account</a>
                <span translate>Importing From</span> <strong>{{$ctrl.selectedAccount.email}}</strong>
            </div>
            <div class="panel-body">
                <div class="field radiocheck">
                    <label for="import_by_group_false">
                        <input id="import_by_group_false" type="radio" value="false" ng-model="$ctrl.import.import_by_group">
                        <translate>Import all contacts</translate>
                    </label>
                </div>
                <div class="field radiocheck">
                    <label for="import_by_group_true">
                        <input id="import_by_group_true" type="radio" value="true" ng-model="$ctrl.import.import_by_group">
                        <translate>Only import contacts from certain groups</translate>
                    </label>
                </div>
                <div ng-show="$ctrl.import.import_by_group == 'true'">
                    <div class="well">
                        <table class="import-tags-table">
                            <thead>
                            <tr>
                                <th translate>Contact group</th>
                                <th translate>Tags for group</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="group in $ctrl.selectedAccount.contact_groups">
                                <td class="google_import_group">
                                    <label class="field radiocheck google_import_group">
                                        <input class="import_by_group" type="checkbox" checklist-value="group.id" checklist-model="$ctrl.import.groups">
                                        {{group.title}}
                                    </label>
                                </td>
                                <td class="google_import_tags">
                                    <tag-selector ng-model="$ctrl.import.group_tags[group.id]" tag-list="$ctrl.contactsTags.data"></tag-selector>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <a ng-click="$ctrl.checkAllGoogleContactGroups()" class="btn btn-default">Check all</a>
                        <a ng-click="$ctrl.uncheckAllGoogleContactGroups()" class="btn btn-default">Uncheck all</a>
                    </div>
                    <br>
                    <br>
                </div>
                <span translate>Tags for all imported Google contacts</span>
                <tag-selector ng-model="$ctrl.import.tag_list" tag-list="$ctrl.contactsTags.data"></tag-selector>
                <div class="field radiocheck">
                    <label for="override_false">
                        <input id="override_false" type="radio" value="false" ng-model="$ctrl.import.override">
                        <translate>This import should only fill blank fields in current contacts and/or add new contacts.</translate>
                    </label>
                </div>
                <div class="field radiocheck">
                    <label for="override_true">
                        <input id="override_true" type="radio" value="true" ng-model="$ctrl.import.override">
                        <translate>This import should override all fields in current contacts (contact info, notes) and add new contacts.</translate>
                    </label>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-click="$ctrl.save()" class="btn btn-primary" translate>Import</button>
            </div>
        </div>
    </div>
</div>
