<div ng-if="$ctrl.display()" class="filters-header am-collapse" bs-collapse ng-model="$ctrl.isCollapsed">
    <div class="filters-header__title" bs-collapse-toggle>
        <span class="filters-header__title__value"
              translate
              translate-n="$ctrl.count()"
              translate-plural="{{$count}} filters applied">
        1 filter applied
        </span>
        <i class="fal fa-chevron-up" ng-class="{ 'fa-rotate-180': $ctrl.isCollapsed !== -1 }"></i>
    </div>
    <div class="filters-header__content" bs-collapse-target>
        <div ng-repeat="filter in $ctrl.filters track by $index">
            <filters-header-filter filter="filter"
                                   filter-params="$ctrl.filterParams"
                                   invert="$ctrl.invert($filter)"
                                   remove="$ctrl.remove($filter)"
                                   ng-if="$ctrl.filterInUse(filter)"></filters-header-filter>
            <div ng-repeat="filter in filter.children track by $index">
                <filters-header-filter filter="filter"
                                       filter-params="$ctrl.filterParams"
                                       invert="$ctrl.invert($filter)"
                                       remove="$ctrl.remove($filter)"
                                       ng-if="$ctrl.filterInUse(filter)"></filters-header-filter>
            </div>
        </div>
        <div class="filters-header__filter" ng-if="$ctrl.selectedTags.length > 0 || $ctrl.rejectedTags.length > 0">
            <div class="filters-header__filter__title" translate>
                <span class="filters-header__filter__title__value">Tags</span>
            </div>
            <div ng-repeat="tag in $ctrl.selectedTags" class="filters-header__filter__option">
                <i ng-click="$ctrl.removeSelectedTag({ $tag: tag })" class="fal fa-times"></i>
                <span class="filters-header__filter__option__value">{{ ::tag.name }}</span>
                <i ng-click="$ctrl.rejectTag({ $tag: tag })" class="filters-header__filter__reversable fal fa-exchange"></i>
            </div>
            <div ng-repeat="tag in $ctrl.rejectedTags" class="filters-header__filter__option">
                <i ng-click="$ctrl.removeRejectedTag({ $tag: tag })" class="fal fa-times"></i>
                <span class="filters-header__filter__option__value">{{ ::tag.name }}</span>
                <i ng-click="$ctrl.selectTag({ $tag: tag })" class="filters-header__filter__reversable fal fa-exchange reverse"></i>
            </div>
        </div>
    </div>
</div>
