@import 'add/add';
@import 'drawer/drawer';
@import 'item/item';
$search-bar-width: 275px;
tasks-list {
    @extend .lists;
    display: grid;
    height: 100%;
    overflow: hidden;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    > div.menu {
        @extend .lists.item-list-menu;
        grid-row: 1;
        grid-column: 1;
        grid-template-columns: 1fr auto $search-bar-width;
        grid-column-gap: 10px;
        @media (max-width: $contact-menu-breakpoint) {
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 5px;
        }
        > .selected-count {
            display: grid;
            color: $color-white;
            grid-column: 1;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 0; // 0 row for odd chrome display
            grid-column-gap: 15px;
            @media (max-width: $contact-menu-breakpoint) {
                grid-column: 1;
                grid-row: 2;
            }
            .dropdown {
                grid-column: 1;
                grid-row: 1;
            }
            .count {
                font-size: $font-size-sm;
                line-height: 33px;
                grid-column: 2;
                grid-row: 1;
            }
        }
        > .search-bar {
            @extend .lists.item-list-menu.search-bar;
            width: $search-bar-width;
            grid-column: 3;
            @media (max-width: $contact-menu-breakpoint) {
                width: 100%;
                grid-column: 1 / span 3;
            }
            .input-group-addon {
                padding-right: 0;
                background-color: $color-white;
            }
            input {
                border-left-width: 0;
            }
        }
        > div.menu-buttons {
            @extend .lists.item-list-menu.menu-buttons;
            display: grid;
            grid-template-columns: 1fr auto;
            @media (max-width: $contact-menu-breakpoint) {
                width: 100%;
                grid-column: 2 / span 3;
                grid-row: 2;
            }
            .show-small {
                @media (min-width: $contact-menu-breakpoint) {
                    display: none;
                }
            }
        }
    }
    > div.sub-menu {
        @extend .lists.item-list-sub-menu;
        grid-column: 1;
        grid-row: 2;
        > div.sub-line-1 {
            display: grid;
            line-height: 34px;
            grid-template-columns: 1fr auto;
        }
    }
    > div.content {
        @extend .lists.content;
        grid-column: 1;
        grid-row: 3;
        .tasks-lists-add {
            padding: 10px 15px;
            border-bottom: 2px solid $color-border;
        }
    }
    > side-drawer {
        grid-column: 2;
        grid-row: 1 / span 3;
    }
    .task-category {
        &-title {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            border-bottom: 2px solid $color-border;
            background-color: $color-white;
            font-size: 18px;
            &-text {
                flex-grow: 1;
            }
            &.today {
                border-color: $color-secondary;
            }
            &.overdue {
                border-color: $color-orange;
            }
            &.upcoming {
                border-color: $color-green-dark;
            }
            &.no-due-date {
                border-color: $color-cyan-dark;
            }
            > i {
                transition: transform 0.2s ease-out;
            }
        }
        &-list {
            margin-bottom: 0;
            .list-group-item {
                margin: 0;
                padding: 0;
                border: 0;
                border-bottom: 1px solid $color-border;
            }
        }
    }
}
