<div class="columns columns--fixed">
    <div class="column column--heading">
        <div class="page-filters">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <tasks-search></tasks-search>
                </div>
                <div class="col-md-7 col-sm-8 text-right">
                    <div class="btn-group">
                        <a class="btn btn-default" ng-click="$ctrl.tasks.addModal($ctrl.contact.id)" translate>Add Task</a>
                        <a class="btn btn-default" ng-click="$ctrl.tasks.logModal($ctrl.contact.id)" translate>Log Task</a>
                        <div class="btn-group">
                            <div class="dropdown">
                                <a class="btn btn-default dropdown-toggle" bs-dropdown type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span  translate>Actions</span> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="action-drop" ng-show="$ctrl.tasks.selected.length > 0">
                                    <li><a ng-click="$ctrl.tasks.bulkComplete()" translate>Complete Tasks</a></li>
                                    <li><a ng-click="$ctrl.tasks.bulkEditModal()" translate>Edit Tasks</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="$ctrl.tasks.bulkDelete()" translate>Delete Tasks</a></li>
                                </ul>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="action-drop" ng-show="$ctrl.tasks.selected.length === 0">
                                    <li class="dropdown-header" translate>Please select at least one task</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-default" ng-click="$ctrl.tasks.toggleAll()" translate>Select All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-controls">
            <div class="col-sm-12">
                <translate>Showing</translate>
                <strong>{{$ctrl.tasks.data.length || 0}}</strong>
                <translate>of</translate>
                <strong>{{$ctrl.tasks.completeList.length || 0}}</strong>
                <span class="label label-primary" ng-if="$ctrl.tasks.selected.length > 0">
                    {{$ctrl.tasks.selected.length }} <span translate>Selected</span>
                    &nbsp;
                    <a ng-click="$ctrl.tasks.clearSelected()"><i class="fa fa-times" ></i></a>
                </span>&nbsp;
                <small>
                    <a ng-if="$ctrl.tasks.selected.length > 0 && $ctrl.tasks.selected.length < $ctrl.tasks.completeList.length" ng-click="$ctrl.tasks.selectAll()">
                        <span translate>Select all {{$ctrl.tasks.completeList.length}} tasks</span>
                    </a>
                </small>
            </div>
            <div class="col-sm-12">
                <tasks-list-add></tasks-list-add>
            </div>
        </div>
    </div>
    <div class="column">
        <div ng-repeat="(name, tasks) in $ctrl.tasks.data | groupBy: 'state'" infinite-scroll="$ctrl.tasks.loadMoreTasks()" infinite-scroll-disabled="$ctrl.tasks.loading">
            <div class="panel panel-default">
               <div class="panel-heading" ng-class="name">{{name}}</div>
               <ul class="list-group">
                    <li class="list-group-item" ng-repeat="task in tasks">
                        <tasks-list-item task="task"></tasks-list-item>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!$ctrl.tasks.loading && $ctrl.tasks.data.length < $ctrl.tasks.completeList.length">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a ng-click="$ctrl.tasks.loadMoreTasks()" translate>Load More Tasks</a>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.tasks.loading" class="loading-spinner">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only" translate>Loading</span>
        </div>
    </div>
</div>
