tasks-list {
    .panel {
        &.panel-default {
            border: none;
        }
        .panel-heading {
            border-bottom: 4px solid rgb(153, 153, 153);
            &.today {
                border-color: $color-secondary;
            }
            &.overdue {
                border-color: #F6921E;
            }
            &.upcoming {
                border-color: #56AA00;
            }
            &.no-due-date {
                border-color: #3eb1c8;
            }
        }
        .list-group {
            .list-group-item {
                padding: 0;
            }
        }
    }
}
