tasks-list {
    .panel {
        &.panel-default {
            border: none;
        }
        .panel-heading {
            border-bottom: 4px solid rgb(153, 153, 153);
            &.Overdue {
                border-color: #f9b625;
            }
            &.Upcoming {
                border-color: #56AA00;
            }
            &.noDueDate {
                border-color: #3eb1c8;
            }
        }
        .list-group {
            .list-group-item {
                padding: 0;
            }
        }
    }
}
