<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="{'active' : $ctrl.$state.includes('tools.fix.phoneNumbers')}">
        <a ui-sref="tools.fix.phoneNumbers">
            <translate>Fix Phone Numbers</translate>
            <span class="badge" ng-if="$ctrl.fixPhoneNumbers.meta.pagination.total_count > 0">{{$ctrl.fixPhoneNumbers.meta.pagination.total_count}}</span>
        </a>
    </li>
    <li role="presentation" ng-class="{'active': $ctrl.$state.includes('tools.fix.emailAddresses')}">
        <a ui-sref="tools.fix.emailAddresses">
            <translate>Fix Email Addresses</translate>
            <span class="badge" ng-if="$ctrl.fixEmailAddresses.meta.pagination.total_count > 0">{{$ctrl.fixEmailAddresses.meta.pagination.total_count}}</span>
        </a>
    </li>
    <li role="presentation" ng-class="{'active': $ctrl.$state.includes('tools.fix.addresses')}">
        <a ui-sref="tools.fix.addresses">
            <translate>Fix Mailing Addresses</translate>
            <span class="badge" ng-if="$ctrl.fixAddresses.meta.pagination.total_count > 0">{{$ctrl.fixAddresses.meta.pagination.total_count}}</span>
        </a>
    </li>
</ul>
