<div block-ui="fix-email-addresses">
    <h1 translate>Fix Email Addresses</h1>
    <p ng-if="!$ctrl.fixEmailAddresses.meta.pagination.total_count" translate>
        Great work! We weren't able to detect any email addresses in your account needing review.
    </p>
    <div ng-if="$ctrl.fixEmailAddresses.meta.pagination.total_count">
        <p>
            <strong translate translate-params-count="$ctrl.fixEmailAddresses.meta.pagination.total_count">You have {{count}} email addresses to confirm.</strong>
            <br>
            <translate>Choose below which email address will be set as primary. Primary email addresses will be used for Newsletter exports.</translate>
        </p>
        <div class="bulk">
            &nbsp;<translate>Default Primary Source</translate>&nbsp;
            <select chosen
                    disable-search="true"
                    allow-single-deselect="true"
                    class="form-control"
                    ng-options="opt for opt in $ctrl.fixEmailAddresses.sources"
                    ng-model="$ctrl.source">
                <option value=""></option>
            </select>

            <button class="btn btn-gray" ng-click="$ctrl.save()" ng-disabled="!$ctrl.source">
                <i class="fa fa-check-circle"></i> <translate translate-params-source="$ctrl.source">Confirm All as {{source}}</translate>
            </button>
        </div>
        <div ng-show="$ctrl.fixEmailAddresses.loading">
            <div class="loading-box">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only" translate="">Loading</span>
            </div>
        </div>
        <div ng-show="!$ctrl.fixEmailAddresses.loading">
            <fix-email-addresses-item ng-repeat="person in $ctrl.fixEmailAddresses.data" person="person"></fix-email-addresses-item>
        </div>
        <pagination ng-if="$ctrl.fixEmailAddresses.meta.pagination.total_count > 0"
                    meta="$ctrl.fixEmailAddresses.meta.pagination"
                    on-change="$ctrl.load(page)"
                    class="text-center">
        </pagination>
    </div>
</div>
