<div class="row">
    <div class="col-xs-10">
        <div class="panel" block-ui="fix-commitment-info-item-{{$ctrl.contact.id}}">
            <div class="panel-body">
                <avatar src="$ctrl.contact.avatar"></avatar>
                <div class="avatar-on-left">
                    <div class="row">
                        <div class="col-xs-5">
                            <a ng-href="/contacts/{{$ctrl.contact.id}}" target="_blank"><h4 class="name">{{ $ctrl.contact.name }}</h4></a>
                            <translate ng-if="$ctrl.contact.original_pledge_amount || $ctrl.contact.original_pledge_currency || $ctrl.contact.original_pledge_frequency || $ctrl.contact.original_status">Current:</translate>
                            {{ $ctrl.contact.original_status }}
                            {{ $ctrl.contact.original_pledge_amount | number }} {{ $ctrl.contact.original_pledge_currency }}
                            {{ $ctrl.contact.original_pledge_frequency }}
                        </div>
                        <div class="col-xs-7">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select chosen
                                                required
                                                disable-search="true"
                                                data-placeholder-text-single="'Status' | translate"
                                                class="form-control"
                                                id="status"
                                                ng-options="opt.id as opt.value for opt in $ctrl.serverConstants.data.status_hashes"
                                                ng-model="$ctrl.contact.status">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select chosen
                                                disable-search="true"
                                                allow-single-deselect="true"
                                                class="form-control"
                                                data-placeholder-text-single="'Curr.' | translate"
                                                ng-options="pc.code as pc.code_symbol_string for pc in $ctrl.serverConstants.data.pledge_currencies"
                                                ng-model="$ctrl.contact.pledge_currency">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="number"
                                               class="form-control"
                                               placeholder="0"
                                               ng-model="$ctrl.contact.pledge_amount" />
                                    </div>
                                    <div class="col-xs-4">
                                        <select chosen
                                                disable-search="true"
                                                allow-single-deselect="true"
                                                class="form-control"
                                                data-placeholder-text-single="'Freq.' | translate"
                                                ng-options="opt.key as opt.value for opt in $ctrl.serverConstants.data.pledge_frequency_hashes"
                                                ng-model="$ctrl.contact.pledge_frequency">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" ng-if="$ctrl.contact.last_six_donations.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th ng-repeat="donation in $ctrl.contact.last_six_donations">
                                        {{donation.donation_date | date : $ctrl.locale.dateTimeFormat }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-repeat="donation in $ctrl.contact.last_six_donations">
                                        {{donation.currency}}{{donation.amount | number : 0}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-gray btn-block" ng-click="$ctrl.save()">
            <i class="fa fa-check-circle"></i> <translate>Confirm</translate>
        </button>
        <button class="btn btn-default btn-block" ng-click="$ctrl.reject()" translate>
            Don't Change
        </button>
    </div>
</div>
