<modal>
    <modal-header title="Finish Task" on-close="$hide"></modal-header>
    <form class="modal-body" name="logTaskForm" ng-submit="$ctrl.submit()" novalidate>
        <div class="form-group" ng-if="$ctrl.constants.results[ $ctrl.taskAction ]">
            <label for="result">Result</label>
            <select chosen
                    required
                    disable-search="true"
                    class="form-control"
                    id='result'
                    ng-options="opt for opt in $ctrl.constants.results[ $ctrl.taskAction ]"
                    ng-model="$ctrl.models.result">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group" ng-if="$ctrl.constants.nextActions[ $ctrl.taskAction ]">
            <label for="nextActions">Next Action</label>
            <select chosen
                    disable-search="true"
                    class="form-control"
                    id='nextActions'
                    ng-options="opt for opt in $ctrl.constants.nextActions[ $ctrl.taskAction ]"
                    ng-model="$ctrl.models.nextAction">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>
            <input class="form-control" id='comment' ng-model="$ctrl.models.comment"/>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="logTaskForm.$invalid" translate>Save</button>
            <button type="button" class="btn btn-default" ng-click="$hide()" translate>Close</button>
        </div>
    </form>

</modal>
