<h3 translate>Notifications</h3>
<p translate>
    Based on an analysis of a partner's giving history, MPDX can notify you
    of events that you will probably want to follow up on. The detection logic
    is based on a set of rules that are right most of the time, but you will
    still want to verify an event manually before contacting the partner.
</p>
<p translate>
    For each event MPDX can notify you via email and also create a task entry
    reminding you to do something about it. The options below allow you to
    control that behavior.
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10" translate>
                Select the types of notifications you'd like to receive
            </div>
            <div class="col-sm-1 text-center p-0">
                <i class="far fa-envelope"></i>
                <br>
                <small translate>Email</small>
            </div>
            <div class="col-sm-1 text-center p-0">
                <i class="fas fa-tasks"></i>
                <br>
                <small translate>Task</small>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="notificationPreference in $ctrl.notificationPreferences">
            <div class="row">
                <div class="col-sm-10">
                    {{ notificationPreference.title }}
                </div>
                <div class="col-sm-1 text-center">
                    <input type="checkbox" ng-model="notificationPreference.email" autofocus="$index == 0">
                </div>
                <div class="col-sm-1 text-center">
                    <input type="checkbox" ng-model="notificationPreference.task">
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-body" ng-if="$ctrl.notificationPreferences.length == 0 && $ctrl.loading">
        <div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
          <i class="far fa-circle-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
        </div>
    </div>
    <div class="panel-footer text-right">
        <a ng-click="$ctrl.save()" ng-disabled="$ctrl.loading" class="btn btn-primary">
            <translate>Save</translate>
        </a>
    </div>
</div>
