<div class="panel panel-default" block-ui="care">
    <div class="panel-heading">
        <div translate>Care</div>
        <button class="btn btn-default" bs-dropdown translate>Actions <i class="far fa-caret-down"></i></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="javascript:;" ng-click="$ctrl.addNewsletter()" translate>Log Newsletter</a></li>
            <li><a href="javascript:;" ng-click="$ctrl.exportEmail()" translate>Export Email</a></li>
            <li><a href="javascript:;" ng-click="$ctrl.exportPhysical()" translate>Export Physical</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <birthdays></birthdays>
        <anniversaries></anniversaries>
        <newsletters></newsletters>
    </div>
</div>
