<div class="field row">
    <div class="col-xs-4">
        {{ $ctrl.address.source || 'MPDX' | sourceToStr }}
        <span class="text-muted" ng-if="::$ctrl.address.created_at">({{ ::$ctrl.address.created_at | localize }})</span>
    </div>
    <div class="col-xs-2 text-center">
        <span class="fa-stack" ng-click="$ctrl.setPrimary()" ng-if="::$ctrl.address">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-circle fa-stack-1x" ng-if="::$ctrl.address.primary_mailing_address"></i>
        </span>
    </div>
    <div class="col-xs-5">
        <input class="form-control" name="number" ng-value="$ctrl.addressSummary()" ng-click="$ctrl.contacts.openAddressModal($ctrl.contact, $ctrl.address)">
    </div>
    <div class="col-xs-1">
        <button ng-click="$ctrl.remove()" class="btn btn-link btn-xs" title="{{ ::'Locked' | translate }}" ng-if="::$ctrl.address && $ctrl.address.source !== 'MPDX'" disabled>
            <i class="fa fa-lock"></i>
        </button>
        <button ng-click="$ctrl.remove()" class="btn btn-danger btn-xs" title="{{ ::'Delete' | translate }}" ng-if="::$ctrl.address && $ctrl.address.source === 'MPDX'">
            <i class="fa fa-trash"></i>
        </button>
        <button ng-click="$ctrl.contacts.openAddressModal($ctrl.contact, $ctrl.address)" class="btn btn-xs btn-default" title="{{ ::'Add' | translate }}" ng-if="!$ctrl.address">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
