<div class="row">
    <div class="col-xs-10">
        <div class="item">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <img class="avatar small img-circle" ng-src="{{$ctrl.contact.avatar | stripMpdx}}">
                </div>

                <div class="col-xs-10 col-md-11 info">
                    <h5 class="name">{{$ctrl.contact.name}}</h5>

                    <div class="items">
                        <div class="row">
                            <div class="col-xs-3">
                                <label translate>Source</label>
                            </div>
                            <div class="col-xs-2 text-center">
                                <label translate>Set As Primary</label>
                            </div>
                        </div>
                        <div ng-repeat="address in $ctrl.contact.addresses | filter: {_destroy: '!1'}" name="addresses">
                            <fix-mailing-address-item-address contact="$ctrl.contact" address="address" on-primary="$ctrl.changePrimary(address.id)"></fix-mailing-address-item-address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-2">
        <button class="btn btn-gray btn-block confirm-item" ng-click="$ctrl.save()">
            <i class="fa fa-check-circle"></i> <translate>Confirm</translate>
        </button>
    </div>
</div>

