@import 'item/item';
@import 'map/map';
$search-bar-width: 275px;
contacts-list {
    @extend .lists;
    display: grid;
    height: calc(100vh - 130px); // calc needed for safari
    overflow: hidden;
    grid-template-rows: auto auto 1fr;
    > div.menu {
        @extend .lists.item-list-menu;
        grid-column-gap: 10px;
        grid-template-columns: 1fr auto $search-bar-width;
        grid-column: 1;
        grid-row: 1;
        @media (max-width: $contact-menu-breakpoint) {
            grid-row-gap: 5px;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr 1fr;
        }
        > .selected-count {
            display: grid;
            color: $color-white;
            grid-column-gap: 15px;
            grid-template-rows: 1fr 0;
            grid-template-columns: auto 1fr; // 0 row for odd chrome display
            grid-column: 1;
            @media (max-width: $contact-menu-breakpoint) {
                grid-row: 2;
                grid-column: 1;
            }
            .dropdown {
                grid-row: 1;
                grid-column: 1;
            }
            .count {
                font-size: $font-size-sm;
                line-height: 33px;
                white-space: nowrap;
                grid-row: 1;
                grid-column: 2;
            }
        }
        > .search-bar {
            @extend .lists.item-list-menu.search-bar;
            width: $search-bar-width;
            @media (max-width: $contact-menu-breakpoint) {
                width: 100%;
                grid-column: 1 / span 2;
            }
            .input-group-addon {
                padding-right: 0;
                background-color: $color-white;
            }
            input {
                border-left-width: 0;
            }
        }
        > div.menu-buttons {
            @extend .lists.item-list-menu.menu-buttons;
            display: grid;
            grid-template-columns: 1fr auto;
            @media (max-width: $contact-menu-breakpoint) {
                width: 100%;
                grid-row: 2;
                grid-column: 2;
            }
            .show-small {
                @media (min-width: $contact-menu-breakpoint) {
                    display: none;
                }
            }
        }
    }
    > div.sub-menu {
        @extend .lists.item-list-sub-menu;
        grid-row: 2;
        grid-column: 1;
    }
    > div.content {
        @extend .lists.content;
        grid-row: 3;
        grid-column: 1;
        .list-group-item {
            padding: 0;
        }
    }
}
