<div class="columns columns--fixed">
    <div class="column column--heading filter--heading">
        <alerts padding-only="true"></alerts>
        <div class="page-filters">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <contacts-list-search></contacts-list-search>
                </div>
                <div class="col-md-7 col-sm-7 text-right">
                    <div class="btn-group">
                        <div class="btn-group">
                            <div class="dropdown">
                                <a class="btn btn-default dropdown-toggle" bs-dropdown type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span  translate>Actions</span> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="action-drop" ng-show="$ctrl.contacts.selectedContacts.length > 0">
                                    <li><a ng-click="$ctrl.contacts.openAddTagModal($ctrl.contacts.selectedContacts)" translate>Add Tags</a></li>
                                    <li><a ng-click="$ctrl.openRemoveTagModal()" translate>Remove Tags</a></li>
                                    <li><a ng-click="$ctrl.openAddTaskModal()" translate>Add Task</a></li>
                                    <li><a ng-click="$ctrl.tasks.logModal($ctrl.contacts.selectedContacts)" translate>Log Task</a></li>
                                    <li><a ng-click="$ctrl.openEditFieldsModal()" translate>Edit Fields</a></li>
                                    <li ng-click="$ctrl.bulkHideContacts()"><a translate>Hide Contacts</a></li>
                                    <li><a ng-click="$ctrl.openMapContactsModal()" translate>Map Contacts</a></li>
                                </ul>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="action-drop" ng-if="$ctrl.contacts.selectedContacts.length === 0">
                                    <li class="dropdown-header" translate>Please select at least one contact by clicking anywhere on that contact to continue.</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-default" ng-click="$ctrl.openMergeContactsModal()" translate>
                            Merge
                        </a>
                        <a class="btn btn-default" ng-click="$ctrl.openExportContactsModal()" translate>
                            Export
                        </a>
                        <span class="btn btn-default" ng-click="$ctrl.toggleAllContacts()" translate>
                            Select All
                        </span>
                        <span class="btn btn-default visible-sm" ng-class="{ 'btn-reverse' : $ctrl.session.showFiltersOnMobile }" ng-click="$ctrl.session.showFiltersOnMobile = !$ctrl.session.showFiltersOnMobile">
                            <i class="fa fa-sliders"></i>
                            <translate>Filters</translate>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-controls">
            <div class="col-sm-12">
                <translate translate-params-from="$ctrl.data.length || 0"
                           translate-params-to="$ctrl.meta.pagination.total_count || 0">
                    Showing <strong>{{from}}</strong> of <strong>{{to}}</strong>
                </translate>
                <span class="label label-primary" ng-if="$ctrl.contacts.selectedContacts.length > 0">
                    {{$ctrl.contacts.selectedContacts.length}} <span translate>Selected</span>
                    <a href="javascript:;" class="label-action" ng-click="$ctrl.contacts.clearSelectedContacts()"><i class="fa fa-times"></i></a>
                </span>&nbsp;
                <small>
                    <a href="javascript:;"
                       ng-if="$ctrl.contacts.selectedContacts.length > 0 && $ctrl.contacts.selectedContacts.length < $ctrl.meta.pagination.total_count"
                       ng-click="$ctrl.selectAllContacts()">
                        <span translate translate-plural="Select all {{$count}} contacts" translate-n="::$ctrl.meta.pagination.total_count">Select 1 contact</span>
                    </a>
                </small>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="blankslate blankslate-spacious" ng-if="!$ctrl.meta.to && !$ctrl.loading">
            <i class="fa fa-home blankslate-icon"></i>
            <div ng-if="$ctrl.totalContactCount > 0">
                <h3 translate translate-plural="You have {{$count}} total contacts" translate-n="::$ctrl.totalContactCount">You have 1 total contact</h3>
                <p translate>Unfortunately none of them match your current search or filters.</p>
                <a ng-click="$ctrl.contactFilter.reset()" class="btn btn-default" translate>Reset All Search Filters</a>
                <a ng-click="$ctrl.contacts.openNewContactModal()" class="btn btn-primary" translate>Add New Contact</a>
            </div>
            <div ng-if="$ctrl.totalContactCount === 0">
                <h3 translate>Looks like you haven't added any contacts yet</h3>
                <p translate>You can import contacts from another service or add a new contact.</p>
                <a ui-sref="tools({setup: true})" class="btn btn-default" translate>Import Contacts</a>
                <a ng-click="$ctrl.contacts.openNewContactModal()" class="btn btn-primary" translate>Add New Contact</a>
            </div>
        </div>
        <div ng-if="$ctrl.data.length > 0 || $ctrl.loading" infinite-scroll="$ctrl.loadMoreContacts()">
            <contacts-list-item ng-repeat="contact in $ctrl.data track by contact.id" hide="$ctrl.hideContact(contact)"
                                contact="contact"
                                id="contact_{{::contact.id}}"
                                data-hook="contact"
                                selected="$ctrl.selected"
                                ng-class="{ selected: $ctrl.allSelected || $ctrl.contacts.isSelected(contact.id) }"></contacts-list-item>
            <div class="blankslate blankslate-spacious" ng-if="$ctrl.loading">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw blankslate-icon blankslate-loading"></i>
            </div>
        </div>
    </div>
</div>
