.contact_drawer_inner contacts-list {
    border: 1px solid $color-menu-border;
    border-top-width: 0;
    display: block;
    overflow: auto;
    .contacts-empty {
        text-align: center;
        padding: 10px 10px;
        .btn {
            display: block;
            margin-bottom: 10px;
        }
    }
}
