contacts-list {
  .contacts-per-page{
    width: auto;
    display: inline;
  }
}

#export_modal .excel_export {
  border-top: solid 1px $gray_mid;
  margin-top: 25px;
  padding: 20px;
}

.contact_drawer_inner contacts-list {
  border: 1px solid $border;
  border-top-width: 0;
  display: block;
  max-height: 415px;
  overflow: auto;
  .contacts-empty {
    text-align: center;
    padding: 10px 10px;
    .btn {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        position: relative;
        .empty-map {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          z-index: 10;
          height: 200px;
          line-height: 200px;
          text-align: center;
          font-size: 75px;
          background-color: #3a3a3a;
          color: #fff;
        }
        ng-map {
          margin: -15px -15px 15px -15px;
          > div {
            min-height: 200px;
          }
          &:first-child {
            margin-top: -15px;
          }
        }
      }
      border-radius: 0;
    }
    .modal-header {
      min-height: 56px;
      a.close {
        line-height: 25px;
        font-size: 25px;
      }
    }
    &.modal-small {
      max-width: 400px;
    }
    .row {
      margin: 0;
      [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .form-control[type="text"] {
      border-radius: 0;
      border-color: #979797;
      padding: 6px;
      &:focus {
        border-color: rgb(0, 115, 152);
      }
    }
  }

  #contacts-map{
    margin-right: 188px;
  }

  #contacts_map_modal{
    height: 390px;
    .contacts-map-markers{
      top: 20px;
    }
  }

  .excel_export{
    margin-top: 17px;
  }
}
