
<div>
  <span class="filter--filtergroup_title" translate>Sort</span>
</div>
<ul class="filter--filtergroup_sort list-unstyled">
  <li ng-class="{'selected': vm.tasksService.sort === 'all'}" class="option">
    <a class="inbox " ng-click="vm.tasksService.sort = 'all'" translate>All</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'today'}" class="option">
    <a class="inbox" ng-click="vm.tasksService.sort = 'today'" translate>Today</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'overdue'}" class="option">
    <a class="inbox" ng-click="vm.tasksService.sort = 'overdue'" translate>Overdue</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'upcoming'}" class="option">
    <a class="inbox" ng-click="vm.tasksService.sort = 'upcoming'" translate>Upcoming</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'noDate'}" class="option">
    <a class="inbox" ng-click="vm.tasksService.sort = 'noDate'" translate>No Due Date</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'starred'}" class="option">
    <a class="starred" ng-click="vm.tasksService.sort = 'starred'" translate>Starred</a>
  </li>
  <li ng-class="{'selected': vm.tasksService.sort === 'history'}" class="option">
    <a class="completed" ng-click="vm.tasksService.sort = 'history'" translate>History</a>
  </li>
</ul>
