<a ng-click="$ctrl.resetFiltersAndTags()" class="btn btn-primary btn-xs btn-block btn-filter-left ng-cloak"
   ng-show="$ctrl.showReset()" analytics-on analytics-event="Reset Filters" analytics-category="Tasks Events" analytics-label="Filter">
    <i class="fa fa-undo"></i> <span translate>Reset Filters</span>
</a>

<div class="filter">
    <tasks-sort class="filter--filtergroup"></tasks-sort>
    <tasks-tags class="filter--filtergroup"></tasks-tags>
    <div class="filter--filtergroup">
        <form ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
            <span class="filter--filtergroup_title ci ci-filter_icon" translate><i class="fa fa-sliders"></i> Filters</span>
            <div class="filter_hint">
                <span  translate>Click the</span>
                <i class="ci ci-neg_filter_icon"></i>
                <span translate>to look up all tasks who do not have that filter.</span>
            </div>
            <ul class="filter--filtergroup_filters list-unstyled">
                <li class="filter_set" ng-repeat="filter in $ctrl.tasksFilter.data | orderBy: 'id'" ng-class="{ 'opened': filter.opened }">
                    <label id="filter_{{filter.name}}" class="filter_title" ng-click="filter.opened = !filter.opened">{{filter.title}}</label>
                    <div class="filter_set_inner">
                        <div ng-if="filter.type == 'container'" ng-repeat="child in filter.children | orderBy: 'priority'">
                            <div class="filter_multiselect" ng-if="child.type == 'multiselect'">
                                <label>
                                    {{child.title}}
                                    <a class="filter_invert_multiselect" ng-click="$ctrl.invertMultiselect(child)" title="{{ 'Invert' | translate }}">
                                        <i class="ci ci-neg_filter_icon"></i>
                                    </a>
                                </label>
                                <select class="form-control" ng-options="item.id as item.name for item in child.options" ng-model="$ctrl.tasksFilter.params[child.name]" ng-change="$ctrl.tasksFilter.change()" multiple></select>
                            </div>
                            <div class="filter_radio" ng-if="child.type == 'radio'">
                                {{child.title}}
                                <label ng-repeat="option in child.options">
                                    <input id="_" name="{{child.name}}" type="radio" value="{{option.id}}" ng-model="$ctrl.tasksFilter.params[child.name]" ng-change="$ctrl.tasksFilter.change()">
                                    {{option.name}}
                                </label>
                            </div>
                            <label ng-if="child.type == 'single_checkbox'">
                                <input name="{{child.name}}" type="checkbox" ng-model="$ctrl.tasksFilter.params[child.name]" ng-change="$ctrl.tasksFilter.change()"> {{child.title}}
                            </label>
                            <div class="filter_dates" ng-if="child.type == 'dates'">
                                <label ng-repeat="option in child.options">
                                    {{option.name}}<br>
                                    <input bs-datepicker
                                           ng-model="$ctrl.tasksFilter.params[child.name][option.id]"
                                           placeholder="{{ 'None' | translate }}"
                                           ng-change="$ctrl.tasksFilter.change()">
                                </label>
                            </div>
                            <div class="filter_dates" ng-if="child.type == 'daterange'">
                                <label>
                                    {{child.title}}<br>
                                    <tasks-filter-daterange
                                        model="$ctrl.tasksFilter.params[child.name]"
                                        locale="$ctrl.dateRangeLocale"
                                        custom-options="child.options"
                                        on-change="$ctrl.tasksFilter.change()">
                                    </tasks-filter-daterange>
                                </label>
                            </div>
                            <div class="filter_text" ng-if="child.type == 'text'">
                                <label ng-repeat="option in child.options">
                                    {{option.name}}<br>
                                    <input class="form-control" name="{{child.name}}" type="text" ng-model="$ctrl.tasksFilter.params[child.name][option.id]" placeholder="{{option.placeholder}}" ng-change="$ctrl.tasksFilter.change()">
                                </label>
                            </div>
                        </div>
                        <div class="filter_multiselect" ng-if="filter.type == 'multiselect'">
                            <label>
                                <a class="filter_invert_multiselect" ng-click="$ctrl.invertMultiselect(filter)" title="{{ 'Invert' | translate }}">
                                    <i class="ci ci-neg_filter_icon"></i>
                                </a>
                            </label>
                            <select class="form-control"  ng-options="item.id as item.name for item in filter.options" ng-model="$ctrl.tasksFilter.params[filter.name]" ng-change="$ctrl.tasksFilter.change()" multiple></select>
                        </div>
                        <div class="filter_radio" ng-if="filter.type == 'radio'">
                            <label ng-repeat="option in filter.options">
                                <input name="{{filter.name}}" type="radio" value="{{option.id}}" ng-model="$ctrl.tasksFilter.params[filter.name]" ng-change="$ctrl.tasksFilter.change()">
                                {{option.name}}
                            </label>
                        </div>
                        <label ng-if="filter.type == 'single_checkbox'">
                            <input name="{{filter.name}}" type="checkbox" ng-model="$ctrl.tasksFilter.params[filter.name]" ng-change="$ctrl.tasksFilter.change()"> {{filter.title}}
                        </label>
                        <div class="filter_dates" ng-if="filter.type == 'dates'">
                            <label ng-repeat="option in filter.options">
                                {{option.name}}<br>
                                <input bs-datepicker
                                       ng-model="$ctrl.tasksFilter.params[filter.name][option.id]"
                                       placeholder="{{ 'None' | translate }}"
                                       ng-change="$ctrl.tasksFilter.change()">
                            </label>
                        </div>
                        <div class="filter_dates" ng-if="filter.type == 'daterange'">
                            <tasks-filter-daterange
                                model="$ctrl.tasksFilter.params[filter.name]"
                                locale="{ applyLabel: '{{ 'Filter' | translate }}', cancelLabel: '{{ 'Clear' | translate }}' }"
                                custom-options="filter.options"
                                on-change="$ctrl.tasksFilter.change()">
                            </tasks-filter-daterange>
                        </div>
                        <div class="filter_text" ng-if="filter.type == 'text'">
                            <label ng-repeat="option in filter.options">
                                {{option.name}}<br>
                                <input class="form-control" name="{{filter.name}}" type="text" ng-model="$ctrl.tasksFilter.params[filter.name][option.id]" placeholder="{{option.placeholder}}" ng-change="$ctrl.tasksFilter.change()">
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
