<cover>
    <div class="panel">
        <div class="panel-heading">
            <img src="../../images/setup/icon_alert_2x.png" />
            <translate ng-if="$ctrl.users.organizationAccounts.length === 0">It's time to connect!</translate>
            <translate ng-if="$ctrl.users.organizationAccounts.length > 0">It's time for awesome!</translate>
        </div>
        <div class="panel-body text-center">
            <div ng-if="$ctrl.users.organizationAccounts.length === 0">
                <h2 translate>First, connect your organization to your MPDX account.</h2>
                <p>This will allow MPDX to automatically synchronize your donation information.</p>
            </div>
            <div ng-if="$ctrl.users.organizationAccounts.length > 0">
                <h2 translate>Sweet! You're connected.</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="account in $ctrl.users.organizationAccounts">{{account.organization.name}}</li>
                </ul>
                <p><a ng-click="$ctrl.next()" class="btn btn-block btn-primary">
                    <translate>Hooray! Take me into MPDX</translate>
                    <i class="fa fa-angle-right"></i>
                </a></p>
                <h3 translate>Do you receive donations in any other country or from any other organizations?</h3>
                <p translate>Now would be a great time to connect them to your MPDX Account. Don't worry, you can always add them in later.</p>
            </div>
            <div class="text-left">
                <label for="organization" class="hide-desktop" translate>Organization</label>
                <select ng-model="$ctrl.organization" id="organization" ng-options="key as val for (key, val) in $ctrl.serverConstants.data.organizations" chosen>
                    <option value=""></option>
                </select>
                <div ng-if="$ctrl.connecting" class="row">
                    <div class="col-xs-6">
                        <label for="username" translate>Username</label>
                        <input type="text" class="form-control" id="username" ng-model="$ctrl.username">
                    </div>
                    <div class="col-xs-6">
                        <label for="password" translate>Password</label>
                        <input type="password" class="form-control" id="password" ng-model="$ctrl.password">
                    </div>
                </div>
            </div>
            <div class="panel__connect-links">
                <a ng-click="$ctrl.reset()" class="btn btn-gray btn-sm pull-left" ng-if="$ctrl.connecting" translate>Cancel</a>
                <a ng-click="$ctrl.connect()" class="btn btn-primary btn-sm" ng-if="!$ctrl.connecting" translate>Connect</a>
                <a ng-click="$ctrl.add()" class="btn btn-primary btn-sm pull-right" ng-if="$ctrl.connecting" translate>Add Account</a>
            </div>
        </div>
    </div>
</cover>
