contact-details {
    display: block;
    height: 100%;
    width: 100%;
    h3 {
        margin-top: 0;
    }
    h5 {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    .inline-input {
        tags-input {
            .tags {
                border: 0;
                border-radius: 0;
                border-bottom: 1px dashed #979797;
                .input {
                    padding-left: 0;
                    font-size: 14px;
                }
            }
            .autocomplete {
                border-radius: 0;
            }
        }
    }
    label {
        @extend h4;
        font-size: 12px;
        margin-bottom: 3px;
        text-transform: uppercase;
        font-weight: bold;
        color: #9B9B9B;
    }
    .financial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .communication {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        > div.tags {
            grid-column: 1 / span 2;
        }
        .collection-selector {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 10px;
        }
    }
    .other {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .partner-accounts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        h5 {
            margin-top: 0;
        }
        > div {
            justify-self: right;
        }
    }
}


.repeat-row-group {
  .row-group {
    background: #eee;
    padding: 8px 8px 0px 8px;
    &:last-of-type {
      padding-bottom: 8px;
    }
    .form-group {
      margin-bottom: 5px;
    }
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}
