<h5 translate>Financial</h5>
<div class="financial">
    <div class="commitment">
        <div>
            <label translate>Commitment Received</label>
            <div class="inline-input">
                <select chosen
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        id="pledge_received"
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        ng-options="o.key as o.value for o in $ctrl.translations.pledge_received"
                        ng-model="$ctrl.contact.pledge_received">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div>
            <label translate>Commitment Start Date</label>
            <div class="inline-input">
                <input bs-datepicker
                       type="text"
                       ng-model="$ctrl.contact.pledge_start_date"
                       ng-change="$ctrl.save()"
                       data-autoclose="true"
                       data-date-type="string"
                       data-date-format="{{$ctrl.locale.dateTimeFormat}}"
                       data-model-date-format="yyyy-MM-dd">
            </div>
        </div>
    </div>
    <div class="donations">
        <div>
            <label translate>Last Donation</label>
            <div class="static-field">
                <div class="content">{{$ctrl.last_donation}}</div>
            </div>
        </div>
        <div>
            <label translate>Giving Method</label>
            <div class="static-field">
                <div class="content">{{$ctrl.giving_method}}</div>
            </div>
        </div>
    </div>
    <div class="donations">
        <div>
            <label translate>Lifetime Donations</label>
            <div class="static-field">
                <div class="content">{{$ctrl.lifetime_donations}}</div>
            </div>
        </div>
        <div ng-if="$ctrl.showGiftAid()">
            <label translate>Gift Aid?</label>
            <div class="inline-input">
                <select chosen
                        required
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        disable-search="true"
                        data-placeholder-text-single="'Select an Option' | translate"
                        class="form-control"
                        ng-model="$ctrl.contact.no_gift_aid"
                        ng-options="o.key as o.value for o in $ctrl.translations.no_gift_aid">
                </select>
            </div>
        </div>
    </div>
</div>

<h5 translate>Communications</h5>
<div class="communication">
    <div>
        <label for="envelope" translate>Envelope Name Line</label>
            <textarea id="envelope"
                msd-elastic
                class="form-control"
                rows="2"
                ng-model="$ctrl.contact.envelope_greeting"
                placeholder="{{ 'Mr. J Smith' | translate }}"
                ng-change="$ctrl.save()"
                ng-model-options="{ debounce: 1000 }"></textarea>
    </div>
    <div>
        <label for="greeting" translate>Greeting (used in export)</label>
            <textarea id="greeting"
                msd-elastic
                class="form-control"
                rows="2"
                ng-model="$ctrl.contact.greeting"
                ng-change="$ctrl.save()"
                ng-model-options="{ debounce: 1000 }"></textarea>
    </div>
    <div class="referred-by">
        <label translate>Referred By</label>
        <div class="collection-selector">
            <collection-selector item-name="{{ 'contact' | translate }}"
                                 display-text="$ctrl.referrerName"
                                 search="$ctrl.contacts.search(text)"
                                 select="$ctrl.onContactSelected(item)">
            </collection-selector>
            <a class="btn btn-xs btn-danger"
               ng-if="$ctrl.referrer"
               ng-click="$ctrl.removeReferrer()"
               title="{{ ::'Remove referrer' | translate }}">
                <i class="far fa-trash trash"></i>
            </a>
        </div>
    </div>
    <div>
        <label translate>Send Appeals?</label>
        <div class="inline-input">
            <select chosen
                    required
                    ng-change="$ctrl.save()"
                    ng-model-options="{ debounce: 1000 }"
                    disable-search="true"
                    data-placeholder-text-single="'Select an Option' | translate"
                    class="form-control"
                    ng-model="$ctrl.contact.no_appeals"
                    ng-options="o.key as o.value for o in $ctrl.translations.no_appeals">
            </select>
        </div>
    </div>
    <div>
        <label translate>Language</label>
        <div class="inline-input">
            <select chosen
                    required
                    ng-change="$ctrl.saveWithEmptyCheck('locale')"
                    ng-model-options="{ debounce: 1000 }"
                    data-placeholder-text-single="'Select an Option' | translate"
                    class="form-control"
                    id="locale"
                    ng-options="option.alias as option.value for option in $ctrl.languages"
                    allow-single-deselect="true"
                    ng-model="$ctrl.contact.locale" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div>
        <label translate>Timezone</label>
        <div class="inline-input">
            <select chosen
                    required
                    ng-change="$ctrl.save()"
                    ng-model-options="{ debounce: 1000 }"
                    data-placeholder-text-single="'Select an Option' | translate"
                    class="form-control"
                    id="timezone"
                    ng-options="timeZone.key as timeZone.value for timeZone in $ctrl.timeZone.data"
                    allow-single-deselect="true"
                    ng-model="$ctrl.contact.timezone">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="tags">
        <label translate>Tags</label>
        <div class="inline-input">
            <tag-selector ng-model="$ctrl.contact.tag_list"
                          tag-list="$ctrl.contactsTags.data"
                          on-tag-added="$ctrl.save()"
                          on-tag-removed="$ctrl.save()">
            </tag-selector>
        </div>
    </div>
</div>

<h5 translate>Other Details</h5>
<div class="other">
    <div>
        <label translate>Church</label>
        <div class="inline-input">
            <input type="text"
                   ng-model="$ctrl.contact.church_name"
                   ng-model-options="{ debounce: 1000 }"
                   ng-change="$ctrl.save()">
        </div>
    </div>
    <div>
        <label translate>Next Ask</label>
        <div class="static-field">
            <div class="content">
                <span ng-if="$ctrl.contact.next_ask">{{ $ctrl.contact.next_ask | localize }}</span>
                <span ng-if="!$ctrl.contact.next_ask" translate>N/A</span>
            </div>
            <div class="actions">
            <button bs-datepicker
                        type="button"
                        class="btn btn-xs btn-primary"
                        ng-model="$ctrl.contact.next_ask"
                        ng-change="$ctrl.save()"
                        ng-model-options="{ debounce: 1000 }"
                        data-autoclose="true"
                        data-date-type="string"
                        data-date-format="{{$ctrl.locale.dateTimeFormat}}"
                        data-placement="top-right"
                        data-model-date-format="yyyy-MM-dd">
                    <i class="fas fa-calendar"></i>
                </button>
                <button class="btn btn-xs btn-danger"
                        type="button"
                        ng-click="$ctrl.removeNextAsk()"
                        ng-if="$ctrl.contact.next_ask"
                        title="{{ ::'Remove Next Ask' | translate }}">
                    <i class="far fa-trash trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div>
        <label translate>Website</label>
        <div class="inline-input">
            <input type="text"
                   ng-model="$ctrl.contact.website"
                   ng-model-options="{ debounce: 1000 }"
                   ng-change="$ctrl.save()">
        </div>
    </div>
    <div>
        <label translate>Magazine</label>
        <div class="inline-input disabled">
            <select chosen
                    ng-change="$ctrl.save()"
                    ng-model-options="{ debounce: 1000 }"
                    disable-search="true"
                    class="form-control"
                    id="magazine"
                    ng-model="$ctrl.contact.magazine"
                    ng-options="o.key as o.value for o in $ctrl.translations.magazine">
            </select>
        </div>
    </div>
</div>

<div class="partner-accounts">
    <h5 translate>Partner Accounts</h5>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.addPartnerAccount()">
        <i class="fas fa-plus-circle"></i> <translate>Add Partner Account</translate>
    </button>
</div>
<contact-donor-account ng-repeat="donorAccount in $ctrl.contact.donor_accounts"
                       contact="$ctrl.contact"
                       donor-account="donorAccount"
                       on-save="$ctrl.contacts.saveCurrent()"></contact-donor-account>
<div class="blankslate ng-scope" ng-if="$ctrl.contact.donor_accounts.length === 0">
    <i class="fas fa-money-bill-alt blankslate-icon"></i>
    <h3 translate="">No partner accounts added to this contact</h3>
    <a ng-click="$ctrl.addPartnerAccount()" class="btn btn-default" translate="">Add Partner Account</a>
</div>

<div class="delete-container">
    <button ng-click="$ctrl.remove()"
            type="button"
            title="{{'Delete Contact' | translate}}"
            class="btn btn-danger">Delete Contact</button>
</div>
