<div class="placeholders hidden">
    <div class="placeholder detail">
        <div class="row">
            <div class="col-sm-4">
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-short text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-long text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-medium text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-shorter text-thin"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-long text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-short text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-short text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-medium text-thin"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-long text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-short text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-short text-thin"></div>
                </div>
                <div class="field border-bottom">
                    <div class="text text-primary text-tiny text-thin"></div>
                    <div class="text text-secondary text-medium text-thin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="fieldset">
            <h3 translate>Financial</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Last Donation</h4>
                        <div class="inline-input disabled">
                            <input type="text" value="{{$ctrl.last_donation}}" readonly />
                            <a class="tip" data-trigger="hover" data-content="{{ 'This field is updated live from donation services and cannot be edited directly here' | translate }}" data-placement="top" bs-popover><i class="fa fa-lock"></i></a>
                        </div>
                    </div>
                    <div class="field">
                        <h4 class="attribute-header" translate>Giving Method</h4>
                        <div class="inline-input disabled">
                            <input type="text" value="{{$ctrl.giving_method}}" readonly />
                            <a class="tip" data-trigger="hover" data-content="{{ 'This field is updated live from donation services and cannot be edited directly here' |  translate }}" data-placement="top" bs-popover><i class="fa fa-lock"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Lifetime Donations</h4>
                        <div class="inline-input disabled">
                            <input type="text" value="{{$ctrl.lifetime_donations}}" readonly />
                            <a class="tip" data-trigger="hover" data-content="{{ 'This field is updated live from donation services and cannot be edited directly here' | translate }}" data-placement="top" bs-popover><i class="fa fa-lock"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldset">
            <h3 translate>Communications</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Referred By</h4>
                        <contact-selector contact-name="$ctrl.referrerName" return-fn="$ctrl.onContactSelected($params)"></contact-selector>
                    </div>
                    <div class="field">
                        <h4 class="attribute-header" translate>Send Appeals?</h4>
                        <div class="inline-input">
                            <select chosen
                                    required
                                    ng-change="$ctrl.save()"
                                    ng-model-options="{ debounce: 1000 }"
                                    disable-search="true"
                                    data-placeholder-text-single="'Select an Option' | translate"
                                    class="form-control"
                                    id="status"
                                    ng-model="$ctrl.contact.no_appeals"
                                    ng-options="o.key as o.value for o in [{key: false, value: 'Yes'},{key: true, value: 'No'}]">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Language</h4>
                        <div class="inline-input">
                            <select chosen
                                    required
                                    ng-change="$ctrl.saveWithEmptyCheck('locale')"
                                    ng-model-options="{ debounce: 1000 }"
                                    data-placeholder-text-single="'Select an Option' | translate"
                                    class="form-control"
                                    id="locale"
                                    ng-options="option.alias as option.value for option in $ctrl.languages"
                                    allow-single-deselect="true"
                                    ng-model="$ctrl.contact.locale" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fieldset">
            <div class="col-sm-12 ">
                <h4 class="attribute-header" translate>Tags</h4>
                <div class="inline-input">
                    <tag-selector ng-model="$ctrl.contact.tag_list" tag-list="$ctrl.contactsTags.data" on-tag-added="$ctrl.save()" on-tag-removed="$ctrl.save()"></tag-selector>
                </div>
            </div>
        </div>

        <div class="fieldset">
            <h3 translate>Other Details</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Church</h4>
                        <div class="inline-input disabled">
                            <input type="text" ng-model="$ctrl.contact.church_name" ng-model-options="{ debounce: 1000 }" ng-change="$ctrl.save()">
                        </div>
                    </div>
                    <div class="field">
                        <h4 class="attribute-header" translate>Website</h4>
                        <div class="inline-input disabled">
                            <input type="text" ng-model="$ctrl.contact.website" ng-model-options="{ debounce: 1000 }" ng-change="$ctrl.save()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="field">
                        <h4 class="attribute-header" translate>Magazine</h4>
                        <div class="inline-input disabled">
                            <select chosen
                                    ng-change="$ctrl.save()"
                                    ng-model-options="{ debounce: 1000 }"
                                    disable-search="true"
                                    class="form-control"
                                    id="magazine"
                                    ng-model="$ctrl.contact.magazine"
                                    ng-options="o.key as o.value for o in [{key: true, value: 'Yes'},{key: false, value: 'No'}]">
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <h4 class="attribute-header" translate>Next Ask</h4>
                        <div class="inline-input">
                            <input bs-datepicker
                                   type="text"
                                   ng-model="$ctrl.contact.next_ask"
                                   ng-change="$ctrl.save()"
                                   ng-model-options="{ debounce: 1000 }"
                                   data-autoclose="true"
                                   data-date-type="string"
                                   data-date-format="{{$ctrl.locale.dateTimeFormat}}"
                                   data-model-date-format="yyyy-MM-dd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="fieldset">
            <h3 translate>Partner Accounts</h3>
            <contact-donor-account ng-repeat="donorAccount in $ctrl.contact.donor_accounts" contact="$ctrl.contact" donor-account="donorAccount" on-save="$ctrl.onSave()"></contact-donor-account>
            <div class="add-partner-account">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.addPartnerAccount()">
                    <i class="fa fa-plus-circle"></i> <translate>Add Partner Account</translate>
                </button>
            </div>
        </div>
        <div class="fieldset">
            <h3 translate>Addresses</h3>
            <div ng-repeat="address in $ctrl.contact.addresses track by address.id">
                <contact-address address="address" contact="$ctrl.contact" on-primary="$ctrl.onAddressPrimary(address.id)"></contact-address>
            </div>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.contacts.openAddressModal($ctrl.contact)">
                <i class="fa fa-plus-circle"></i> <translate>Add Address</translate>
            </button>
        </div>
    </div>
</div>
