contact-details {
    .inline-input {
        tags-input {
            .tags {
                border: 0;
                border-radius: 0;
                border-bottom: 1px dashed #979797;
                .input {
                    padding-left: 0;
                    font-size: 14px;
                }
            }
            .autocomplete {
                border-radius: 0;
            }
        }
    }
    .next-ask {
        margin-top: 8px;
        margin-left: 5px;
    }
}


.repeat-row-group {
  .row-group {
    background: #eee;
    padding: 8px 8px 0px 8px;
    &:last-of-type {
      padding-bottom: 8px;
    }
    .form-group {
      margin-bottom: 5px;
    }
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}
