<div class="panel panel-default">
    <div class="panel-heading">
        Map your values
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-6" translate>Your CSV value</th>
                <th class="col-md-6" translate>MPDX value</th>
            </tr>
        </thead>
        <tbody ng-repeat="(constant, obj) in $ctrl.importCsv.values_to_constants_mapping">
            <tr>

                <th>{{::$ctrl.fileHeader(constant)}}</th>
                <th>{{::$ctrl.serverConstants.data.csv_import.supported_headers[constant]}}</th>
            </tr>
            <tr ng-repeat="(key, value) in obj">
                <td class="text-left">{{key}}</td>
                <td class="text-left" ng-if="constant !== 'commitment_currency'">
                    <select chosen
                            class="form-control"
                            ng-model='$ctrl.importCsv.values_to_constants_mapping[constant][key]'
                            ng-options="item.id as item.value for item in $ctrl.serverConstants.data[$ctrl.serverConstants.data.csv_import.constants_from_top_level[constant]] track by item.id">
                        <option value="" translate>None</option>
                    </select>
                </td>
                <td class="text-left" ng-if="constant === 'commitment_currency'">
                    <select chosen
                            class="form-control"
                            ng-model='$ctrl.importCsv.values_to_constants_mapping[constant][key]'
                            ng-options="item.code as item.code_symbol_string for item in $ctrl.serverConstants.data[$ctrl.serverConstants.data.csv_import.constants_from_top_level[constant]] track by item.code">
                        <option value="" translate>None</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <button class="btn btn-reverse pull-left" ng-click="$ctrl.back()" translate>Back</button>
        <button class="btn btn-primary" ng-click="$ctrl.save()" translate>
            Next
        </button>
    </div>
</div>
