<ui-view>
    <div class="tools">
        <div class="row">
            <div class="col-sm-3">
                <validation-tools-sidebar fix-phone="$ctrl.fixPhone" fix-email-address="$ctrl.fixEmailAddress" fix-mailing-address="$ctrl.fixMailingAddress"></validation-tools-sidebar>
            </div>

            <div class="col-sm-9">
                <h1 translate>Bulk Fix Mailing Address</h1>

                <div block-ui="fix-mailing-address">
                    <div class="description">
                        <p ng-if="$ctrl.fixMailingAddress.meta.pagination.total_count" translate>
                            <strong>You have {{$ctrl.fixMailingAddress.meta.pagination.total_count}} mailing addresses to confirm.</strong><br>
                            Choose below which mailing address will be set as primary.
                            Primary mailing addresses will be used for Newsletter exports.
                        </p>

                        <p ng-if="!$ctrl.fixMailingAddress.meta.pagination.total_count && !$ctrl.fixMailingAddress.blockUI.isBlocking()" translate>
                            Great work! We weren't able to detect any more Mailing Addresses in your account needing reviewed.
                        </p>
                    </div>

                    <div class="bulk" ng-if="$ctrl.fixMailingAddress.meta.pagination.total_count">
                        <div>
                            <translate>Set all</translate>
                            <select style="display: inline" chosen
                                    required
                                    disable-search="true"
                                    allow-single-deselect="true"
                                    class="form-control"
                                    id="bulk_source"
                                    ng-options="opt for opt in $ctrl.serverConstants.data.sources.addresses"
                                    ng-model="$ctrl.bulkSource">
                            </select>
                            <translate>as Primary</translate>

                            <button class="btn btn-gray" ng-click="$ctrl.showBulkAlert = true">
                                <i class="fa fa-check-circle"></i> <translate>Confirm All {{$ctrl.bulkSource}}</translate>
                            </button>

                            <div class="pagination">
                                <span translate>
                                    Show:
                                </span>
                                <select
                                    ng-model="$ctrl.fixMailingAddress.perPage"
                                    ng-change="$ctrl.fixMailingAddress.page = 1; $ctrl.fixMailingAddress.load(true)"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty tasks-per-page form-inline">
                                    <option ng-repeat="i in [10, 25, 50, 100, 500]" value="{{i}}" ng-selected="$ctrl.fixMailingAddress.perPage == i">{{i}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="well" ng-if="$ctrl.showBulkAlert">
                            <p translate>You are confirming all selected {{$ctrl.bulkSource}} Contacts. Are you sure?</p>

                            <button class="btn btn-green" ng-click="$ctrl.bulkSave()">
                                <i class="fa fa-check-circle"></i> <translate>Yes</translate>
                            </button>

                            <button class="btn btn-gray" ng-click="$ctrl.showBulkAlert = false" translate>Cancel</button>
                        </div>
                    </div>

                    <div ng-if="$ctrl.fixMailingAddress.meta.pagination.total_count" infinite-scroll="$ctrl.fixMailingAddress.loadMore()">
                        <fix-mailing-address-item
                            ng-repeat="contact in $ctrl.fixMailingAddress.data"
                            ng-if="!contact.hidden"
                            contact="contact"
                            service="$ctrl.fixMailingAddress"></fix-mailing-address-item>
                    </div>

                    <hr ng-if="$ctrl.fixMailingAddress.meta.pagination.total_count">
                </div>
            </div>
        </div>
    </div>
</ui-view>
