.account-list-dropdown {
    min-width: 200px;
}

menu {
    .account-list-dropdown {
        .chosen-container {
            border-radius: 0;
            outline: none !important;
        }
    }
}
