<% @contact = exhibit(@contact, self) if @contact %>
<% account_list_exhibit = exhibit(current_account_list) %>
<% unless params[:page] %>
<div class="row page-controls" ng-if="$ctrl.startDate">
    <div class="col-md-8 col-sm-8">
        <a ui-sref="donations({ startDate: $ctrl.previousMonth)">
            <i class="fa fa-chevron-left"></i>
            <translate>Previous Month</translate>
        </a>
        <% unless @end_date >= Date.today %>
        &nbsp; &nbsp;
        <a ui-sref="donations({ startDate: $ctrl.nextMonth})">
            <translate>Next Month</translate>
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>
<div class="clr"></div>
<h2 translate>Donations for {{$ctrl.startDate}} through ${{endDate}}</h2>
<div class="table-responsive">
    <table class="tablelist donations" id="donations_table">
        <thead>
        <tr>
            <th ng-if="$ctrl.contact" translate>Donor</th>
            <th class="date" translate>Date</th>
            <th ng-if="!$ctrl.contact" translate>Donor</th>
            <th class="right" translate>Amount</th>
            <th ng-if="$ctrl.currentAccountList.multi_currencies_for_same_symbol"></th>
            <th ng-if="$ctrl.currentAccountList.multiple_designations" translate>Designation</th>
            <th translate>Method</th>
            <th translate>Motivation</th>
            <th class="appeal" translate>Appeal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render donations, account_list_exhibit: account_list_exhibit %>
        <% unless params[:page] %>
        </tbody>
        <% unless @contact %>
        <tfoot>
        <% totals_by_currency(donations).each do |d| %>
        <tr class="sum" ng-repeat="d in $ctrl.donationTotals">
            <td></td>
            <td class="right"><strong translate>Total {{d.currency}} Donations {{d.count}}</strong></td>
            <td class="right">{{d.sum}}</td>
            <td colspan="4"></td>
        </tr>
        </tfoot>
    </table>
</div><!-- responsive-table -->

<div id="js-edit_donation" style="display:none" title="{{'Edit Donation' | translate}}">
    <%= spinner(extra: 'edit-donation') %>
    <div class="form_wrapper"></div>
</div>

