<h1>
    <i class="fas fa-cloud-upload"></i>
    <translate>Import from TntConnect</translate>
</h1>
<div class="panel panel-default">
    <div class="panel-heading" translate>
            You can migrate all your contact information and history from TntConnect into MPDX. Most of your information will
            import straight into MPDX, including contact info, task history with notes, notes, user groups, and appeals. MPDX
            hides contacts with any of the not interested statuses, including not interested and never ask in MPDX (these
            contacts are imported, but will only show up if you search for hidden contacts).
    </div>
    <form ng-submit="$ctrl.save(f)" name="importForm" novalidate>
        <div class="panel-body">
            <div class="alert alert-info">
                <strong translate>You must have at least TntConnect 3.2</strong>
                <br>
                <a href="http://www.tntware.com/TntConnect/downloads/" target="_blank">
                    <i class="fas fa-download"></i>
                    <translate>Download Latest Version</translate>
                </a>
            </div>
            <strong translate>Export your Database from TntConnect:</strong>
            <ul>
                <li translate>Click on &quot;File&quot;, choose &quot;Utilities&quot; from the list. Then &quot;Maintenance&quot;.</li>
                <li translate>In the popup box, choose the top button, &quot;Export Database to XML&quot;.</li>
                <li translate>Then save to your computer.</li>
            </ul>

            <p>
                <i class="far fa-play-circle"></i>
                <a href="http://www.youtube.com/watch?v=EoWFRFIYMkQ&list=UUTjqVT-m3YXICbwaIu9_Gqg&index=22" target="_blank" translate>
                    If you need help, watch this video.
                </a>
            </p>

            <p>
                <div class="form-group btn btn-default" ng-model="f.file" ngf-select ngf-accept="'.xml, application/xml'" ngf-max-size="{{$ctrl.maxSize}}" name="file">
                    <translate>Choose File</translate>
                </div>
                {{f.file.name}}
                <div ng-if="importForm.file.$error.maxSize" translate-params-size="$ctrl.maxSizeInMB" class="text-danger" translate>File too large, {{size}}MB max</div>
            </p>

            <p>
                <span translate>Tags for all imported TntConnect contacts</span>
                <tag-selector ng-model="$ctrl.tags" tag-list="$ctrl.contactsTags.data"></tag-selector>
            </p>

            <div class="field radiocheck">
                <label for="override_false">
                    <input id="override_false" type="radio" value="false" ng-model="$ctrl.override">
                    <span translate>This import should only fill blank fields in current contacts and/or add new contacts.</span>
                </label>
            </div>

            <div class="field radiocheck">
                <label for="override_true">
                    <input id="override_true" type="radio" value="true" ng-model="$ctrl.override">
                    <span translate>This import should override all fields in current contacts (contact info, notes) and add new contacts.</span>
                </label>
            </div>
            <div ng-if="$ctrl.importing">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{$ctrl.progressPercentage}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: $ctrl.progressPercentage + '%'}">
                        <span class="sr-only" translate translate-params-percentage="$ctrl.progressPercentage">{{percentage}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!f.file || $ctrl.importing" translate>Import</button>
        </div>
    </form>
</div>