error {
    .backdrop {
        position: fixed;
        z-index: 25000;
        top: 0;
        right: 0;
        display: block;
        height: 100vh;
        width: 100vw;
        opacity: 0.35;
        background-color: black;
    }
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    .error-container {
        position: fixed;
        z-index: 25001;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        background-color: transparent;
        padding-top: $nav-height;
        div.error-bar {
            padding: 10px;
            color: $cru-white;
            background-color: darken($color-red, 10%)   ;
            width: 100vw;
            margin-top: 10px;
            margin-bottom: 10px;
            opacity: 1;
            a, a:visited {
                color: $cru-white;
            }
            .more-details {
                margin-bottom: 10px;
            }
        }
    }
}