<div class="backdrop"></div>
<div class="error-container">
    <div ng-repeat="error in $ctrl.session.errors" class="error-bar">
        <h1 ng-if="error.message">{{error.message}}</h1>
        <h1 ng-if="!error.message" translate>An error occurred while contacting the server.</h1>
        <div>
            <a ng-click="$ctrl.cancel(error)" class="btn btn-link" translate>Cancel</a>
            <a ng-if="error.promise" ng-click="$ctrl.retry(error)" class="btn btn-link" translate>Retry</a>
            <a ng-click="$ctrl.reload()" class="btn btn-link" translate>Reload</a>
            <a href="/logout" class="btn btn-link">Logout</a>
            <a ng-if="error.exception" ng-click="$ctrl.moreDetails(error)" class="btn btn-link" translate>More Details</a>
        </div>
        <div ng-if="error.moreDetails">
            <div class="more-details">Request: {{error.request}}</div>
            <div>Error: {{error.exception}}</div>
        </div>
    </div>
</div>