<div class="panel panel-default dash-panel panel-tasks">
    <div class="panel-heading" translate>
        Connect
    </div>
    <div class="panel-body dash-tasks">
        <span translate>Tasks overdue or due today</span>
        <ul class="plain-list">
            <li ng-repeat="task in $ctrl.tasksService.analytics.tasks_overdue_or_due_today_counts | orderBy: 'count' : true" ng-if="task.count > 0">
                <a ng-click="$ctrl.go(task.label)">
                    <span class="count">{{ task.count }}</span>
                    {{ task.label }}
                </a>
            </li>
        </ul>

        <a ui-sref="tasks" class="see-all see-all-tasks">
            <i class="fa fa-plus-square-o"></i>
            <span translate>See all {{ $ctrl.overdueCount }} tasks</span>
        </a>

        <a class="btn btn-blue btn-default btn-add-tasks" ng-click="$ctrl.addTask()"><i class="fa fa-plus-circle"></i> <span translate>Add a New Task</span></a>
    </div>
</div>
