<div class="panel panel-default" block-ui="connect">
    <div class="panel-heading">
        <a class="btn btn-default btn-sm pull-right" ng-click="$ctrl.addTask()">
            <translate>Add a New Task</translate>
        </a>
        <translate>Connect</translate>
    </div>
    <div class="panel-body">
        <h4 class="title" translate>
            <a ui-sref="tasks" translate>
                {{$ctrl.totalTasks()}} Tasks overdue or due today
            </a>
        </h4>
        <ul class="list-unstyled list-arrow">
            <li ng-repeat="task in $ctrl.tasks.analytics.tasks_overdue_or_due_today_counts | orderBy: 'count' : true | limitTo: $ctrl.limit" ng-if="task.count > 0">
                <a ui-sref="tasks({ filters: { activity_type: task.label } })">
                    <span class="count">{{ task.count }}</span>
                    {{ task.label }}
                </a>
            </li>
        </ul>
        <div ng-if="$ctrl.limit < $ctrl.totalTypes()">
            <a ng-click="$ctrl.limit = $ctrl.totalTypes()">
                <i class="fa fa-plus-square-o"></i>
                <translate translate-n="$ctrl.totalTypes()" translate-plural="See all {{$ctrl.totalTypes()}} task types">See 1 task type</translate>
            </a>
        </div>
    </div>
</div>
