<modal title="{{'Pick the winner of the merge' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <div class="row">
        <div class="col-sm-12" translate>
            Data from the "losers" will get copied to the "winner". No data will be lost by merging.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row" ng-repeat="person in $ctrl.selectedPeople">
                <input type="radio" ng-model="$ctrl.selectedPerson" ng-value="person.id" />
                <span>{{ person.first_name + ' ' + person.last_name }}</span>
            </div>
        </div>
    </div>
</modal>
