<modal>
    <modal-header title="Pick the winner of the merge" on-close="$hide()"></modal-header>
    <form name="personForm" ng-submit="$ctrl.mergePeople()" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" translate>
                    Data from the "losers" will get copied to the "winner". No data will be lost by merging.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" ng-repeat="person in $ctrl.people">
                        <input type="radio" ng-model="$ctrl.selectedPerson" ng-value="person.id" />
                        <span>{{ person.first_name + ' ' + person.last_name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-show="!$ctrl.currentlyMerging">
                <button type="button" class="btn btn-default pull-left" ng-click="$hide()" translate>Cancel</button>
                <button type="submit" class="btn btn-primary" translate>Merge</button>
            </div>
            <div ng-show="$ctrl.currentlyMerging" class="loading-spinner">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only" translate>Loading</span>
            </div>
        </div>
    </form>
</modal>