/* Dependencies */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "styles/angularModal";
@import "styles/bootstrap-tagsinput";
@import "styles/typeahead";
@import "~ng-tags-input/build/ng-tags-input";
@import "~ng-tags-input/build/ng-tags-input.bootstrap";
@import "~angular-motion/dist/angular-motion";
@import "~bootstrap-additions/dist/bootstrap-additions";
@import "~angular-xeditable/dist/css/xeditable";
@import "~ng-sortable/dist/ng-sortable";
$flag-icon-css-path: "~flag-icon-css/flags";
@import "~flag-icon-css/sass/flag-icon";

/* Internal */
@import "styles/vars";
@import "styles/elements";
@import "styles/forms";
@import "styles/filters";
@import "styles/layout";
@import "styles/placeholders";
@import "styles/notices";
@import "styles/popovers";
@import "styles/cards";
@import "styles/ico";
@import "styles/errors";
@import "styles/bootstrap_overrides";
@import "styles/chosen_bootstrap";
@import "styles/buttons";
@import "styles/panels";

/* Components */
@import "blockUI/blockUI";
@import "menu/menu";
@import "menu/search/search";
@import "common/cover/cover";
@import "common/modal/modal";
@import "contacts/filter/mapContacts/mapContacts";
@import "contacts/filter/tags/tags";
@import "contacts/reconcilePartners/reconcilePartners";
@import "contacts/list/list";
@import "contacts/list/item/item";
@import "contacts/show/show";
@import "contacts/show/horizontalTabsSortable";
@import "contacts/show/details/details";
@import "contacts/show/address/address";
@import "contacts/show/people/people";
@import "contacts/show/people/person/person";
@import "home/home";
@import "home/progress/progress";
@import "setup/setup";
@import "tasks/list/list";
@import "tasks/search/search";
@import "tools/tools";
@import "reports/reports";
@import "bottom/bottom";

/* Overrides */
@import "styles/glyphicons";

/* replace with sass variable once new style is ready */
.border-primary {
    border-color: #f9b625;
}

.border-success {
    border-color: #3c763d;
}
