<!doctype html>
<html ng-app="mpdx" lang="en" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title ng-bind="pageTitle ? 'MPDX | ' + (pageTitle  | translate) : 'MPDX'">MPDX</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.digitalData = {
            page: {
                pageInfo: {
                    pageName: 'no pageName found'
                }
            },
            user: [{
                profile: [{
                    profileInfo: {}
                }]
            }]
        };
    </script>
    <% if(htmlWebpackPlugin.options.env === 'production' || htmlWebpackPlugin.options.env === 'next') { %>
        <script src="//assets.adobedtm.com/3202ba9b02b459ee20779cfcd8e79eaf266be170/satelliteLib-7973047d2bbc9bb73f3d16528aa95985e95979d5.js"></script>
    <% } else { %>
        <script src="//assets.adobedtm.com/3202ba9b02b459ee20779cfcd8e79eaf266be170/satelliteLib-7973047d2bbc9bb73f3d16528aa95985e95979d5-staging.js"></script>
    <% } %>
</head>
<body app>
    <ui-view>
        <div class="full-page">
            <div class="loading-spinner">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only" translate>Loading</span>
            </div>
        </div>
    </ui-view>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCSGxKR6LxY26xz9JajJ1_KSz-gv6gzOu0&libraries=places" async></script>
    <% if(htmlWebpackPlugin.options.env === 'production' || htmlWebpackPlugin.options.env === 'next') { %>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-325725-27']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7BQCNL"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T7BQCNL');
        </script>
    <% } %>
    <script type="text/javascript">window._satellite && window._satellite.pageBottom();</script>
</body>
</html>
