<div class="section">
    <div class="navbar-quick hidden-sm hidden-xs">
        <small>
            <a class="text-muted" ui-sref="reports.balances" ng-if="$ctrl.balance > 0" data-title="{{::'May take a few days to update' | translate}}" data-placement="bottom" bs-tooltip>
                <translate>Balance:</translate>
                {{$ctrl.balance}} {{$ctrl.accounts.current.default_currency}}
            </a>
        </small>
    </div>
</div>
<div class="section" ng-if="$ctrl.accounts.current.monthly_goal && $ctrl.accounts.current.monthly_goal > 0">
    <a id="mpd_progress_bar" ui-sref="contacts({ filters: {status: ['Partner - Financial'], pledge_received: 'false' } })"
       data-title="{{ $ctrl.title }}"
       bs-tooltip="tooltip" data-placement="bottom">
        <div class="bar bar-pledged" ng-style="{ width: $ctrl.reports.goals.pledged_percent + '%' }"></div>
        <div class="bar bar-received" ng-style="{ width: $ctrl.reports.goals.in_hand_percent + '%' }"></div>
        <span class="value" ng-class="{ right: $ctrl.reports.goals.in_hand_percent < 60 }">
          {{ $ctrl.reports.goals.in_hand_percent || '0.0' }}%/{{ $ctrl.reports.goals.pledged_percent || '0.0' }}%
        </span>
    </a>
</div>
