<modal>
    <modal-header title="Add Tags" on-close="$hide()"></modal-header>
    <form class="modal-body">
        <p>Choose an existing tag, or create new tag (separate multiple tags with commas):</p>
        <ul>
            <li ng-repeat="tag in $ctrl.tagsService.data">
                <a ng-click="$ctrl.addTag(tag)">{{ tag }}</a>
            </li>
        </ul>
        <div class="form-group">
            <label for="new-tag">New Tag:</label>
            <input class="form-control" id='new-tag' ng-model="$ctrl.models.addTags.newTag"/>
        </div>
        <div class="modal-footer">
            <button ng-click="$ctrl.addTag()" type="button" class="btn btn-primary">Add Tag</button>
            <button ng-click="$hide()" type="button" class="btn btn-default">Close</button>
        </div>
    </form>
</modal>