<modal title="{{'Add Tags' | translate}}" cancel="$hide()" save="$ctrl.save()">
    <p translate>Choose an existing tag</p>
    <ul>
        <li ng-repeat="tag in $ctrl.contactsTags.data">
            <a ng-click="$ctrl.save(tag)">{{ tag }}</a>
        </li>
    </ul>
    <div class="form-group">
        <label for="new-tag"><translate>Create New Tags (separate multiple tags with commas)</translate> <span class="text-danger">*</span></label>
        <input class="form-control" id="new-tag" ng-model="$ctrl.tags"/>
    </div>
</modal>
