<h4>
    <a class="name" ui-sref=".show({appealId: $ctrl.appeal.id})">{{$ctrl.appeal.name}}</a>
    <span>
        {{$ctrl.appeal.pledges_amount_processed | currency: '' }} / {{$ctrl.appeal.amount | currency: '' }}
    </span>
    <a ng-click="$ctrl.appeals.setPrimaryAppeal($ctrl.appeal)">
        <i class="far fa-star" ng-if="$ctrl.appeal.id !== $ctrl.accounts.current.primary_appeal.id"></i>
        <i class="fas fa-star" ng-if="$ctrl.appeal.id === $ctrl.accounts.current.primary_appeal.id"></i>
    </a>
</h4>
<appeals-progressbar appeal="$ctrl.appeal"></appeals-progressbar>
