cover {
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-reverse;
        background-size: cover;
        background-position: center center;
        overflow: auto;
        .cover-item {
            max-width: 550px;
            margin: $gutter*2 auto;
        }
    }
    .cover-copyright {
        position: fixed;
        padding: 5px 10px;
        bottom: 10px;
        left: 10px;
        background: rgba(0,0,0,0.4);
        color: #fff;
        font-size: 12px;
    }
}
