cover {
    .cover {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        .cover-item {
            max-width: 450px;
        }
    }
    .cover-copyright {
        position: fixed;
        padding: 5px 10px;
        bottom: 10px;
        left: 10px;
        background: rgba(0,0,0,0.4);
        color: #fff;
        font-size: 12px;
    }
}
