task-item-comment {
    $comment-body-height: 15px;
    $comment-footer-height: 13px;
    $comment-footer-background-color: #ADADAD;
    margin-bottom: 10px;
    > div.comment {
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border: 1px solid $cru-gray-tint;
        border-radius: $border-radius;
        transition: border .5s linear;
        background-color: $cru-white;
        &:hover {
            border: 1px solid $cru-gray-silver;
            > div.comment-container > div.comment-edit-controls {
                @extend .fade-in.ng-enter;
                opacity: 1;
            }
        }
        > div.comment-container {
            display: grid;
            grid-template-columns: auto 60px;
            grid-template-rows: $comment-body-height $comment-footer-height;
            div.comment-body {
                grid-column: 1;
                grid-row: 1;
                color: $color-text;
                font-size: 12px;
                line-height: $comment-body-height;
            }
            div.comment-foot {
                grid-column: 1;
                grid-row: 2;
                color: $comment-footer-background-color;
                font-size: 10px;
                line-height: $comment-footer-height;
            }
            div.comment-edit-controls {
                grid-column: 2;
                grid-row: 1 / 2;
                @extend .fade-in.ng-leave;
                opacity: 0;
            }
        }
    }

    textarea {
        margin-bottom: 15px;
    }
}