<div class="comment">
    <div ng-if="!$ctrl.comment.edit"
         class="comment-container">
        <div class="comment-body">{{ ::$ctrl.comment.body }}</div>
        <div class="comment-foot">
            <span ng-if="::$ctrl.comment.person">
                {{ ::$ctrl.comment.person.first_name }} {{ ::$ctrl.comment.person.last_name }},
            </span>
            {{ ::$ctrl.comment.created_at | localize }}
        </div>
        <div class="comment-edit-controls" ng-if="$ctrl.commentBelongsToUser($ctrl.comment)">
            <a class="btn btn-xs btn-danger"
               ng-click="$ctrl.deleteComment()"
               title="{{::'Delete Comment' | translate}}">
                <i class="far fa-trash"></i>
            </a>
            <a class="btn btn-xs btn-primary"
               ng-click="$ctrl.comment.edit = true;"
               title="{{::'Edit Comment' | translate}}">
                <i class="fas fa-pencil"></i>
            </a>
        </div>
    </div>
    <div ng-if="$ctrl.comment.edit">
        <form ng-submit="$ctrl.editComment()">
            <textarea class="form-control" ng-model="$ctrl.comment.body" required></textarea>
            <div class="text-right">
                <button ng-click="$ctrl.comment.edit = false" class="btn btn-link" translate>Cancel</button>
                <button type="submit" class="btn btn-primary" translate>Save</button>
            </div>
        </form>
    </div>
</div>