<!--<div ng-if="$ctrl.users.current.options.welcome_tour.value !== 'done'">-->
    <!--<div class="welcome-container">-->
        <!--<div class="row welcome-completed-row" ng-if="$ctrl.users.current.options.welcome_tour == null">-->
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0">-->
                <!--<a ng-click="$ctrl.finish()"><i class="fa fa-times welcome-completed-dismiss"></i></a>-->
                <!--<h1 translate>Great job! Check out some more tutorials videos and help articles to learn about some of our other cool features.</h1>-->
                <!--<hr>-->
                <!--<div class="tutorial-links">-->
                    <!--<a href="https://www.gcx.org/mpdxhelp/about/"><i class="fa fa-youtube-play"></i><translate>Take a tour</translate></a>-->
                    <!--<a href="https://www.gcx.org/mpdxhelp/2015/07/01/organizing-your-contacts/"><i class="fa fa-youtube-play"></i><translate>Organize Your Contacts</translate></a>-->
                    <!--<a href="https://www.youtube.com/watch?v=ui6snOtmd50"><i class="fa fa-youtube-play"></i><translate>Contact Filters and Tags</translate></a>-->
                    <!--<a href="https://www.youtube.com/watch?v=3m3E1CRRoq4"><i class="fa fa-youtube-play"></i><translate>Add/Edit in Bulk</translate></a>-->
                    <!--<a href="https://www.youtube.com/watch?v=ijy4UzZqN8I"><i class="fa fa-youtube-play"></i><translate>Add a Task</translate></a>-->
                    <!--<a href="https://www.youtube.com/watch?v=3RWae_Sj8u8"><i class="fa fa-youtube-play"></i><translate>Task Filters and Tags</translate></a>-->
                    <!--<a href="https://www.gcx.org/mpdxhelp/track-appeals-and-goals/"><i class="fa fa-youtube-play"></i><translate>Track an Appeal or Goal</translate></a>-->
                    <!--<a href="https://www.gcx.org/mpdxhelp/training-videos/">-->
                        <!--<i class="fa fa-share"></i><translate>Many More On Our Help Site</translate>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<h2>-->
                    <!--<translate>Find more anytime at</translate> <a href="https://www.gcx.org/mpdxhelp">www.gcx.org/mpdxhelp</a>-->
                    <!--<br>-->
                    <!--<translate>or by clicking 'Help' in the top menu bar</translate>-->
                <!--</h2>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div>
    <h1>
        <translate>Hi</translate>
        {{ $ctrl.users.current.first_name }}!
        <span class="smallhead" translate>Here's whats happening...</span>
    </h1>
    <div class="row">
        <unavailable></unavailable>
        <!--<donation-summary-chart></donation-summary-chart>-->
    </div>
</div>