<div ng-if="$ctrl.flash.tour_complete || $ctrl._.has($ctrl.users.current, 'setup')">
    <div class="welcome-container">
        <div class="row fadable" ng-class="{ 'faded': $ctrl.flash.tour_complete }">
            <div class="getting_started_title col-md-6 col-md-offset-3">
                <h1>
                    {{ $ctrl.users.current.stale ? ('Welcome back' | translate) : ('Hi' | translate) }}
                    {{ $ctrl.users.current.first_name }}
                </h1>
                <h3 translate>While there's a lot you can do in MPDX, here's a few easy steps to get you up and going:</h3>
            </div>
        </div>
        <div class="row welcome-completed-row" ng-class="{'uncompleted': !flash.tour_complete }">
            <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0">
                <i class="fa fa-times welcome-completed-dismiss"></i>
                <h1 translate>Great job! Check out some more tutorials videos and help articles to learn about some of our other cool features.</h1>
                <hr>
                <div class="tutorial-links">
                    <a ng-href="tutorial[0]" ng-repeat="tutorial in $ctrl.tutorials"><i class="fa fa-youtube-play"></i><span translate>{{ tutorial[1] }}</span></a>
                    <a href="https://www.gcx.org/mpdxhelp/training-videos/">
                        <i class="fa fa-share"></i><span translate>Many More On Our Help Site</span>
                    </a>
                </div>
                <h2>
                    <span translate>Find more anytime at</span> <a href="https://www.gcx.org/mpdxhelp">www.gcx.org/mpdxhelp</a>
                    <br>
                    <span translate>or by clicking 'Help' in the top menu bar</span>
                </h2>
            </div>
        </div>
        <div class="row fadable" ng-class="{ 'faded': $ctrl.flash.tour_complete }">
            <div class="col-md-4 getting-started-panel" ng-class="{ 'completed': !$ctrl._.has($ctrl.users.current, 'setup.import') }" data-panel="import">
                <div class="getting_started_number">1</div>
                <i class="fa fa-check welcome-panel-completed"></i>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="imports-table">
                            <tr>
                                <td class="identify">
                                    <h3>Google</h3>
                                </td>
                                <td class="connections" data-behavior="account">
                                    <div class="account_single" ng-repeat="account in $ctrl.users.current.googleAccounts">
                                        <span class="account_name">{{ account }}</span>
                                        <a ng-if="account.token_expired && !account.refresh_token" class="btn btn-xs btn-secondary desired_action" href="/preferences/integrations/google" translate>Refresh Google Account</a>
                                        <a ng-if="!account.token_expired || account.refresh_token" class="btn btn-xs btn-secondary" href="/preferences/integrations/google"><i class="fa fa-cloud-download"></i> <span translate>Import Contacts</span></a>
                                    </div>
                                    <!-- STUB auth_link('google') -->
                                </td>
                            </tr>
                            <tr ng-repeat="source in $ctrl.sources">
                                <td class="identify">
                                    <h3>{{ source[0] }}</h3>
                                </td>
                                <td class="connections" data-behavior="account">
                                    <a class="btn btn-xs btn-secondary" href="/preferences/imports" translate>Import {{ $ctrl.source ? source[1] + ' ' : '' }} Contacts</a>
                                </td>
                            </tr>
                        </table>
                        <p class="note" translate>
                            Run more imports by clicking the gear in the top right, and selecting 'Networks&nbsp;&&nbsp;Imports
                        </p>
                    </div>
                </div>
                <h2 translate>Import Contacts</h2>
            </div>
            <div class="col-md-4 getting-started-panel" ng-class="{ 'completed': !$ctrl._.has($ctrl.users.current, 'setup.goal') }" data-panel="goal">
                <div class="getting_started_number">2</div>
                <i class="fa fa-check welcome-panel-completed"></i>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-submit="$ctrl.setPreferences(f)" ng-form="f">
                            <label for="monthlyGoal" translate>Monthly goal</label>
                            <div class="input-group">
                                <input ng-model="f.monthlyGoal" id="monthlyGoal" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" translate>Save</button>
                                </span>
                            </div>
                            <p translate>You can change this in the future if you aren't sure.</p>
                            <hr>
                            <a class="btn btn-secondary" href="/preferences/notifications" translate>Setup Notifications</a>
                            <p class="note" translate>
                                Change these in the future by clicking the gear in the top right, and selecting 'Preferences'
                            </p>
                        </form>
                    </div>
                </div>
                <h2 translate>Setup Your Support Goal And&nbsp;Notifications</h2>
            </div>
            <div class="col-md-4 getting-started-panel" ng-class="{ 'completed': !$ctrl._.has($ctrl.users.current, 'setup.contacts') }" data-panel="contacts">
                <div class="getting_started_number">3</div>
                <i class="fa fa-check welcome-panel-completed"></i>
                <div class="panel panel-default">
                    <div class="panel-body" ng-controller="smallNamestorm as namestorm">
                        <form ng-submit="namestorm.addContact()">
                            <p translate>Let's namestorm a few contacts. You can start with the contact name, we normally do 'Last Name, First'</p>
                            <p ng-cloak>{{namestorm.error}}</p>
                            <div class="input-group">
                                <input type="text" ng-model="namestorm.newContactName"
                                       ng-disabled="namestorm.apiBusy" id="welcome-new-contact-name"
                                       placeholder="{{ 'Last Name, First Name' | translate }}" class="form-control" />
                                <span class="input-group-btn">
                                    <input type="submit" value="Add" class="btn btn-primary"
                                        ng-disabled="namestorm.newContactName.length == 0 || namestorm.apiBusy"/>
                                </span>
                            </div>
                            <select class="form-control" ng-model="namestorm.newContactStatus"
                                    ng-options="status.value as status.text for status in namestorm.contactStatuses">
                            </select>
                            <div ng-cloak ng-show="namestorm.contacts.length > 0">
                                <p translate>Here are your new contacts, click one to edit more of their information!</p>
                                <ul>
                                    <li ng-repeat="contact in namestorm.contacts">
                                        <a ui-sref="contacts.edit(contactId: contact.id)" target="_blank">{{contact.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <p class="note" translate>
                            Add more later by clicking 'Quick&nbsp;Add' > 'Add&nbsp;Contact' in the top right
                        </p>
                    </div>
                </div>
                <h2 translate>Add A Contact</h2>
            </div>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.flash.tour_complete && !$ctrl._.any($ctrl.users.current.setup)">
    <h1>
        <span translate>Hi</span>
        {{ $ctrl.users.current.first_name }}!
        <span class="smallhead" translate>Here's whats happening...</span>
    </h1>
    <div class="row">
        <donation-summary-chart></donation-summary-chart>
    </div>
</div>