<h4 class="title" translate>Anniversaries This Week</h4>
<ul class="list-unstyled" ng-if="$ctrl.anniversaries_this_week.length">
    <li ng-repeat="contact in $ctrl.anniversaries_this_week | orderBy : $ctrl.partialDateSort | limitTo: $ctrl.limit">
        <span ng-repeat="person in contact.people track by person.id">
            <span ng-if="$index === 0">
                <two-part-date-display month="person.anniversary_month" day="person.anniversary_day"></two-part-date-display>
            </span>
            <a ui-sref="contacts.show({ contactId: contact.id })">{{person.first_name}} {{person.last_name}}</a>
            <facebook-link facebook-account="person.facebook_accounts[0]" ng-if="person.facebook_accounts[0]"></facebook-link>
            <twitter-link twitter-account="person.twitter_accounts[0]" ng-if="person.twitter_accounts[0]"></twitter-link>
            <email-link ng-repeat="email in person.email_addresses" ng-if="email.primary" email-address="email.email"></email-link>
        </span>
    </li>
    <li ng-if="$ctrl.anniversaries_this_week.length > $ctrl.limit">
        <a ng-click="$ctrl.limit = $ctrl.anniversaries_this_week.length">
            <i class="far fa-plus-square"></i>
            <translate translate-n="$ctrl.anniversaries_this_week.length" translate-plural="See all {{ $count }} Anniversaries">See 1 Anniversary</translate>
        </a>
    </li>
</ul>
<p ng-if="$ctrl.anniversaries_this_week.length === 0" translate>
    No anniversaries this week
</p>
