.contacts-find-duplicates {
  .contact {
    height: 112.5px;
    border: solid 2px #dbdbdb;
    margin-bottom: 38.5px;

    &.selected {
      border-color: #bbcd5c;
    }

    &.dont-merge {
      border-color: #e55b36;
    }

    .avatar {
      margin: 14px;
      display: inline;
    }
  }

  .choices {
    i {
      font-size: 32px;
      margin-bottom: 9px;
      display: block;
      color: #d8d8d8;
    }

    .choice-left, .choice-right {
      &.selected {
        color: #bbcd5c;
      }
    }

    .choice-cancel.selected {
      color: #e55b36;
    }
  }

  .actions {
    span {
      margin: 0 10px;
    }
  }
}