<tools-sidebar ng-class="{'no-sidebar' : $ctrl.$state.is('tools') || $ctrl.$state.is('tools.appeals.show') }"></tools-sidebar>
<ui-view ng-class="{'no-sidebar' : $ctrl.$state.is('tools') || $ctrl.$state.is('tools.appeals.show') }">
    <div class="panel panel-default panel-selected panel__prompt" ng-if="$ctrl.setup">
        <div class="panel-body setup container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <h2>
                        <img src="../images/setup/icon_alert_2x.png" class="icon-alert" />
                        <translate>Select one of the highlighted tools below to begin importing your data.</translate>
                    </h2>
                </div>
                <div class="col-sm-3 text-right">
                    <a ui-sref="home" class="btn btn-primary">Skip Step</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <div class="tool"
             ui-sref="{{tool.link}}"
             ng-class="{selected: ($ctrl.setup && tool.imports) || ($ctrl.tools.analytics[tool.analyticKey] > 0 && !$ctrl.setup)}"
             ng-repeat="tool in $ctrl.tools.data"
             ng-if="tool.enabled || $ctrl.users.current.preferences.admin">
            <div class="icon">
                <i class="{{tool.icon}}"></i><span class="badge" ng-if="$ctrl.tools.analytics[tool.analyticKey] > 0 && !$ctrl.setup">{{$ctrl.tools.analytics[tool.analyticKey]}}</span>
            </div>
            <h4 class="title">{{tool.title}}</h4>
            <p>{{tool.description}}</p>
        </div>
    </div>
</ui-view>
