<div class="nav--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="section">
                        <div class="dropdown">
                            <a bs-dropdown type="button">
                                <i class="fa fa-angle-down"></i>
                                <translate>Tools</translate>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" ng-repeat="tool in $ctrl.tools.data" ng-if="tool.enabled">
                                    <a ng-click="$ctrl.$state.go(tool.link)">
                                        <i class="{{tool.icon}}"></i>
                                        {{tool.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section" ng-if="$ctrl.$state.$current.name != 'tools'">
                        {{$ctrl.$state.$current.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav--secondary-padding"></div>
<ui-view>
    <div class="filter-body">
        <div class="panel panel-default panel-selected panel__prompt" ng-if="$ctrl.setup">
            <div class="panel-body setup container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>
                            <img src="../images/setup/icon_alert_2x.png" class="icon_alert" />
                            <translate>Select one of the highlighted tools below to begin importing your data.</translate>
                        </h2>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a ui-sref="home" class="btn btn-primary">Skip Step</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools row filter-content">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="tool in $ctrl.tools.data" ng-if="tool.enabled">
                <div class="tool well" ui-sref="{{tool.link}}" ng-class="{selected: $ctrl.setup && tool.imports}">
                    <i class="{{tool.icon}}"></i>
                    <h4 class="title">{{tool.title}}</h4>

                    <p>{{tool.description}}</p>
                </div>
            </div>
        </div>
    </div>
</ui-view>
